interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 8ce1acc3-75b7-446a-857c-386cccb97db6
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 81515145-17e8-4d31-8df7-702b5a0ae855
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 8ce1acc3-75b7-446a-857c-386cccb97db6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TeamOps000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"173e91d3-03c1-47c8-8c18-44f55e477f9d","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/173e91d3-03c1-47c8-8c18-44f55e477f9d"}'
    headers:
      activityid:
      - 1a4c7a2f-3e8f-4275-97c7-19a163b7a8be
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - d46325bf-7121-4a39-8702-ab1ce62681a7
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1a4c7a2f-3e8f-4275-97c7-19a163b7a8be
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/173e91d3-03c1-47c8-8c18-44f55e477f9d
  response:
    body:
      string: '{"id":"173e91d3-03c1-47c8-8c18-44f55e477f9d","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/173e91d3-03c1-47c8-8c18-44f55e477f9d","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/173e91d3-03c1-47c8-8c18-44f55e477f9d"}}}'
    headers:
      activityid:
      - 982b1b0f-c4af-4065-bdbc-45d9dbf373b4
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5894399e-e0b1-4e67-969a-1bb96dd83c83
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 982b1b0f-c4af-4065-bdbc-45d9dbf373b4
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/TeamOps000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"507e39fb-3f30-420e-a26e-d89e277adbf0","name":"TeamOps000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/507e39fb-3f30-420e-a26e-d89e277adbf0","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":975,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/507e39fb-3f30-420e-a26e-d89e277adbf0"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/TeamOps000001"}},"visibility":"private","defaultTeam":{"id":"72d0cd24-4d39-4b30-a24a-dbd4bc36fc20","name":"TeamOps000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/507e39fb-3f30-420e-a26e-d89e277adbf0/teams/72d0cd24-4d39-4b30-a24a-dbd4bc36fc20"},"lastUpdateTime":"2025-01-02T12:39:35.307Z"}'
    headers:
      activityid:
      - f2603be0-77aa-4c8d-85b5-02e2a4304438
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - a8e54f57-01b8-4585-a4b3-3b2d681ad009
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - f2603be0-77aa-4c8d-85b5-02e2a4304438
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "team_name000002", "description": "Sample description"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/TeamOps000001/teams
  response:
    body:
      string: '{"id":"10548df8-13ff-40d5-8c8f-b4f08a3a2dfc","name":"team_name000002","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/507e39fb-3f30-420e-a26e-d89e277adbf0/teams/10548df8-13ff-40d5-8c8f-b4f08a3a2dfc","description":"Sample
        description","identityUrl":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/10548df8-13ff-40d5-8c8f-b4f08a3a2dfc","projectName":"TeamOps000001","projectId":"507e39fb-3f30-420e-a26e-d89e277adbf0","identity":{"id":"10548df8-13ff-40d5-8c8f-b4f08a3a2dfc","descriptor":"Microsoft.TeamFoundation.Identity;S-1-9-1551374245-4214849104-809438786-2725173406-662363120-1-3596992961-2632036426-2349247045-4287955018","subjectDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjE0ODQ5MTA0LTgwOTQzODc4Ni0yNzI1MTczNDA2LTY2MjM2MzEyMC0xLTM1OTY5OTI5NjEtMjYzMjAzNjQyNi0yMzQ5MjQ3MDQ1LTQyODc5NTUwMTg","providerDisplayName":"[TeamOps000001]\\team_name000002","isActive":true,"isContainer":true,"members":[],"memberOf":[],"masterId":"10548df8-13ff-40d5-8c8f-b4f08a3a2dfc","properties":{"Microsoft.TeamFoundation.Team":{"$type":"System.Boolean","$value":true},"SchemaClassName":{"$type":"System.String","$value":"Group"},"Description":{"$type":"System.String","$value":"Sample
        description"},"Domain":{"$type":"System.String","$value":"vstfs:///Classification/TeamProject/507e39fb-3f30-420e-a26e-d89e277adbf0"},"Account":{"$type":"System.String","$value":"team_name000002"},"SecurityGroup":{"$type":"System.String","$value":"SecurityGroup"},"SpecialType":{"$type":"System.String","$value":"Generic"},"ScopeId":{"$type":"System.String","$value":"751c4c86-c37d-49fb-bbcb-a5afca1d8406"},"ScopeType":{"$type":"System.String","$value":"TeamProject"},"LocalScopeId":{"$type":"System.String","$value":"507e39fb-3f30-420e-a26e-d89e277adbf0"},"SecuringHostId":{"$type":"System.String","$value":"a9bae0de-049f-43b5-a1ff-18f8f805fbe8"},"ScopeName":{"$type":"System.String","$value":"TeamOps000001"},"VirtualPlugin":{"$type":"System.String","$value":""}},"resourceVersion":2,"metaTypeId":255}}'
    headers:
      activityid:
      - 1a4c40b3-3e8f-4275-97c7-19a163b7a8be
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - d46325bf-7121-4a39-8702-ab1ce62681a7
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1a4c40b3-3e8f-4275-97c7-19a163b7a8be
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/TeamOps000001/teams/10548df8-13ff-40d5-8c8f-b4f08a3a2dfc
  response:
    body:
      string: '{"id":"10548df8-13ff-40d5-8c8f-b4f08a3a2dfc","name":"team_name000002","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/507e39fb-3f30-420e-a26e-d89e277adbf0/teams/10548df8-13ff-40d5-8c8f-b4f08a3a2dfc","description":"Sample
        description","identityUrl":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/10548df8-13ff-40d5-8c8f-b4f08a3a2dfc","projectName":"TeamOps000001","projectId":"507e39fb-3f30-420e-a26e-d89e277adbf0"}'
    headers:
      activityid:
      - 1a4c4bee-3e8f-4275-97c7-19a163b7a8be
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - d46325bf-7121-4a39-8702-ab1ce62681a7
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1a4c4bee-3e8f-4275-97c7-19a163b7a8be
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "updated_000004", "description": "Sample updated description"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/TeamOps000001/teams/team_name000002
  response:
    body:
      string: '{"id":"10548df8-13f[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/TeamOps000001/teams/TeamOps000001%20Team/members
  response:
    body:
      string: '{"value":[{"isTeamAdmin":true,"identity":{"displayName":"Soujanya Bestala
        (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_api/_common/identityImage?id=22157d54-1821-6536-a446-928b06348385","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}}],"count":1}'
    headers:
      activityid:
      - 336c4d95-baca-454c-8c5f-d3021c79e3dd
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f77fcf17-141f-4e77-88af-43d7b2bf292a
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 336c4d95-baca-454c-8c5f-d3021c79e3dd
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/507e39fb-3f30-420e-a26e-d89e277adbf0
  response:
    body:
      string: '{"id":"1806200b-e0e5-4107-b80e-4676c61342f6","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/1806200b-e0e5-4107-b80e-4676c61342f6"}'
    headers:
      activityid:
      - f2602fae-77aa-4c8d-85b5-02e2a4304438
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - a8e54f57-01b8-4585-a4b3-3b2d681ad009
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - f2602fae-77aa-4c8d-85b5-02e2a4304438
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/1806200b-e0e5-4107-b80e-4676c61342f6
  response:
    body:
      string: '{"id":"1806200b-e0e5-4107-b80e-4676c61342f6","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/1806200b-e0e5-4107-b80e-4676c61342f6","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/1806200b-e0e5-4107-b80e-4676c61342f6"}}}'
    headers:
      activityid:
      - 1a4c51dc-3e8f-4275-97c7-19a163b7a8be
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - d46325bf-7121-4a39-8702-ab1ce62681a7
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1a4c51dc-3e8f-4275-97c7-19a163b7a8be
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
