interactions:
- request:
    body: '{"name": "GKEyDZDy"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories
  response:
    body:
      string: '{"id":"ff1343fb-45c1-4e24-9753-f0aaf62b8f50","name":"GKEyDZDy","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50","project":{"id":"b810b0b0-a954-403b-9795-f0c9d0c9cfe9","name":"PullRequestLiveTest","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/b810b0b0-a954-403b-9795-f0c9d0c9cfe9","state":"wellFormed","revision":717,"visibility":"organization","lastUpdateTime":"2024-01-09T16:32:42.21Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/PullRequestLiveTest/_git/GKEyDZDy","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/PullRequestLiveTest/GKEyDZDy","webUrl":"https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_git/GKEyDZDy","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 18b15787-7b57-4743-a79e-73a155db377d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 00ff2b08-bd50-434a-893e-43641bdbfe31
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 18b15787-7b57-4743-a79e-73a155db377d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/importRequests
  response:
    body:
      string: '{"importRequestId":54,"repository":{"id":"ff1343fb-45c1-4e24-9753-f0aaf62b8f50","name":"GKEyDZDy","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50","project":{"id":"b810b0b0-a954-403b-9795-f0c9d0c9cfe9","name":"PullRequestLiveTest","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/b810b0b0-a954-403b-9795-f0c9d0c9cfe9","state":"wellFormed","revision":717,"visibility":"organization","lastUpdateTime":"2024-01-09T16:32:42.21Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/PullRequestLiveTest/_git/GKEyDZDy","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/PullRequestLiveTest/GKEyDZDy","webUrl":"https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_git/GKEyDZDy","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/importRequests/54"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50"}},"url":"https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/importRequests/54"}'
    headers:
      activityid:
      - 53584521-4abe-47a2-82a0-8110aac68309
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - b97ff233-9513-4ce7-8a9b-cbb5938dff9f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 53584521-4abe-47a2-82a0-8110aac68309
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/importRequests/54
  response:
    body:
      string: '{"importRequestId":54,"repository":{"id":"f[...]
[...]
- request:
    body: '{"description": "Sample PR description", "reviewers": [], "sourceRefName":
      "refs/heads/testbranch", "targetRefName": "refs/heads/main", "title": "Fixing
      a bug in cli engine"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/pullRequests
  response:
    body:
      string: '{"repository":{"id":"ff1343fb-45c1-4e24-9753-f0aaf62b8f50","name":"GKEyDZDy","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50","project":{"id":"b810b0b0-a954-403b-9795-f0c9d0c9cfe9","name":"PullRequestLiveTest","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/b810b0b0-a954-403b-9795-f0c9d0c9cfe9","state":"wellFormed","revision":717,"visibility":"organization","lastUpdateTime":"2024-01-09T16:32:42.21Z"},"size":1602,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/PullRequestLiveTest/_git/GKEyDZDy","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/PullRequestLiveTest/GKEyDZDy","webUrl":"https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_git/GKEyDZDy","isDisabled":false,"isInMaintenance":false},"pullRequestId":35,"codeReviewId":35,"status":"active","createdBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_api/_common/identityImage?id=22157d54-1821-6536-a446-928b06348385","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"creationDate":"2025-01-03T12:30:41.9858373Z","title":"Fixing
        a bug in cli engine","description":"Sample PR description","sourceRefName":"refs/heads/testbranch","targetRefName":"refs/heads/main","mergeStatus":"queued","isDraft":false,"mergeId":"56e80cc1-4914-4705-81f2-0df20b122200","lastMergeSourceCommit":{"commitId":"994b4ee248ede8b1d046da3dfd729af05410429c","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/commits/994b4ee248ede8b1d046da3dfd729af05410429c"},"lastMergeTargetCommit":{"commitId":"6c396801caff9a262bdd7e16127365d827811a0f","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/commits/6c396801caff9a262bdd7e16127365d827811a0f"},"reviewers":[],"labels":[],"url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/pullRequests/35","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/pullRequests/35"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50"},"workItems":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/pullRequests/35/workitems"},"sourceBranch":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/refs/heads/testbranch"},"targetBranch":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/refs/heads/main"},"statuses":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/pullRequests/35/statuses"},"sourceCommit":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/commits/994b4ee248ede8b1d046da3dfd729af05410429c"},"targetCommit":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/commits/6c396801caff9a262bdd7e16127365d827811a0f"},"createdBy":{"href":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385"},"iterations":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/pullRequests/35/iterations"}},"supportsIterations":true,"artifactId":"vstfs:///Git/PullRequestId/b810b0b0-a954-403b-9795-f0c9d0c9cfe9%2fff1343fb-45c1-4e24-9753-f0aaf62b8f50%2f35"}'
    headers:
      activityid:
      - 42f4f3ec-f5aa-489b-829b-6b935a83b968
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f0cc34b2-4918-45ae-99cc-98ed5fcaeba0
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 42f4f3ec-f5aa-489b-829b-6b935a83b968
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/git/pullRequests/35
  response:
    body:
      string: '{"repository":{"id":"ff1343fb-45c1-4e24-9753-f0aaf62b8f50","name":"GKEyDZDy","url":"https://dev.azure.com/v-anvashi[...]
- request:
    body: '{"description": "This should be the pr description"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/GKEyDZDy/pullRequests/35
  response:
    body:
      string: '{"repository":{"id":"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/pullRequests?searchCriteria.includeLinks=False
  response:
    body:
      string: '{"value":[{"repository":{"id":"ff1343fb-45c1-4e24-9753-f0aaf62b8f50","name":"GKEyDZDy","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50","project":{"id":"b810b0b0-a954-403b-9795-f0c9d0c9cfe9","name":"PullRequestLiveTest","state":"unchanged","visibility":"unchanged","lastUpdateTime":"0001-01-01T00:00:00"}},"pullRequestId":35,"codeReviewId":35,"status":"active","createdBy":{"displayName":"Soujanya
        Bestala ([...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/pullRequests/35?includeCommits=false&includeWorkItemRefs=true
  response:
    bod[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Identities?searchFilter=DirectoryAlias&filterValue=v-sbestala
  response:
    body:
      string: '{"count":1,"value":[{"id":"22157d54-1821-6536-a446-928b06348385","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\v-sbestala@microsoft.com","subjectDescriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","providerDisplayName":"Soujanya
        Bestala","customDisplayName":"Soujanya Bestala (MINDTREE LIMITED)","isActive":true,"members":[],"memberOf":[],"memberIds":[],"properties":{"SchemaClassName":{"$type":"System.String","$value":"User"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"Account":{"$type":"System.String","$value":"v-sbestala@microsoft.com"},"DN":{"$type":"System.String","$value":""},"Mail":{"$type":"System.String","$value":"v-sbestala@microsoft.com"},"SpecialType":{"$type":"System.String","$value":"Generic"},"PUID":{"$type":"System.String","$value":"aad:10032001C4169387"},"ComplianceValidated":{"$type":"System.DateTime","$value":"2025-01-03T00:00:00Z"},"http://schemas.microsoft.com/identity/claims/objectidentifier":{"$type":"System.String","$value":"0cd404e1-d00c-41fe-a96d-63862e46c30b"},"MetadataUpdateDate":{"$type":"System.DateTime","$value":"2023-07-19T11:37:39Z"},"DirectoryAlias":{"$type":"System.String","$value":"v-sbestala"}},"resourceVersion":2,"metaTypeId":0}]}'
    headers:
      activityid:
      - b0bda061-3254-44bb-9831-0a4bcc8467af
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ccf1e669-dba8-429c-bc22-e42d38df2d7c
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - b0bda061-3254-44bb-9831-0a4bcc8467af
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '[{"id": "22157d54-1821-6536-a446-928b06348385"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/pullRequests/35/reviewers
  response:
    body:
      string: '{"count":1,"value":[{"reviewerUrl":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/pullRequests/35/reviewers/22157d54-1821-6536-a446-928b06348385","vote":0,"hasDeclined":false,"isFlagged":false,"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_api/_common/identityImage?id=22157d54-1821-6536-a446-928b06348385"}]}'
    headers:
      activityid:
      - 52a8c676-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52a8c676-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/pullRequests/35/reviewers/22157d54-1821-6536-a446-928b06348385
  response:
    body:
      string: ''
    headers:
      activityid:
      - b41b20dd-234f-40df-bdc6-4fa11d0c1d34
      x-tfs-processid:
      - e0b5ceb9-22b3-47a0-84a1-5b4ef3fe5d5a
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - b41b20dd-234f-40df-bdc6-4fa11d0c1d34
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/ConnectionData
  response:
    body:
      string: '{"authenticatedUser":{"id":"22157d54-1821-6536-a446-928b06348385","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\v-sbestala@microsoft.com","subjectDescriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","providerDisplayName":"Soujanya
        Bestala","customDisplayName":"Soujanya Bestala (MINDTREE LIMITED)","isActive":true,"properties":{"Account":{"$type":"System.String","$value":"v-sbestala@microsoft.com"}},"resourceVersion":2,"metaTypeId":0},"authorizedUser":{"id":"22157d54-1821-6536-a446-928b06348385","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\v-sbestala@microsoft.com","subjectDescriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","providerDisplayName":"Soujanya
        Bestala","customDisplayName":"Soujanya Bestala (MINDTREE LIMITED)","isActive":true,"properties":{"Account":{"$type":"System.String","$value":"v-sbestala@microsoft.com"}},"resourceVersion":2,"metaTypeId":0},"instanceId":"2ad38d1e-3eaf-4769-931c-3a2da67bbb01","deploymentId":"ed30ce5c-9d0a-f73c-3580-4315c7f84d83","deploymentType":"hosted","locationServiceData":{"serviceOwner":"00025394-6065-48ca-87d9-7f5672854ef7","defaultAccessMappingMoniker":"PublicAccessMapping","lastChangeId":424108075,"lastChangeId64":424108075}}'
    headers:
      activityid:
      - ae2d3c5f-38da-43fc-9c9e-b262562ee3d0
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 7feece6f-b60f-4985-b04b-141c1af88e11
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - ae2d3c5f-38da-43fc-9c9e-b262562ee3d0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"lastMergeSourceCommit": {"commitId": "994b4ee248ede8b1d046da3dfd729af05410429c",
      "url": "https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50/commits/994b4ee248ede8b1d046da3dfd729af05410429c"},
      "status": "completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/ff1343fb-45c1-4e24-9753-f0aaf62b8f50
  response:
    body:
      string: ''
    headers:
      activityid:
      - 42f4fd5a-f5aa-489b-829b-6b935a83b968
      x-tfs-processid:
      - f0cc34b2-4918-45ae-99cc-98ed5fcaeba0
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 42f4fd5a-f5aa-489b-829b-6b935a83b968
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories
  response:
    body:
      string: '{"value":[{"id":"4a2efa60-a068-4dcf-bd45-35c457004a3f","name":"navBuNsF","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/4a2efa60-a068-4dcf-bd45-35c457004a3f","project":{"id":"b810b0b0-a954-403b-9795-f0c9d0c9cfe9","name":"PullRequestLiveTest","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/b810b0b0-a954-403b-9795-f0c9d0c9cfe9","state":"wellFormed","revision":717,"visibility":"organization","lastUpdateTime":"2024-01-09T16:32:42.21Z"},"defaultBranch":"refs/heads/main","size":1839,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/PullRequestLiveTest/_git/navBuNsF","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/PullRequestLiveTest/navBuNsF","webUrl":"https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_git/navBuNsF","isDisabled":false,"isInMaintenance":false},{"id":"e55c17e3-5cd3-48d5-b7da-007e17f06389","name":"PullRequestLiveTest","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_api[...]
