interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 18b14e89-7b57-4743-a79e-73a155db377d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 00ff2b08-bd50-434a-893e-43641bdbfe31
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 18b14e89-7b57-4743-a79e-73a155db377d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "policyTest000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"c1dd85c3-1fb2-436d-bd0e-2b6f75f54984","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/c1dd85c3-1fb2-436d-bd0e-2b6f75f54984"}'
    headers:
      activityid:
      - ae2d5813-38da-43fc-9c9e-b262562ee3d0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7feece6f-b60f-4985-b04b-141c1af88e11
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - ae2d5813-38da-43fc-9c9e-b262562ee3d0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/c1dd85c3-1fb2-436d-bd0e-2b6f75f54984
  response:
    body:
      string: '{"id":"c1dd85c3-1fb2-436d-bd0e-2b6f75f54984","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/c1dd85c3-1fb2-436d-bd0e-2b6f75f54984","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/c1dd85c3-1fb2-436d-bd0e-2b6f75f54984"}}}'
    headers:
      activityid:
      - 52a82025-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52a82025-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/policyTest000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"567056a1-4198-4817-a9ea-fd1509531bf5","name":"policyTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/567056a1-4198-4817-a9ea-fd1509531bf5","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1526,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/567056a1-4198-4817-a9ea-fd1509531bf5"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/policyTest000001"}},"visibility":"private","defaultTeam":{"id":"b0170ffb-21c3-4484-b19f-9ec71043723e","name":"policyTest000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/567056a1-4198-4817-a9ea-fd1509531bf5/teams/b0170ffb-21c3-4484-b19f-9ec71043723e"},"lastUpdateTime":"2025-01-03T12:30:22.357Z"}'
    headers:
      activityid:
      - 60a1e6ae-6499-4a88-b879-d358ae50c301
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 1ad39b29-0c88-4c30-acc2-65c06abc65e6
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 60a1e6ae-6499-4a88-b879-d358ae50c301
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "policyTest000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/567056a1-4198-4817-a9ea-fd1509531bf5/_apis/git/repositories
  response:
    body:
      string: '{"id":"812408ca-8097-4054-b4a4-2c5af9328e58","name":"policyTest000002","url":"https://dev.azure.com/v-anvashist0376/567056a1-4198-4817-a9ea-fd1509531bf5/_apis/git/repositories/812408ca-8097-4054-b4a4-2c5af9328e58","project":{"id":"567056a1-4198-4817-a9ea-fd1509531bf5","name":"policyTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/567056a1-4198-4817-a9ea-fd1509531bf5","state":"wellFormed","revision":1526,"visibility":"private","lastUpdateTime":"2025-01-03T12:30:22.357Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/policyTest000001/_git/policyTest000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/policyTest000001/policyTest000002","webUrl":"https://dev.azure.com/v-anvashist0376/policyTest000001/_git/policyTest000002","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 9b9aa90b-d3fb-4495-afec-f6986f9b5e8b
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 709881ea-d5e8-4d50-9f19-9f1bf3301f7f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 9b9aa90b-d3fb-4495-afec-f6986f9b5e8b
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://github.com/hkasera/snakes-and-ladders.git"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/567056a1-4198-4817-a9ea-fd1509531bf5/_apis/git/repositories/812408ca-8097-4054-b4a4-2c5af9328e58/importRequests
  response:
    body:
      string: '{"importRequestId":53,"repository":{"id":"812408ca-8097-4054-b4a4-2c5af9328e58","name":"policyTest000002","url":"https://dev.azure.com/v-anvashist0376/567056a1-4198-4817-a9ea-fd1509531bf5/_apis/git/repositories/812408ca-8097-4054-b4a4-2c5af9328e58","project":{"id":"567056a1-4198-4817-a9ea-fd1509531bf5","name":"policyTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/567056a1-4198-4817-a9ea-fd1509531bf5","state":"wellFormed","revision":1526,"visibility":"private","lastUpdateTime":"2025-01-03T12:30:22.357Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/policyTest000001/_git/policyTest000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/policyTest000001/policyTest000002","webUrl":"https://dev.azure.com/v-anvashist0376/policyTest000001/_git/policyTest000002","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://github.com/hkasera/snakes-and-ladders.git","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/567056a1-4198-4817-a9ea-fd1509531bf5/_apis/git/repositories/812408ca-8097-4054-b4a4-2c5af9328e58/importRequests/53"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/567056a1-4198-4817-a9ea-fd1509531bf5/_apis/git/repositories/812408ca-8097-4054-b4a4-2c5af9328e58"}},"url":"https://dev.azure.com/v-anvashist0376/567056a1-4198-4817-a9ea-fd1509531bf5/_apis/git/repositories/812408ca-8097-4054-b4a4-2c5af9328e58/importRequests/53"}'
    headers:
      activityid:
      - 52a82b9e-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52a82b9e-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/567056a1-4198-4817-a9ea-fd1509531bf5/_apis/git/repositories/812408ca-8097-4054-b4a4-2c5af9328e58/importRequests/53
  response:
    body:
      string: '{"importRequestId":53,"rep[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/567056a1-4198-4817-a9ea-fd1509531bf5/_apis/policy/configurations
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - b41b3b2a-234f-40df-bdc6-4fa11d0c1d34
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e0b5ceb9-22b3-47a0-84a1-5b4ef3fe5d5a
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - b41b3b2a-234f-40df-bdc6-4fa11d0c1d34
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"type": {"id": "fa4e907d-c16b-4a4c-9dfa-4916e5d171ab"}, "isBlocking":
      true, "isEnabled": true, "settings": {"scope": [{"repositoryId": "812408ca-8097-4054-b4a4-2c5af9328e58",
      "refName": "refs/heads/master", "matchKind": "exact"}], "useSquashMerge": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/567056a1-4198-4817-a9ea-fd1509531bf5/_apis/policy/configurations
  response:
    body:
      string: '{"createdBy":{"displayName":"Soujanya Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_api/_common/identityImage?id=22157d54-1821-6536-a446-928b06348385","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"createdDate":"2025-01-03T12:30:28.8608039","isEnabled":true,"isBlocking":true,"isDeleted":false,"settings":{"scope":[{"refName":"refs/heads/master","matchKind":"Exact","repositoryId":"812408ca-8097-4054-b4a4-2c5af9328e58"}]},"isEnterpriseManaged":false,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/567056a1-4198-4817-a9ea-fd1509531bf5/_apis/policy/configurations/34"},"policyType":{"href":"https://dev.azure.com/v-anvashist0376/567056a1-4198-4817-a9ea-fd1509531bf5/_apis/policy/types/fa4e907d-c16b-4a4c-9dfa-4916e5d171ab"}},"revision":1,"id":34,"url":"https://dev.azure.com/v-anvashist0376/567056a1-4198-4817-a9ea-fd1509531bf5/_apis/policy/configurations/34","type":{"id":"fa4e907d-c16b-4a4c-9dfa-4916e5d171ab","url":"https://dev.azure.com/v-anvashist0376/567056a1-4198-4817-a9ea-fd1509531bf5/_apis/policy/types/fa4e907d-c16b-4a4c-9dfa-4916e5d171ab","displayName":"Require
        a merge strategy"}}'
    headers:
      activityid:
      - b41b3b1c-234f-40df-bdc6-4fa11d0c1d34
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e0b5ceb9-22b3-47a0-84a1-5b4ef3fe5d5a
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - b41b3b1c-234f-40df-bdc6-4fa11d0c1d34
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/567056a1-4198-4817-a9ea-fd1509531bf5
  response:
    body:
      string: '{"id":"1f1b182b-2591-45d8-bab1-c0852281a541","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/1f1b182b-2591-45d8-bab1-c0852281a541"}'
    headers:
      activityid:
      - 60a1c96f-6499-4a88-b879-d358ae50c301
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 1ad39b29-0c88-4c30-acc2-65c06abc65e6
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 60a1c96f-6499-4a88-b879-d358ae50c301
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/1f1b182b-2591-45d8-bab1-c0852281a541
  response:
    body:
      string: '{"id":"1f1b182b-2591-45d8-bab1-c0852281a541","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/1f1b182b-2591-45d8-bab1-c0852281a541","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/1f1b182b-2591-45d8-bab1-c0852281a541"}}}'
    headers:
      activityid:
      - 42f70a2d-f5aa-489b-829b-6b935a83b968
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f0cc34b2-4918-45ae-99cc-98ed5fcaeba0
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 42f70a2d-f5aa-489b-829b-6b935a83b968
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
