interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - ae2d7925-38da-43fc-9c9e-b262562ee3d0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7feece6f-b60f-4985-b04b-141c1af88e11
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - ae2d7925-38da-43fc-9c9e-b262562ee3d0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "pipelinesTest000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"2164b12a-8dde-434b-b4f3-dadbd40c8d44","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/2164b12a-8dde-434b-b4f3-dadbd40c8d44"}'
    headers:
      activityid:
      - 1f97f15f-34de-4605-870f-0f062219ef9f
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f037019e-3fc4-4eca-8c1b-91732621702b
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 1f97f15f-34de-4605-870f-0f062219ef9f
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/2164b12a-8dde-434b-b4f3-dadbd40c8d44
  response:
    body:
      string: '{"id":"2164b12a-8dde-434b-b4f3-dadbd40c8d44","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/2164b12a-8dde-434b-b4f3-dadbd40c8d44","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/2164b12a-8dde-434b-b4f3-dadbd40c8d44"}}}'
    headers:
      activityid:
      - 60a18116-6499-4a88-b879-d358ae50c301
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 1ad39b29-0c88-4c30-acc2-65c06abc65e6
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 60a18116-6499-4a88-b879-d358ae50c301
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/pipelinesTest000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"7bb0d243-4ef0-49d8-b33b-3e6f44e28afa","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1516,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001"}},"visibility":"private","defaultTeam":{"id":"6bff82a0-2346-413e-94a4-15fbe63d6188","name":"pipelinesTest000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/teams/6bff82a0-2346-413e-94a4-15fbe63d6188"},"lastUpdateTime":"2025-01-03T12:29:57.803Z"}'
    headers:
      activityid:
      - 8853dfa1-4992-4ec3-82cc-a21ecd0c2ba8
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - acea8c03-34bb-4ee4-a91f-cbb689df1604
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 8853dfa1-4992-4ec3-82cc-a21ecd0c2ba8
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_apis/git/repositories
  response:
    body:
      string: '{"value":[{"id":"db7cf07e-1158-47b5-84f0-b8403a181777","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_apis/git/repositories/db7cf07e-1158-47b5-84f0-b8403a181777","project":{"id":"7bb0d243-4ef0-49d8-b33b-3e6f44e28afa","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa","state":"wellFormed","revision":1516,"visibility":"private","lastUpdateTime":"2025-01-03T12:29:57.803Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/pipelinesTest000001/pipelinesTest000001","webUrl":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","isDisabled":false,"isInMaintenance":false}],"count":1}'
    headers:
      activityid:
      - b41b5d6a-234f-40df-bdc6-4fa11d0c1d34
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e0b5ceb9-22b3-47a0-84a1-5b4ef3fe5d5a
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - b41b5d6a-234f-40df-bdc6-4fa11d0c1d34
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/db7cf07e-1158-47b5-84f0-b8403a181777/importRequests
  response:
    body:
      string: '{"importRequestId":51,"repository":{"id":"db7cf07e-1158-47b5-84f0-b8403a181777","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_apis/git/repositories/db7cf07e-1158-47b5-84f0-b8403a181777","project":{"id":"7bb0d243-4ef0-49d8-b33b-3e6f44e28afa","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa","state":"wellFormed","revision":1516,"visibility":"private","lastUpdateTime":"2025-01-03T12:29:57.803Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/pipelinesTest000001/pipelinesTest000001","webUrl":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/db7cf07e-1158-47b5-84f0-b8403a181777/importRequests/51"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_apis/git/repositories/db7cf07e-1158-47b5-84f0-b8403a181777"}},"url":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/db7cf07e-1158-47b5-84f0-b8403a181777/importRequests/51"}'
    headers:
      activityid:
      - 6b537aae-d14a-4008-8dbe-5e46b5e9f379
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 98c229af-85ac-4aef-a1b7-bbe8a1f1ead4
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 6b537aae-d14a-4008-8dbe-5e46b5e9f379
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/db7cf07e-1158-47b5-84f0-b8403a181777/importRequests/51
  response:
    body:
      string: '{"importRequestId":51,"repository":{"id":"d[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions?name=ContosoBuild
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - 53586fb8-4abe-47a2-82a0-8110aac68309
      content-type:
      - application/json; charset=utf-8; api-version=5.1
      x-tfs-processid:
      - b97ff233-9513-4ce7-8a9b-cbb5938dff9f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 53586fb8-4abe-47a2-82a0-8110aac68309
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/pipelinesTest000001
  response:
    body:
      string: '{"id":"db7cf07e-1158-47b5-84f0-b8403a181777","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_apis/git/repositories/db7cf07e-1158-47b5-84f0-b8403a181777","project":{"id":"7bb0d243-4ef0-49d8-b33b-3e6f44e28afa","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa","state":"wellFormed","revision":1516,"visibility":"private","lastUpdateTime":"2025-01-03T12:29:57.803Z"},"defaultBranch":"refs/heads/main","size":1602,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/pipelinesTest000001/pipelinesTest000001","webUrl":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_apis/git/repositories/db7cf07e-1158-47b5-84f0-b8403a181777"},"project":{"href":"vstfs:///Classification/TeamProject/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa"},"web":{"href":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001"},"ssh":{"href":"git@ssh.dev.azure.com:v3/v-anvashist0376/pipelinesTest000001/pipelinesTest000001"},"commits":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_apis/git/repositories/db7cf07e-1158-47b5-84f0-b8403a181777/commits"},"refs":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_apis/git/repositories/db7cf07e-1158-47b5-84f0-b8403a181777/refs"},"pullRequests":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_apis/git/repositories/db7cf07e-1158-47b5-84f0-b8403a181777/pullRequests"},"items":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_apis/git/repositories/db7cf07e-1158-47b5-84f0-b8403a181777/items"},"pushes":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_apis/git/repositories/db7cf07e-1158-47b5-84f0-b8403a181777/pushes"}},"isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 52a80c1e-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52a80c1e-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/distributedtask/queues
  response:
    body:
      string: '{"count":9,"value":[{"id":1225,"projectId":"7bb0d243-4ef0-49d8-b33b-3e6f44e28afa","name":"Default","pool":{"id":1,"scope":"2ad38d1e-3eaf-4769-931c-3a2da67bbb01","name":"Default","isHosted":false,"poolType":"automation","size":0,"isLegacy":false,"options":"none"}},{"id":1226,"projectId":"7bb0d243-4ef0-49d8-b33b-3e6f44e28afa","name":"Hosted","pool":{"id":2,"scope":"2ad38d1e-3eaf-4769-931c-3a2da67bbb01","name":"Hosted","isHosted":true,"poolType":"automation","size":1,"isLegacy":true,"options":"none"}},{"id":1227,"projectId":"7bb0d243-4ef0-49d8-b33b-3e6f44e28afa","name":"Hosted
        VS2017","pool":{"id":3,"scope":"2ad38d1e-3eaf-4769-931c-3a2da67bbb01","name":"Hosted
        VS2017","isHosted":true,"poolType":"automation","size":1,"isLegacy":true,[...]
- request:
    body: '{"name": "ContosoBuild", "queue": {"id": 1232}, "description": "Pipeline
      for contoso project", "process": {"yamlFilename": "azure-pipelines.yml", "type":
      2}, "repository": {"defaultBranch": "main", "id": "db7cf07e-1158-47b5-84f0-b8403a181777",
      "name": "pipelinesTest000001", "type": "tfsgit"}, "triggers": [{"settingsSourceType":
      2, "triggerType": 2}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,"maxConcurrentBuildsPerBranch":1,"triggerType":"continuousIntegration"}],"properties":{},"tags":[],"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_apis/build/Definitions/33?revision=1"},"web":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_build/definition?definitionId=33"},"editor":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_build/designer?id=33&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_apis/build/status/33"}},"description":"Pipeline
        for contoso project","jobAuthorizationScope":"projectCollection","process":{"yamlFilename":"azure-pipelines.yml","type":2},"repository":{"id":"db7cf07e-1158-47b5-84f0-b8403a181777","type":"TfsGit","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","defaultBranch":"main","clean":null,"checkoutSubmodules":false},"quality":"definition","authoredBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"drafts":[],"queue":{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/build/Queues/1232"}},"id":1232,"name":"Hosted
        Ubuntu 1604","url":"https://dev.azure.com/v-anvashist0376/_apis/build/Queues/1232","pool":{"id":8,"name":"Hosted
        Ubuntu 1604","isHosted":true}},"id":33,"name":"ContosoBuild","url":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_apis/build/Definitions/33?revision=1","uri":"vstfs:///Build/Definition/33","path":"\\","type":"build","queueStatus":"enabled","revision":1,"createdDate":"2025-01-03T12:30:06Z","project":{"id":"7bb0d243-4ef0-49d8-b33b-3e6f44e28afa","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa","state":"wellFormed","revision":1516,"visibility":"private","lastUpdateTime":"2025-01-03T12:29:57.803Z"}}'
    headers:
      activityid:
      - 9b9a934b-d3fb-4495-afec-f6986f9b5e8b
      content-type:
      - application/json; charset=utf-8; api-version=5.1
      x-tfs-processid:
      - 709881ea-d5e8-4d50-9f19-9f1bf3301f7f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 9b9a934b-d3fb-4495-afec-f6986f9b5e8b
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"createdDate": "2025-01-03T12:30:06.000Z", "id": 33, "name":
      "ContosoBuild", "path": "\\", "project": {"id": "7bb0d243-4ef0-49d8-b33b-3e6f44e28afa",
      "lastUpdateTime": "2025-01-03T12:29:57.803Z", "name": "pipelinesTest000001",
      "revision": 1516, "state": "wellFormed", "url": "https://dev.azure.com/v-anvashist0376/_apis/projects/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa",
      "visibility": "private"}, "queueStatus": "enabled", "revision": 1, "type": "build",
      "uri": "vstfs:///[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions/33
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions/33
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,"maxConcurrentBuildsPerBranch":1,"triggerType":"continuousIntegration"}],"variables":{"var1":{"value":null,"allowOverride":true,"isSecret":true}},"properties":{},"tags":[],"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_apis/build/Definitions/33?revision=2"},"web":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_build/definition?definitionId=33"},"editor":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_build/designer?id=33&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/v-anvashist0376/7bb[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions/33
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,"maxConcurrentBuildsPerBranch":1,"triggerType":"continuousIntegration"}],"variables":{"var1":{"value":null,"allowOverride":true,"isSecret":true},"var2":{"value":"value2"}},"properties":{},"tags":[],"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_apis/build/Definitions/33?revision=3"},"web":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_build/definition?definitionId=33"},"editor":{"href":"https://dev.azure.com/v-anvashist0376/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa/_build/designer?id=33&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/v-anva[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions?queryOrder=none
  response:
    body:
      string: '{"count":1,"value":[{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/7bb0d243-4ef0-49d8-b33b-3e6f44e28afa
  response:
    body:
      string: '{"id":"105b0a04-d990-43b8-a17b-4b0967aa58c4","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/105b0a04-d990-43b8-a17b-4b0967aa58c4"}'
    headers:
      activityid:
      - 1f97e4d7-34de-4605-870f-0f062219ef9f
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f037019e-3fc4-4eca-8c1b-91732621702b
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 1f97e4d7-34de-4605-870f-0f062219ef9f
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/105b0a04-d990-43b8-a17b-4b0967aa58c4
  response:
    body:
      string: '{"id":"105b0a04-d990-43b8-a17b-4b0967aa58c4","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/105b0a04-d990-43b8-a17b-4b0967aa58c4","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/105b0a04-d990-43b8-a17b-4b0967aa58c4"}}}'
    headers:
      activityid:
      - b41b4e32-234f-40df-bdc6-4fa11d0c1d34
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e0b5ceb9-22b3-47a0-84a1-5b4ef3fe5d5a
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - b41b4e32-234f-40df-bdc6-4fa11d0c1d34
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
