interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - b41b22ba-234f-40df-bdc6-4fa11d0c1d34
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e0b5ceb9-22b3-47a0-84a1-5b4ef3fe5d5a
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - b41b22ba-234f-40df-bdc6-4fa11d0c1d34
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "refsTests000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"8b23de05-5448-48fc-9e11-a465e795f802","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/8b23de05-5448-48fc-9e11-a465e795f802"}'
    headers:
      activityid:
      - ae2d3298-38da-43fc-9c9e-b262562ee3d0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7feece6f-b60f-4985-b04b-141c1af88e11
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - ae2d3298-38da-43fc-9c9e-b262562ee3d0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/8b23de05-5448-48fc-9e11-a465e795f802
  response:
    body:
      string: '{"id":"8b23de05-5448-48fc-9e11-a465e795f802","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/8b23de05-5448-48fc-9e11-a465e795f802","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/8b23de05-5448-48fc-9e11-a465e795f802"}}}'
    headers:
      activityid:
      - 535854d3-4abe-47a2-82a0-8110aac68309
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - b97ff233-9513-4ce7-8a9b-cbb5938dff9f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 535854d3-4abe-47a2-82a0-8110aac68309
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/refsTests000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"0cda9af5-33e1-4bf2-a4c6-105d9846b96c","name":"refsTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/0cda9af5-33e1-4bf2-a4c6-105d9846b96c","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1536,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/0cda9af5-33e1-4bf2-a4c6-105d9846b96c"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/refsTests000001"}},"visibility":"private","defaultTeam":{"id":"5a513ea2-f198-4f6c-a398-5945bcee29d8","name":"refsTests000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/0cda9af5-33e1-4bf2-a4c6-105d9846b96c/teams/5a513ea2-f198-4f6c-a398-5945bcee29d8"},"lastUpdateTime":"2025-01-03T12:30:48.863Z"}'
    headers:
      activityid:
      - 885213db-4992-4ec3-82cc-a21ecd0c2ba8
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - acea8c03-34bb-4ee4-a91f-cbb689df1604
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 885213db-4992-4ec3-82cc-a21ecd0c2ba8
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "refsTests000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/0cda9af5-33e1-4bf2-a4c6-105d9846b96c/_apis/git/repositories
  response:
    body:
      string: '{"id":"cc6942b2-aaf8-4bc5-a23e-d811354ba71c","name":"refsTests000002","url":"https://dev.azure.com/v-anvashist0376/0cda9af5-33e1-4bf2-a4c6-105d9846b96c/_apis/git/repositories/cc6942b2-aaf8-4bc5-a23e-d811354ba71c","project":{"id":"0cda9af5-33e1-4bf2-a4c6-105d9846b96c","name":"refsTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/0cda9af5-33e1-4bf2-a4c6-105d9846b96c","state":"wellFormed","revision":1536,"visibility":"private","lastUpdateTime":"2025-01-03T12:30:48.863Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/refsTests000001/_git/refsTests000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/refsTests000001/refsTests000002","webUrl":"https://dev.azure.com/v-anvashist0376/refsTests000001/_git/refsTests000002","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 9b9a5726-d3fb-4495-afec-f6986f9b5e8b
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 709881ea-d5e8-4d50-9f19-9f1bf3301f7f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 9b9a5726-d3fb-4495-afec-f6986f9b5e8b
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://github.com/hkasera/snakes-and-ladders.git"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/0cda9af5-33e1-4bf2-a4c6-105d9846b96c/_apis/git/repositories/cc6942b2-aaf8-4bc5-a23e-d811354ba71c/importRequests
  response:
    body:
      string: '{"importRequestId":55,"repository":{"id":"cc6942b2-aaf8-4bc5-a23e-d811354ba71c","name":"refsTests000002","url":"https://dev.azure.com/v-anvashist0376/0cda9af5-33e1-4bf2-a4c6-105d9846b96c/_apis/git/repositories/cc6942b2-aaf8-4bc5-a23e-d811354ba71c","project":{"id":"0cda9af5-33e1-4bf2-a4c6-105d9846b96c","name":"refsTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/0cda9af5-33e1-4bf2-a4c6-105d9846b96c","state":"wellFormed","revision":1536,"visibility":"private","lastUpdateTime":"2025-01-03T12:30:48.863Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/refsTests000001/_git/refsTests000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/refsTests000001/refsTests000002","webUrl":"https://dev.azure.com/v-anvashist0376/refsTests000001/_git/refsTests000002","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://github.com/hkasera/snakes-and-ladders.git","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/0cda9af5-33e1-4bf2-a4c6-105d9846b96c/_apis/git/repositories/cc6942b2-aaf8-4bc5-a23e-d811354ba71c/importRequests/55"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/0cda9af5-33e1-4bf2-a4c6-105d9846b96c/_apis/git/repositories/cc6942b2-aaf8-4bc5-a23e-d811354ba71c"}},"url":"https://dev.azure.com/v-anvashist0376/0cda9af5-33e1-4bf2-a4c6-105d9846b96c/_apis/git/repositories/cc6942b2-aaf8-4bc5-a23e-d811354ba71c/importRequests/55"}'
    headers:
      activityid:
      - 88521239-4992-4ec3-82cc-a21ecd0c2ba8
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - acea8c03-34bb-4ee4-a91f-cbb689df1604
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 88521239-4992-4ec3-82cc-a21ecd0c2ba8
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/0cda9af5-33e1-4bf2-a4c6-105d9846b96c/_apis/git/repositories/cc6942b2-aaf8-4bc5-a23e-d811354ba71c/importRequests/55
  response:
    body:
      string: '{"importRequestId":55,"rep[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/refsTests000001/_apis/git/repositories/refsTests000002/refs
  response:
    body:
      string: '{"value":[{"name":"refs/heads/gh-pages","objectId":"e0d501db4f5a08fe212e8ed7a8e8035fbef62416","creator":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_api/_common/identityImage?id=22157d54-1821-6536-a446-928b06348385","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"url":"https://dev.azure.com/v-anvashist0376/0cda9af5-33e1-4bf2-a4c6-105d9846b96c/_apis/git/repositories/cc6942b2-aaf8-4bc5-a23e-d811354ba71c/refs?filter=heads%2Fgh-pages"},{"name":"refs/heads/master","objectId":"c06ae011e801fea6e915d5a779f3322e6f5301a1","creator":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821[...]
- request:
    body: '[{"isLocked": false, "name": "refs/heads/branchnametocreate", "newObjectId":
      "e0d501db4f5a08fe212e8ed7a8e8035fbef62416", "oldObjectId": "0000000000000000000000000000000000000000"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/refsTests000001/_apis/git/repositories/refsTests000002/refs
  response:
    body:
      string: '{"value":[{"repositoryId":"cc6942b2-aaf8-4bc5-a23e-d811354ba71c","name":"refs/heads/branchnametocreate","oldObjectId":"0000000000000000000000000000000000000000","newObjectId":"e0d501db4f5a08fe212e8ed7a8e8035fbef62416","isLocked":false,"updateStatus":"succeeded","success":true}],"count":1}'
    headers:
      activityid:
      - 60a234e7-6499-4a88-b879-d358ae50c301
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 1ad39b29-0c88-4c30-acc2-65c06abc65e6
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 60a234e7-6499-4a88-b879-d358ae50c301
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/refsTests000001/_apis/git/repositories/refsTests000002/refs?filter=heads%2Fbranchnametocreate
  response:
    body:
      string: '{"value":[{"name":"refs/heads/branchnametocreat[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/refsTests000001/_apis/git/repositories/refsTests000002/refs?filter=heads%2Funknownbranchname
  response:
    body:
      string: '{"value":[],"count":0}'
    headers:
      activityid:
      - b41b11a5-234f-40df-bdc6-4fa11d0c1d34
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e0b5ceb9-22b3-47a0-84a1-5b4ef3fe5d5a
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - b41b11a5-234f-40df-bdc6-4fa11d0c1d34
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/0cda9af5-33e1-4bf2-a4c6-105d9846b96c
  response:
    body:
      string: '{"id":"494a863c-d50a-4038-84a5-fb457ba9ed08","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/494a863c-d50a-4038-84a5-fb457ba9ed08"}'
    headers:
      activityid:
      - 52a8db29-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52a8db29-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/494a863c-d50a-4038-84a5-fb457ba9ed08
  response:
    body:
      string: '{"id":"494a863c-d50a-4038-84a5-fb457ba9ed08","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/494a863c-d50a-4038-84a5-fb457ba9ed08","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/494a863c-d50a-4038-84a5-fb457ba9ed08"}}}'
    headers:
      activityid:
      - ae2d018b-38da-43fc-9c9e-b262562ee3d0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7feece6f-b60f-4985-b04b-141c1af88e11
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - ae2d018b-38da-43fc-9c9e-b262562ee3d0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
