interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/PullRequestLiveTest/pullRequests?searchCriteria.includeLinks=False
  response:
    body:
      string: '{"$id":"1","innerException":null,"message":"TF401019: The Git repository
        with name or identifier PullRequestLiveTest does not exist or you do not have
        permissions for the operation you are attempting.","typeName":"Microsoft.TeamFoundation.Git.Server.GitRepositoryNotFoundException,
        Microsoft.TeamFoundation.Git.Server","typeKey":"GitRepositoryNotFoundException","errorCode":0,"eventId":3000}'
    headers:
      activityid:
      - b41b22e2-234f-40df-bdc6-4fa11d0c1d34
      content-type:
      - application/json; charset=utf-8
      x-tfs-processid:
      - e0b5ceb9-22b3-47a0-84a1-5b4ef3fe5d5a
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - b41b22e2-234f-40df-bdc6-4fa11d0c1d34
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 404
      message: Not Found
version: 1
