interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - b41ea272-234f-40df-bdc6-4fa11d0c1d34
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e0b5ceb9-22b3-47a0-84a1-5b4ef3fe5d5a
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - b41ea272-234f-40df-bdc6-4fa11d0c1d34
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "This is a sample project description", "name": "projectTest000001",
      "visibility": "public", "capabilities": {"versioncontrol": {"sourceControlType":
      "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"e8fa1b6b-cc58-45d0-9410-b03bc70f5609","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/e8fa1b6b-cc58-45d0-9410-b03bc70f5609"}'
    headers:
      activityid:
      - 9b98ca0c-d3fb-4495-afec-f6986f9b5e8b
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 709881ea-d5e8-4d50-9f19-9f1bf3301f7f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 9b98ca0c-d3fb-4495-afec-f6986f9b5e8b
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/e8fa1b6b-cc58-45d0-9410-b03bc70f5609
  response:
    body:
      string: '{"id":"e8fa1b6b-cc58-45d0-9410-b03bc70f5609","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/e8fa1b6b-cc58-45d0-9410-b03bc70f5609","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/e8fa1b6b-cc58-45d0-9410-b03bc70f5609"}}}'
    headers:
      activityid:
      - 9b98d5ed-d3fb-4495-afec-f6986f9b5e8b
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 709881ea-d5e8-4d50-9f19-9f1bf3301f7f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 9b98d5ed-d3fb-4495-afec-f6986f9b5e8b
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/projectTest000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"635597f1-6839-48fc-8c18-78f9dd849bce","name":"projectTest000001","description":"This
        is a sample project description","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/635597f1-6839-48fc-8c18-78f9dd849bce","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1452,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/635597f1-6839-48fc-8c18-78f9dd849bce"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/projectTest000001"}},"visibility":"public","defaultTeam":{"id":"f8a13eac-ebc0-489c-b542-5e2baf95d9df","name":"projectTest000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/635597f1-6839-48fc-8c18-78f9dd849bce/teams/f8a13eac-ebc0-489c-b542-5e2baf95d9df"},"lastUpdateTime":"2025-01-03T12:22:21.97Z"}'
    headers:
      activityid:
      - 9b98d073-d3fb-4495-afec-f6986f9b5e8b
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 709881ea-d5e8-4d50-9f19-9f1bf3301f7f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 9b98d073-d3fb-4495-afec-f6986f9b5e8b
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects?stateFilter=all
  response:
    body:
      string: '{"count":11,"value":[{"id":"635597f1-6839-48fc-8c18-78f9dd849bce","name":"projectTest000001","description":"Th[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/635597f1-6839-48fc-8c18-78f9dd849bce?includeCapabilities=true
  response:
    body:
      string: '{"id":"635597f1-6839-48fc-8c18-78f9dd849bce","name":"projectTest[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/635597f1-6839-48fc-8c18-78f9dd849bce
  response:
    body:
      string: '{"id":"222e5d03-79a7-4c9c-baed-37c14ca6b345","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/222e5d03-79a7-4c9c-baed-37c14ca6b345"}'
    headers:
      activityid:
      - 52afbcd0-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52afbcd0-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
