interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 44eed23f-f79e-4dc7-9ed2-9997804bec46
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8b97cd00-92de-40cb-90b3-9f93d0941d86
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 44eed23f-f79e-4dc7-9ed2-9997804bec46
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "refsTests000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"0bc51e3f-46ec-4c6a-827a-59f64506b03e","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/0bc51e3f-46ec-4c6a-827a-59f64506b03e"}'
    headers:
      activityid:
      - 8ce09454-75b7-446a-857c-386cccb97db6
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 81515145-17e8-4d31-8df7-702b5a0ae855
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 8ce09454-75b7-446a-857c-386cccb97db6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/0bc51e3f-46ec-4c6a-827a-59f64506b03e
  response:
    body:
      string: '{"id":"0bc51e3f-46ec-4c6a-827a-59f64506b03e","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/0bc51e3f-46ec-4c6a-827a-59f64506b03e","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/0bc51e3f-46ec-4c6a-827a-59f64506b03e"}}}'
    headers:
      activityid:
      - 982a5cfb-c4af-4065-bdbc-45d9dbf373b4
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5894399e-e0b1-4e67-969a-1bb96dd83c83
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 982a5cfb-c4af-4065-bdbc-45d9dbf373b4
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/refsTests000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"ea62d84c-ea9d-443d-8790-70a2de260c45","name":"refsTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/ea62d84c-ea9d-443d-8790-70a2de260c45","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1039,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/ea62d84c-ea9d-443d-8790-70a2de260c45"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/refsTests000001"}},"visibility":"private","defaultTeam":{"id":"5acfd0f9-b66a-419b-ae5c-b44cc289eda7","name":"refsTests000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/ea62d84c-ea9d-443d-8790-70a2de260c45/teams/5acfd0f9-b66a-419b-ae5c-b44cc289eda7"},"lastUpdateTime":"2025-01-02T12:42:05.23Z"}'
    headers:
      activityid:
      - 44eeab84-f79e-4dc7-9ed2-9997804bec46
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8b97cd00-92de-40cb-90b3-9f93d0941d86
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 44eeab84-f79e-4dc7-9ed2-9997804bec46
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "refsTests000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/ea62d84c-ea9d-443d-8790-70a2de260c45/_apis/git/repositories
  response:
    body:
      string: '{"id":"32af96c7-b1a3-4a77-9140-9fbf58182f13","name":"refsTests000002","url":"https://dev.azure.com/v-anvashist0376/ea62d84c-ea9d-443d-8790-70a2de260c45/_apis/git/repositories/32af96c7-b1a3-4a77-9140-9fbf58182f13","project":{"id":"ea62d84c-ea9d-443d-8790-70a2de260c45","name":"refsTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/ea62d84c-ea9d-443d-8790-70a2de260c45","state":"wellFormed","revision":1039,"visibility":"private","lastUpdateTime":"2025-01-02T12:42:05.23Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/refsTests000001/_git/refsTests000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/refsTests000001/refsTests000002","webUrl":"https://dev.azure.com/v-anvashist0376/refsTests000001/_git/refsTests000002","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 7b0f4810-5839-4af0-8b46-03338f5bd43a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3e5d6de8-9a30-4743-9c4c-0d5527f3ca5f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 7b0f4810-5839-4af0-8b46-03338f5bd43a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://github.com/hkasera/snakes-and-ladders.git"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/ea62d84c-ea9d-443d-8790-70a2de260c45/_apis/git/repositories/32af96c7-b1a3-4a77-9140-9fbf58182f13/importRequests
  response:
    body:
      string: '{"importRequestId":33,"repository":{"id":"32af96c7-b1a3-4a77-9140-9fbf58182f13","name":"refsTests000002","url":"https://dev.azure.com/v-anvashist0376/ea62d84c-ea9d-443d-8790-70a2de260c45/_apis/git/repositories/32af96c7-b1a3-4a77-9140-9fbf58182f13","project":{"id":"ea62d84c-ea9d-443d-8790-70a2de260c45","name":"refsTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/ea62d84c-ea9d-443d-8790-70a2de260c45","state":"wellFormed","revision":1039,"visibility":"private","lastUpdateTime":"2025-01-02T12:42:05.23Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/refsTests000001/_git/refsTests000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/refsTests000001/refsTests000002","webUrl":"https://dev.azure.com/v-anvashist0376/refsTests000001/_git/refsTests000002","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://github.com/hkasera/snakes-and-ladders.git","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/ea62d84c-ea9d-443d-8790-70a2de260c45/_apis/git/repositories/32af96c7-b1a3-4a77-9140-9fbf58182f13/importRequests/33"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/ea62d84c-ea9d-443d-8790-70a2de260c45/_apis/git/repositories/32af96c7-b1a3-4a77-9140-9fbf58182f13"}},"url":"https://dev.azure.com/v-anvashist0376/ea62d84c-ea9d-443d-8790-70a2de260c45/_apis/git/repositories/32af96c7-b1a3-4a77-9140-9fbf58182f13/importRequests/33"}'
    headers:
      activityid:
      - 336c8224-baca-454c-8c5f-d3021c79e3dd
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - f77fcf17-141f-4e77-88af-43d7b2bf292a
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 336c8224-baca-454c-8c5f-d3021c79e3dd
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/ea62d84c-ea9d-443d-8790-70a2de260c45/_apis/git/repositories/32af96c7-b1a3-4a77-9140-9fbf58182f13/importRequests/33
  response:
    body:
      string: '{"importRequestId":33,"rep[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/refsTests000001/_apis/git/repositories/refsTests000002/refs
  response:
    body:
      string: '{"value":[{"name":"refs/heads/gh-pages","objectId":"e0d501db4f5a08fe212e8ed7a8e8035fbef62416","creator":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_api/_common/identityImage?id=22157d54-1821-6536-a446-928b06348385","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"url":"https://dev.azure.com/v-anvashist0376/ea62d84c-ea9d-443d-8790-70a2de260c45/_apis/git/repositories/32af96c7-b1a3-4a77-9140-9fbf58182f13/refs?filter=heads%2Fgh-pages"},{"name":"refs/heads/master","objectId":"c06ae011e801fea6e915d5a779f3322e6f5301a1","creator":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821[...]
- request:
    body: '[{"isLocked": false, "name": "refs/heads/branchnametocreate", "newObjectId":
      "e0d501db4f5a08fe212e8ed7a8e8035fbef62416", "oldObjectId": "0000000000000000000000000000000000000000"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/refsTests000001/_apis/git/repositories/refsTests000002/refs
  response:
    body:
      string: '{"value":[{"repositoryId":"32af96c7-b1a3-4a77-9140-9fbf58182f13","name":"refs/heads/branchnametocreate","oldObjectId":"0000000000000000000000000000000000000000","newObjectId":"e0d501db4f5a08fe212e8ed7a8e8035fbef62416","isLocked":false,"updateStatus":"succeeded","success":true}],"count":1}'
    headers:
      activityid:
      - 7b0f4277-5839-4af0-8b46-03338f5bd43a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3e5d6de8-9a30-4743-9c4c-0d5527f3ca5f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 7b0f4277-5839-4af0-8b46-03338f5bd43a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"isLocked": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/v-anvashist0376/refsTests000001/_apis/git/repositories/refsTests000002/refs?filter=heads%2Fbranchnametocreate
  response:
    body:
      string: '{"name":"refs/heads/branchnametocreate","objectId":"e0d501db4f5a08fe212e8ed7a8e8035fbef62416","isLockedBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_api/_c[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/ea62d84c-ea9d-443d-8790-70a2de260c45
  response:
    body:
      string: '{"id":"a7029765-f220-48ac-ac8c-e966691ecec1","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/a7029765-f220-48ac-ac8c-e966691ecec1"}'
    headers:
      activityid:
      - f2616168-77aa-4c8d-85b5-02e2a4304438
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - a8e54f57-01b8-4585-a4b3-3b2d681ad009
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - f2616168-77aa-4c8d-85b5-02e2a4304438
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/a7029765-f220-48ac-ac8c-e966691ecec1
  response:
    body:
      string: '{"id":"a7029765-f220-48ac-ac8c-e966691ecec1","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/a7029765-f220-48ac-ac8c-e966691ecec1","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/a7029765-f220-48ac-ac8c-e966691ecec1"}}}'
    headers:
      activityid:
      - 8ce08024-75b7-446a-857c-386cccb97db6
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 81515145-17e8-4d31-8df7-702b5a0ae855
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 8ce08024-75b7-446a-857c-386cccb97db6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
