interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/buildtests/_apis/build/Definitions?name=BuildTests%20Definition1
  response:
    body:
      string: '{"count":1,"value":[{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/Definitions/20?revision=3"},"web":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_build/definition?definitionId=20"},"editor":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_build/designer?id=20&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/status/20"}},"quality":"definition","authoredBy":{"displayName":"MerlinBot","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/56b0f042-b05e-86d9-b0f7-c5ddb1e76385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/svc.MmFkMzhkMWUtM2VhZi00NzY5LTkzMWMtM2EyZGE2N2JiYjAxOkFwcGxpY2F0aW9uOjU2YjBmMDQyLWIwNWUtODZkOS1iMGY3LWM1ZGRiMWU3NjM4NQ"}},"id":"56b0f042-b05e-86d9-b0f7-c5ddb1e76385","uniqueName":"Application\\56b0f042-b05e-86d9-b0f7-c5ddb1e76385","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/svc.MmFkMzhkMWUtM2VhZi00NzY5LTkzMWMtM2EyZGE2N2JiYjAxOkFwcGxpY2F0aW9uOjU2YjBmMDQyLWIwNWUtODZkOS1iMGY3LWM1ZGRiMWU3NjM4NQ","descriptor":"svc.MmFkMzhkMWUtM2VhZi00NzY5LTkzMWMtM2EyZGE2N2JiYjAxOkFwcGxpY2F0aW9uOjU2YjBmMDQyLWIwNWUtODZkOS1iMGY3LWM1ZGRiMWU3NjM4NQ"},"drafts":[],"queue":{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/build/Queues/72"}},"id":72,"name":"Azure
        Pipelines","url":"https://dev.azure.com/v-anvashist0376/_apis/build/Queues/72","pool":{"id":9,"name":"Azure
        Pipelines","isHosted":true}},"id":20,"name":"BuildTests Definition1","url":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/Definitions/20?revision=3","uri":"vstfs:///Build/Definition/20","path":"\\","type":"build","queueStatus":"disabled","revision":3,"createdDate":"2024-04-07T00:30:42.167Z","project":{"id":"70642ceb-5192-4e9e-8ec0-865714dc08b7","name":"buildtests","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/70642ceb-5192-4e9e-8ec0-865714dc08b7","state":"wellFormed","revision":73,"visibility":"organization","lastUpdateTime":"2023-12-26T06:21:02.863Z"}}]}'
    headers:
      activityid:
      - 52a87ce4-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52a87ce4-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"id": 20}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/buildtests/_apis/build/Builds
  response:
    body:
      string: '{"$id":"1","innerException":null,"message":"Build pipeline BuildTests
        Definition1 is disabled for project buildtests.","typeName":"Microsoft.TeamFoundation.Build.WebApi.DefinitionDisabledException,
        Microsoft.TeamFoundation.Build2.WebApi","typeKey":"DefinitionDisabledException","errorCode":0,"eventId":3000}'
    headers:
      activityid:
      - 8853d865-4992-4ec3-82cc-a21ecd0c2ba8
      content-type:
      - application/json; charset=utf-8
      x-tfs-processid:
      - acea8c03-34bb-4ee4-a91f-cbb689df1604
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 8853d865-4992-4ec3-82cc-a21ecd0c2ba8
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 400
      message: Bad Request
version: 1
