interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 18b334df-7b57-4743-a79e-73a155db377d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 00ff2b08-bd50-434a-893e-43641bdbfe31
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 18b334df-7b57-4743-a79e-73a155db377d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "GroupTests_000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"b5e7014a-3994-4624-8160-491768ccaa41","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/b5e7014a-3994-4624-8160-491768ccaa41"}'
    headers:
      activityid:
      - 52ae42b4-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52ae42b4-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/b5e7014a-3994-4624-8160-491768ccaa41
  response:
    body:
      string: '{"id":"b5e7014a-3994-4624-8160-491768ccaa41","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/b5e7014a-3994-4624-8160-491768ccaa41","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/b5e7014a-3994-4624-8160-491768ccaa41"}}}'
    headers:
      activityid:
      - 52ae42d4-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52ae42d4-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/GroupTests_000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"8c1067aa-8bf0-48d2-801d-ac31b4d72f9e","name":"GroupTests_000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/8c1067aa-8bf0-48d2-801d-ac31b4d72f9e","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1462,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/8c1067aa-8bf0-48d2-801d-ac31b4d72f9e"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/GroupTests_000001"}},"visibility":"private","defaultTeam":{"id":"746148a0-0fd9-47a5-80d4-421ef1b76e93","name":"GroupTests_000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/8c1067aa-8bf0-48d2-801d-ac31b4d72f9e/teams/746148a0-0fd9-47a5-80d4-421ef1b76e93"},"lastUpdateTime":"2025-01-03T12:22:28.183Z"}'
    headers:
      activityid:
      - 52ae443e-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52ae443e-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/GroupTests_000001
  response:
    body:
      string: '{"id":"8c1067aa-8bf0-48d2-801d-ac31b4d72f9e","name":"GroupTests_000001","url":"https://dev.azure.com/v-anvas[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Descriptors/8c1067aa-8bf0-48d2-801d-ac31b4d72f9e
  response:
    body:
      string: '{"value":"scp.YzhhZTkxNzktYTY5NC00MGM4LWE2ZWEtNTE5M2RhZWUyOWM1","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Descriptors/8c1067aa-8bf0-48d2-801d-ac31b4d72f9e"},"storageKey":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/StorageKeys/scp.YzhhZTkxNzktYTY5NC00MGM4LWE2ZWEtNTE5M2RhZWUyOWM1"},"subject":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Scopes/scp.YzhhZTkxNzktYTY5NC00MGM4LWE2ZWEtNTE5M2RhZWUyOWM1"}}}'
    headers:
      activityid:
      - b0b2a099-3254-44bb-9831-0a4bcc8467af
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - ccf1e669-dba8-429c-bc22-e42d38df2d7c
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - b0b2a099-3254-44bb-9831-0a4bcc8467af
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups?scopeDescriptor=scp.YzhhZTkxNzktYTY5NC00MGM4LWE2ZWEtNTE5M2RhZWUyOWM1
  response:
    body:
      string: '{"count":6,"value":[{"subjectKind":"group","description":"Members of
        this group have access to the team project.","domain":"vstfs:///Classification/TeamProject/8c1067aa-8bf0-48d2-801d-ac31b4d72f9e","principalName":"[GroupTests_000001]\\Readers","mailAddress":null,"origin":"vsts","originId":"7cc83dae-55ca-4a56-90ac-312475e79e2a","displayName":"Readers","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yODU4ODgxMTY0LTQwMzU2OTUxNzYtMjE0OTQyODI3My0zMDM0MDAxMzEwLTEtMjg4NjQyOTY2NS0xNDQzMjg2NjAwLTI1NjAwOTQyNDMtMjg1ODgxNTc0NQ"},"memberships":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yODU4ODgxMTY0LTQwMzU2OTUxNzYtMjE0OTQyODI3My0zMDM0MDAxMzEwLTEtMjg4NjQyOTY2NS0xNDQzMjg2NjAwLTI1NjAwOTQyNDMtMjg1ODgxNTc0NQ"},"membershipState":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/MembershipStates/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yODU4ODgxMTY0LTQwMzU2OTUxNzYtMjE0OTQyODI3My0zMDM0MDAxMzEwLTEtMjg4NjQyOTY2NS0xNDQzMjg2NjAwLTI1NjAwOTQyNDMtMjg1ODgxNTc0NQ"},"storageKey":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/StorageKeys/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yODU4ODgxMTY0LTQwMzU2OTUxNzYtMjE0OTQyODI3My0zMDM0MDAxMzEwLTEtMjg4NjQyOTY2NS0xNDQzMjg2NjAwLTI1NjAwOTQyNDMtMjg1ODgxNTc0NQ"}},"url":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yODU4ODgxMTY0LTQwMzU2OTUxNzYtMjE0OTQyODI3My0zMDM0MDAxMzEwLTEtMjg4NjQyOTY2NS0xNDQzMjg2NjAwLTI1NjAwOTQyNDMtMjg1ODgxNTc0NQ","descriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0yODU4ODgxMTY0LTQwMzU2OTUxNzYtMjE0OTQyODI3My0zMDM0MDAxMzEwLTEtMjg4NjQyOTY2NS0xNDQzMjg2NjAwLTI1NjAwOTQyNDMtMjg1ODgxNTc0NQ"},{"subjectKind":"group","description":"The
        default project team.","domain":"vstfs:///Classification/TeamProject/8c1067aa-8bf0-48d2-801d-ac31b4d72f9e","principalName":"[GroupTests_000001]\\GroupTests_000001
        Team","mailAddress":null,"origin":"vsts","originId":"746148a0-0fd9-47a5-80d4-421ef1b76e93","displayName":"GroupTests_000001
   [...]
- request:
    body: '[{"op": "add", "path": "", "value": {"accessLevel": {"accountLicenseType":
      "stakeholder"}, "extensions": [], "projectEntitlements": [], "user": {"subjectKind":
      "user", "principalName": "new_user_test@outlook.com"}}}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://vsaex.dev.azure.com/v-anvashist0376/_apis/UserEntitlements?doNotSendInviteForNewUsers=false
  response:
    body:
      string: '{"id":"c9832f31-e783-4a6d-81b5-0f4612e94cef","status":"succeeded","haveResultsSucceeded":true,"completed":true,"results":[{"userId":"323989e2-d2d7-4483-9903-d20b58fa7258","isSuccess":true,"errors":[],"result":{"user":{"subjectKind":"user","directoryAlias":"new_user_test_outlook.com#EXT#","domain":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"aad","originId":"012ed025-5cc0-4f1a-a7da-a98916f8f04f","displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"memberships":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"membershipState":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/MembershipStates/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"storageKey":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/StorageKeys/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"}},"url":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4","descriptor":"aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"extensions":[],"id":"323989e2-d2d7-4483-9903-d20b58fa7258","accessLevel":{"licensingSource":"account","accountLicenseType":"earlyAdopter","msdnLicenseType":"none","licenseDisplayName":"Early
        Adopter","status":"pending","statusMessage":"","assignmentSource":"unknown"},"lastAccessedDate":"0001-01-01T00:00:00Z","dateCreated":"2025-01-03T09:19:57.4879526Z","projectEntitlements":[],"groupAssignments":[]}}]}'
    headers:
      activityid:
      - fdf18e13-5755-4ff8-bd28-d6e5414bf0f6
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.2
      x-tfs-processid:
      - 175c8cf2-37dd-4bb7-804f-a5433710f62d
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - fdf18e13-5755-4ff8-bd28-d6e5414bf0f6
      x-vss-senderdeploymentid:
      - 60550036-6ed7-6a2e-3bc7-9053b0c2e866
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yMDM5NTkwNjAwLTI0OTM5NTgyMDgtMjgwMDM3NDE2My0zNjczMDQxMzQ5LTAtMC0wLTAtMw?direction=down
  response:
    body:
      string: '{"count":5,"value":[{"containerDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0yMDM5NTkwNjAwLTI0OTM5NTgyMDgtMjgwMDM3NDE2My0zNjczMDQxMzQ5LTAtMC0wLTAtMw","memberDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0yODU4ODgxMTY0LTQwMzU2OTUxNzYtMjE0OTQyODI3My0zMDM0MDAxMzEwLTEtMjg4NjQyOTY2NS0xNDQzMjg2NjAwLTI1NjAwOTQyNDMtMjg1ODgxNTc0NQ","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yODU4ODgxMTY0LTQwMzU2OTUxNzYtMjE0OTQyODI3My0zMDM0MDAxMzEwLTEtMjg4NjQyOTY2NS0xNDQzMjg2NjAwLTI1NjAwOTQyNDMtMjg1ODgxNTc0NQ/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yMDM5NTkwNjAwLTI0OTM5NTgyMDgtMjgwMDM3NDE2My0zNjczMDQxMzQ5LTAtMC0wLTAtMw"},"member":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yODU4ODgxMTY0LTQwMzU2OTUxNzYtMjE0OTQyODI3My0zMDM0MDAxMzEwLTEtMjg4NjQyOTY2NS0xNDQzMjg2NjAwLTI1NjAwOTQyNDMtMjg1ODgxNTc0NQ"},"container":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yMDM5NTkwNjAwLTI0OTM5NTgyMDgtMjgwMDM3NDE2My0zNjczMDQxMzQ5LTAtMC0wLTAtMw"}}},{"containerDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0yMDM5NTkwNjAwLTI0OTM5NTgyMDgtMjgwMDM3NDE2My0zNjczMDQxMzQ5LTAtMC0wLTAtMw","memberDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0yODU4ODgxMTY0LTQwMzU2OTUxNzYtMjE0OTQyODI3My0zMDM0MDAxMzEwLTEtNDA5ODQyMzAzLTM0NDA4MTAwNTEtMjM4MzM1Mjk4NS0xMDYzNjk4NjIw","_links":{"self":{"href":"htt[...]
- request:
    body: '{"lookupKeys": [{"descriptor": "vssgp.Uy0xLTktMTU1MTM3NDI0NS0yODU4ODgxMTY0LTQwMzU2OTUxNzYtMjE0OTQyODI3My0zMDM0MDAxMzEwLTEtMjg4NjQyOTY2NS0xNDQzMjg2NjAwLTI1NjAwOTQyNDMtMjg1ODgxNTc0NQ"},
      {"descriptor": "vssgp.Uy0xLTktMTU1MTM3NDI0NS0yODU4ODgxMTY0LTQwMzU2OTUxNzYtMjE0OTQyODI3My0zMDM0MDAxMzEwLTEtNDA5ODQyMzAzLTM0NDA4MTAwNTEtMjM4MzM1Mjk4NS0xMDYzNjk4NjIw"},
      {"descriptor": "vssgp.Uy0xLTktMTU1MTM3NDI0NS0yODU4ODgxMTY0LTQwMzU2OTUxNzYtMjE0OTQyODI3My0zMDM0MDAxMzEwLTEtMjc0MzQwNjc4NC0yNTIwMzYxNzkzLTI4ODU0MjMxNzMtMz[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yMDM5NTkwNjAwLTI0OTM5NTgyMDgtMjgwMDM3NDE2My0zNjczMDQxMzQ5LTEtMzU2Njc1MTQwNi0zMTE3NTk1MjA3LTMwNDUxNTQxMDItOTgwNzg5NTcx
  resp[...]
[...]
- request:
    body: '{"displayName": "project security GroupName_000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups?scopeDescriptor=scp.YzhhZTkxNzktYTY5NC00MGM4LWE2ZWEtNTE5M2RhZWUyOWM1&groupDescriptors=vssgp.Uy0xLTktMT[...]
[...]
- request:
    body: '{"displayName": "project security GroupName_000005"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups?scopeDescriptor=scp.YzhhZTkxNzktYTY5NC00MGM4LWE2ZWEtNTE5M2RhZWUyOWM1&groupDescriptors=vssgp.Uy0xLTktMT[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yMDM5NTkwNjAwLTI0OTM5NTgyMDgtMjgwMDM3NDE2My0zNjczMDQxMzQ5LTEtMjI1Mzk0NDY0OC04NTkzNzUxODItMzE2NzU3MDg4OS0xMjI1NDUyNDQ?direction=down
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - 66b44052-6127-41fa-9076-909e50d1b61d
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 06e56c8e-a863-4e1a-9b99-c98bb7d062f4
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 66b44052-6127-41fa-9076-909e50d1b61d
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yMDM5NTkwNjAwLTI0OTM5NTgyMDgtMjgwMDM3NDE2My0zNjczMDQxMzQ5LTEtMjI1Mzk0NDY0OC04NTkzNzUxODItMzE2NzU3MDg4OS0xMjI1NDUyNDQ?di[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yMDM5NTkwNjAwLTI0OTM5NTgyMDgtMjgwMDM3NDE2My0zNjczMDQxMzQ5LTEtMjI1Mzk0NDY0OC04NTkzNzUxODItMzE2NzU3MDg4OS0xMjI1NDUyNDQ/vs[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Identities?searchFilter=General&filterValue=new_user_test%40outlook.com
  response:
    body:
      string: '{"count":1,"value":[{"id":"323989e2-d2d7-4483-9903-d20b58fa7258","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","subjectDescriptor":"aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4","providerDisplayName":"new_user_test@outlook.com","isActive":true,"members":[],"memberOf":[],"memberIds":[],"properties":{"SchemaClassName":{"$type":"System.String","$value":"User"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"Account":{"$type":"System.String","$value":"new_user_test@outlook.com"},"DN":{"$type":"System.String","$value":""},"Mail":{"$type":"System.String","$value":"new_user_test@outlook.com"},"SpecialType":{"$type":"System.String","$value":"Generic"},"PUID":{"$type":"System.String","$value":"aad:"},"ComplianceValidated":{"$type":"System.DateTime","$value":"2025-01-03T00:00:00Z"},"http://schemas.microsoft.com/identity/claims/objectidentifier":{"$type":"System.String","$value":"012ed025-5cc0-4f1a-a7da-a98916f8f04f"},"DirectoryAlias":{"$type":"System.String","$value":"new_user_test_outlook.com#EXT#"}},"resourceVersion":2,"metaTypeId":255}]}'
    headers:
      activityid:
      - 0c4b2740-3e82-4517-a231-36614183154a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f6aa352d-1efa-4423-9089-50850973afbe
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 0c4b2740-3e82-4517-a231-36614183154a
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yMDM5NTkwNjAwLTI0OTM5NTgyMDgtMjgwMDM3NDE2My0zNjczMDQxMzQ5LTEtMzU2N[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yMDM5NTkwNjAwLTI0OTM5NTgyMDgtMjgwMDM3NDE2My0zNjczMDQxMzQ5LTEtMzU2Njc1MTQwNi0zMTE3NTk1MjA3LTMwNDUxNTQxMDItOTgwNzg5NTcx?d[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: HEAD
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yMDM5NTkwNjAwLTI0OTM5NTgyMDgtMjgwMDM3NDE2My0zNjczMDQxMzQ5LTEtMjI1Mzk0NDY0OC04NTkzNzUxODItMzE2NzU3MDg4OS0xMjI1NDUyNDQ/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yMDM5NTkwNjAwLTI0OTM5NTgyMDgtMjgwMDM3NDE2My0zNjczMDQxMzQ5LTEtMzU2Njc1MTQwNi0zMTE3NTk1MjA3LTMwNDUxNTQxMDItOTgwNzg5NTcx
  response:
    body:
      string: ''
    headers:
      activityid:
      - 0c4b34ab-3e82-4517-a231-36614183154a
      www-authenticate:
      - Bearer authorization_uri=https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47
      x-tfs-fedauthissuer:
      - https://www.visualstudio.com/
      x-tfs-fedauthrealm:
      - https://spsprodcin2.vssps.visualstudio.com/
      x-tfs-processid:
      - f6aa352d-1efa-4423-9089-50850973afbe
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-authorizationendpoint:
      - https://vssps.dev.azure.com/v-anvashist0376/
      x-vss-e2eid:
      - 0c4b34ab-3e82-4517-a231-36614183154a
      x-vss-resourcetenant:
      - 72f988bf-86f1-41af-91ab-2d7cd011db47
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '[{"op": "replace", "path": "/displayName", "value": "project security GroupName_000006"}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yMDM5NTkwNjAwLTI0OTM5NTg[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS0yMDM5NTkwNjAwLTI0OTM5NTgyMDgtMjgwMDM3NDE2My0zNjczMDQxMzQ5LTEtMjI1Mzk0NDY0OC04NTkzNzUxODItMzE2NzU3MDg4OS0xMjI1NDUyNDQ
  response:
    body:
      string: ''
    headers:
      activityid:
      - 0c4acb83-3e82-4517-a231-36614183154a
      x-tfs-processid:
      - f6aa352d-1efa-4423-9089-50850973afbe
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 0c4acb83-3e82-4517-a231-36614183154a
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/8c1067aa-8bf0-48d2-801d-ac31b4d72f9e
  response:
    body:
      string: '{"id":"ac287229-f328-4d48-a0b9-8cacb74206b4","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/ac287229-f328-4d48-a0b9-8cacb74206b4"}'
    headers:
      activityid:
      - 18b12401-7b57-4743-a79e-73a155db377d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 00ff2b08-bd50-434a-893e-43641bdbfe31
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 18b12401-7b57-4743-a79e-73a155db377d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/ac287229-f328-4d48-a0b9-8cacb74206b4
  response:
    body:
      string: '{"id":"ac287229-f328-4d48-a0b9-8cacb74206b4","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/ac287229-f328-4d48-a0b9-8cacb74206b4","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/ac287229-f328-4d48-a0b9-8cacb74206b4"}}}'
    headers:
      activityid:
      - 6b528503-d14a-4008-8dbe-5e46b5e9f379
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 98c229af-85ac-4aef-a1b7-bbe8a1f1ead4
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 6b528503-d14a-4008-8dbe-5e46b5e9f379
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
