interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 6b534b7c-d14a-4008-8dbe-5e46b5e9f379
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 98c229af-85ac-4aef-a1b7-bbe8a1f1ead4
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 6b534b7c-d14a-4008-8dbe-5e46b5e9f379
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "pipelinesFolderTest000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"aa9f12ea-301d-4106-ac4f-9224b5cab94b","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/aa9f12ea-301d-4106-ac4f-9224b5cab94b"}'
    headers:
      activityid:
      - 8853c11a-4992-4ec3-82cc-a21ecd0c2ba8
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - acea8c03-34bb-4ee4-a91f-cbb689df1604
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 8853c11a-4992-4ec3-82cc-a21ecd0c2ba8
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/aa9f12ea-301d-4106-ac4f-9224b5cab94b
  response:
    body:
      string: '{"id":"aa9f12ea-301d-4106-ac4f-9224b5cab94b","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/aa9f12ea-301d-4106-ac4f-9224b5cab94b","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/aa9f12ea-301d-4106-ac4f-9224b5cab94b"}}}'
    headers:
      activityid:
      - ae2d6334-38da-43fc-9c9e-b262562ee3d0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7feece6f-b60f-4985-b04b-141c1af88e11
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - ae2d6334-38da-43fc-9c9e-b262562ee3d0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/pipelinesFolderTest000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"4066662c-3f0a-4d2a-a1d3-3fdd9955e278","name":"pipelinesFolderTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/4066662c-3f0a-4d2a-a1d3-3fdd9955e278","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1506,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/4066662c-3f0a-4d2a-a1d3-3fdd9955e278"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/pipelinesFolderTest000001"}},"visibility":"private","defaultTeam":{"id":"6a507e27-29e0-4f13-baa2-a3e0bff62592","name":"pipelinesFolderTest000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/4066662c-3f0a-4d2a-a1d3-3fdd9955e278/teams/6a507e27-29e0-4f13-baa2-a3e0bff62592"},"lastUpdateTime":"2025-01-03T12:29:49.083Z"}'
    headers:
      activityid:
      - 52a878d0-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52a878d0-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Test folder", "path": "TestFolder"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/pipelinesFolderTest000001/_apis/build/folders/TestFolder
  response:
    body:
      string: '{"path":"\\TestFolder","description":"Test folder","createdOn":"2025-01-03T12:29:50.143Z","createdBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"project":{"id":"4066662c-3f0a-4d2a-a1d3-3fdd9955e278","name":"pipelinesFolderTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/4066662c-3f0a-4d2a-a1d3-3fdd9955e278","state":"wellFormed","revision":1506,"visibility":"private","lastUpdateTime":"2025-01-03T12:29:49.083Z"}}'
    headers:
      activityid:
      - 42f74966-f5aa-489b-829b-6b935a83b968
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.2
      x-tfs-processid:
      - f0cc34b2-4918-45ae-99cc-98ed5fcaeba0
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 42f74966-f5aa-489b-829b-6b935a83b968
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesFolderTest000001/_apis/build/folders/TestFolder?queryOrder=folderAscending
  response:
    body:
      string: '{"count":1,"value":[{"path":"\\TestFolder","description":[...]
- request:
    body: '{"createdBy": {"_links": {}, "descriptor": "aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1",
      "displayName": "Soujanya Bestala (MINDTREE LIMITED)", "url": "https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385",
      "id": "22157d54-1821-6536-a446-928b06348385", "imageUrl": "https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOT[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesFolderTest000001/_apis/build/folders?queryOrder=folderAscending
  response:
    body:
      string: '{"count":3,"value":[{"path":"\\","createdOn":"2025-01-03T12:29:48.18[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/pipelinesFolderTest000001/_apis/build/folders/%5CTesting%5CTestFolder
  response:
    body:
      string: ''
    headers:
      activityid:
      - 52a87fc9-a46d-42bf-bc06-7edffe57a89c
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52a87fc9-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/4066662c-3f0a-4d2a-a1d3-3fdd9955e278
  response:
    body:
      string: '{"id":"48e23b2f-816d-4f1f-a2a5-e102f1a76db7","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/48e23b2f-816d-4f1f-a2a5-e102f1a76db7"}'
    headers:
      activityid:
      - 1f978ccb-34de-4605-870f-0f062219ef9f
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f037019e-3fc4-4eca-8c1b-91732621702b
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 1f978ccb-34de-4605-870f-0f062219ef9f
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/48e23b2f-816d-4f1f-a2a5-e102f1a76db7
  response:
    body:
      string: '{"id":"48e23b2f-816d-4f1f-a2a5-e102f1a76db7","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/48e23b2f-816d-4f1f-a2a5-e102f1a76db7","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/48e23b2f-816d-4f1f-a2a5-e102f1a76db7"}}}'
    headers:
      activityid:
      - 52a87d96-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52a87d96-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
