interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 18b2fa21-7b57-4743-a79e-73a155db377d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 00ff2b08-bd50-434a-893e-43641bdbfe31
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 18b2fa21-7b57-4743-a79e-73a155db377d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "IterationProj_000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"7e21d6b7-cb73-4a85-83c9-9dcc8bba5aed","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/7e21d6b7-cb73-4a85-83c9-9dcc8bba5aed"}'
    headers:
      activityid:
      - ae2fc096-38da-43fc-9c9e-b262562ee3d0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7feece6f-b60f-4985-b04b-141c1af88e11
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - ae2fc096-38da-43fc-9c9e-b262562ee3d0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/7e21d6b7-cb73-4a85-83c9-9dcc8bba5aed
  response:
    body:
      string: '{"id":"7e21d6b7-cb73-4a85-83c9-9dcc8bba5aed","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/7e21d6b7-cb73-4a85-83c9-9dcc8bba5aed","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/7e21d6b7-cb73-4a85-83c9-9dcc8bba5aed"}}}'
    headers:
      activityid:
      - 52aff9d1-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52aff9d1-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/IterationProj_000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"e48dfd6f-9e53-49c1-88c2-1aedf2442eea","name":"IterationProj_000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/e48dfd6f-9e53-49c1-88c2-1aedf2442eea","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1431,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/e48dfd6f-9e53-49c1-88c2-1aedf2442eea"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/IterationProj_000001"}},"visibility":"private","defaultTeam":{"id":"8189de67-258e-43c2-ac3e-ec1f7db11892","name":"IterationProj_000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/teams/8189de67-258e-43c2-ac3e-ec1f7db11892"},"lastUpdateTime":"2025-01-03T12:21:29.337Z"}'
    headers:
      activityid:
      - 6b50f078-d14a-4008-8dbe-5e46b5e9f379
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 98c229af-85ac-4aef-a1b7-bbe8a1f1ead4
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 6b50f078-d14a-4008-8dbe-5e46b5e9f379
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes/iterations?$depth=1
  response:
    body:
      string: '{"id":544,"identifier":"3e06446a-0b7f-48bb-a6fa-43743616b381","name":"IterationProj_000001","structureType":"iteration","hasChildren":true,"children":[{"id":546,"identifier":"b031a022-dafb-488c-aae1-9cf7310ce9d0","name":"Sprint
        1","structureType":"iteration","hasChildren":false,"path":"\\IterationProj_000001\\Iteration\\Sprint
        1","url":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/_apis/wit/classificationNodes/Iterations/Sprint%201"}],"path":"\\IterationProj_000001\\Iteration","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/_apis/wit/classificationNodes/Iterations"}},"url":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/_apis/wit/classificationNodes/Iterations"}'
    headers:
      activityid:
      - b41ede94-234f-40df-bdc6-4fa11d0c1d34
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e0b5ceb9-22b3-47a0-84a1-5b4ef3fe5d5a
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - b41ede94-234f-40df-bdc6-4fa11d0c1d34
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "teamName1_000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/IterationProj_000001/teams
  response:
    body:
      string: '{"id":"7677724a-913f-47db-81da-6cbaf0180600","name":"teamName1_000002","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/teams/7677724a-913f-47db-81da-6cbaf0180600","description":"","identityUrl":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/7677724a-913f-47db-81da-6cbaf0180600","projectName":"IterationProj_000001","projectId":"e48dfd6f-9e53-49c1-88c2-1aedf2442eea","identity":{"id":"7677724a-913f-47db-81da-6cbaf0180600","descriptor":"Microsoft.TeamFoundation.Identity;S-1-9-1551374245-1878887908-1402913097-2294422253-4064554730-1-1703781588-748067660-2164464279-3855657213","subjectDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0xODc4ODg3OTA4LTE0MDI5MTMwOTctMjI5NDQyMjI1My00MDY0NTU0NzMwLTEtMTcwMzc4MTU4OC03NDgwNjc2NjAtMjE2NDQ2NDI3OS0zODU1NjU3MjEz","providerDisplayName":"[IterationProj_000001]\\teamName1_000002","isActive":true,"isContainer":true,"members":[],"memberOf":[],"masterId":"7677724a-913f-47db-81da-6cbaf0180600","properties":{"Microsoft.TeamFoundation.Team":{"$type":"System.Boolean","$value":true},"SchemaClassName":{"$type":"System.String","$value":"Group"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"vstfs:///Classification/TeamProject/e48dfd6f-9e53-49c1-88c2-1aedf2442eea"},"Account":{"$type":"System.String","$value":"teamName1_000002"},"SecurityGroup":{"$type":"System.String","$value":"SecurityGroup"},"SpecialType":{"$type":"System.String","$value":"Generic"},"ScopeId":{"$type":"System.String","$value":"21f2d9ca-86d8-41f5-a33e-af4cc92f7fa0"},"ScopeType":{"$type":"System.String","$value":"TeamProject"},"LocalScopeId":{"$type":"System.String","$value":"e48dfd6f-9e53-49c1-88c2-1aedf2442eea"},"SecuringHostId":{"$type":"System.String","$value":"a9bae0de-049f-43b5-a1ff-18f8f805fbe8"},"ScopeName":{"$type":"System.String","$value":"IterationProj_000001"},"VirtualPlugin":{"$type":"System.String","$value":""}},"resourceVersion":2,"metaTypeId":255}}'
    headers:
      activityid:
      - 885d69de-4992-4ec3-82cc-a21ecd0c2ba8
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - acea8c03-34bb-4ee4-a91f-cbb689df1604
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 885d69de-4992-4ec3-82cc-a21ecd0c2ba8
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"attributes": {}, "name": "teamName1_000002_Root_Itr_000003"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes/iterations
  response:
    body:
      string: '{"id":548,"identifier":"7ea8d4dd-66e8-41d4-aca8-b6e1a964edd8","name":"teamName1_000002_Root_Itr_000003","structureType":"iteration","hasChildren":false,"path":"\\IterationProj_000001\\Iteration\\teamName1_000002_Root_Itr_000003","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003"},"parent":{"href":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/_apis/wit/classificationNodes/Iterations"}},"url":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003"}'
    headers:
      activityid:
      - 9b9913a9-d3fb-4495-afec-f6986f9b5e8b
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      location:
      - https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003
      x-tfs-processid:
      - 709881ea-d5e8-4d50-9f19-9f1bf3301f7f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 9b9913a9-d3fb-4495-afec-f6986f9b5e8b
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes?$depth=0
  response:
    body:
      string: '{"count":2,"value":[{"id":547,"identifier":"7326c419-5759-4f8a-8c09-0a242567ef89"[...]
- request:
    body: '{"attributes": {}, "name": "Child_Itr_000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes/iterations/%5CteamName1_000002_Root_Itr_000003
  response:
    body:
      string:[...]
[...]
- request:
    body: '{"attributes": {"startDate": "2019-06-17T00:00:00", "finishDate": "2019-06-28T00:00:00"},
      "name": "Child_Itr_000005"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes/iterations/%5CteamName1_000002_Root_Itr_000003
  response:
    body:
      string: '{"id":55[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes?ids=549
  response:
    body:
      string: '{"count":1,"value":[{"id":549,"identifier":"4be35843-25e4-4de5-9cf0-728f5be2a555",[...]
[...]
- request:
    body: '{"id": 550}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes/iterations/%5CteamName1_000002_Root_Itr_000003%5CChild_Itr_000004
  response:
    body:
      string: '{"id":550,"ide[...]
[...]
- request:
    body: '{"url": "https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003/Child_Itr_000004",
      "_links": {}, "attributes": {}, "hasChildren": true, "id": 549, "identifier":
      "4be35843-25e4-4de5-9cf0-728f5be2a555", "name": "Child_Itr_000004", "structureType":
      "iteration"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
    [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/teamName1_000002/_apis/work/teamsettings/iterations
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - 5355ed2a-4abe-47a2-82a0-8110aac68309
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - b97ff233-9513-4ce7-8a9b-cbb5938dff9f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 5355ed2a-4abe-47a2-82a0-8110aac68309
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "7ea8d4dd-66e8-41d4-aca8-b6e1a964edd8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/teamName1_000002/_apis/work/teamsettings/iterations
  response:
    body:
      string: '{"$id":"1","innerException":null,"message":"TF400497: The backlog iteration
        path that you specified is no longer valid.","typeName":"Microsoft.Azure.Boards.Agile.Common.Exceptions.InvalidTeamSettingsException,
        Microsoft.Azure.Boards.Agile.Common","typeKey":"InvalidTeamSettingsException","errorCode":0,"eventId":3000}'
    headers:
      activityid:
      - 60a70129-6499-4a88-b879-d358ae50c301
      content-type:
      - application/json; charset=utf-8
      x-tfs-processid:
      - 1ad39b29-0c88-4c30-acc2-65c06abc65e6
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 60a70129-6499-4a88-b879-d358ae50c301
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/teamName1_000002/_apis/work/teamsettings
  response:
    body:
      string: '{"backlogIteration":{"id":"00000000-0000-0000-0000-000000000000"},"bugsBehavior":"off","workingDays":["monday","tuesday","wednesday","thursday","friday"],"backlogVisibilities":{"Microsoft.EpicCategory":true,"Microsoft.RequirementCategory":true},"defaultIteration":null,"defaultIterationMacro":"@currentIteration","url":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/7677724a-913f-47db-81da-6cbaf0180600/_apis/work/teamsettings","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/7677724a-913f-47db-81da-6cbaf0180600/_apis/work/teamsettings"},"project":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/e48dfd6f-9e53-49c1-88c2-1aedf2442eea"},"team":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/teams/7677724a-913f-47db-81da-6cbaf0180600"},"teamIterations":{"href":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/7677724a-913f-47db-81da-6cbaf0180600/_apis/work/teamsettings/iterations"},"teamFieldValues":{"href":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/7677724a-913f-47db-81da-6cbaf0180600/_apis/work/teamsettings/teamfieldvalues"}}}'
    headers:
      activityid:
      - 6b50f6e2-d14a-4008-8dbe-5e46b5e9f379
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 98c229af-85ac-4aef-a1b7-bbe8a1f1ead4
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 6b50f6e2-d14a-4008-8dbe-5e46b5e9f379
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "4be35843-25e4-4de5-9cf0-728f5be2a555"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/teamName1_000002/_apis/work/teamsettings/iterations
  response:
    body:
      string: '{"id":"4be35843-25e4-4de5-9cf0-728f5be2a555","name":"Child_Itr_000004","path":"IterationProj_000001\\teamName1_000002_Root_Itr_000003\\Child_Itr_000004","attributes":{"startDate":null,"finishDate":null,"timeFrame":"current"},"url":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/7677724a-913f-47db-81da-6cbaf0180600/_apis/work/teamsettings/iterations/4be35843-25e4-4de5-9cf0-728f5be2a555","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/7677724a-913f-47db-81da-6cbaf0180600/_apis/work/teamsettings/iterations/4be35843-25e4-4de5-9cf0-728f5be2a555"},"project":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/e48dfd6f-9e53-49c1-88c2-1aedf2442eea"},"team":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/teams/7677724a-913f-47db-81da-6cbaf0180600"},"teamSettings":{"href":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/7677724a-913f-47db-81da-6cbaf0180600/_apis/work/teamsettings"},"teamIterations":{"href":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/7677724a-913f-47db-81da-6cbaf0180600/_apis/work/teamsettings/iterations"},"capacity":{"href":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/7677724a-913f-47db-81da-6cbaf0180600/_apis/work/teamsettings/iterations/4be35843-25e4-4de5-9cf0-728f5be2a555/capacities"},"workitems":{"href":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/7677724a-913f-47db-81da-6cbaf0180600/_apis/work/teamsettings/iterations/4be35843-25e4-4de5-9cf0-728f5be2a555/workitems"},"classificationNode":{"href":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003/Child_Itr_000004"},"teamDaysOff":{"href":"https://dev.azure.com/v-anvashist0376/e48dfd6f-9e53-49c1-88c2-1aedf2442eea/7677724a-913f-47db-81da-6cbaf0180600/_apis/work/teamsettings/iterations/4be35843-25e4-4de5-9cf0-728f5be2a555/teamdaysoff"}}}'
    headers:
      activityid:
      - 52af815d-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52af815d-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/teamName1_000002/_apis/work/teamsettings/iterations/4be35843-25e4-4de5-9cf0-728f5be2a555
  response:
    body:
      string: ''
    headers:
      activityid:
      - 6b508ae1-d14a-4008-8dbe-5e46b5e9f379
      x-tfs-processid:
      - 98c229af-85ac-4aef-a1b7-bbe8a1f1ead4
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 6b508ae1-d14a-4008-8dbe-5e46b5e9f379
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/e48dfd6f-9e53-49c1-88c2-1aedf2442eea
  response:
    body:
      string: '{"id":"7a41cfae-7b54-4c1d-be3c-ba05c859edcd","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/7a41cfae-7b54-4c1d-be3c-ba05c859edcd"}'
    headers:
      activityid:
      - 9b993bbd-d3fb-4495-afec-f6986f9b5e8b
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 709881ea-d5e8-4d50-9f19-9f1bf3301f7f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 9b993bbd-d3fb-4495-afec-f6986f9b5e8b
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/7a41cfae-7b54-4c1d-be3c-ba05c859edcd
  response:
    body:
      string: '{"id":"7a41cfae-7b54-4c1d-be3c-ba05c859edcd","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/7a41cfae-7b54-4c1d-be3c-ba05c859edcd","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/7a41cfae-7b54-4c1d-be3c-ba05c859edcd"}}}'
    headers:
      activityid:
      - 6b508919-d14a-4008-8dbe-5e46b5e9f379
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 98c229af-85ac-4aef-a1b7-bbe8a1f1ead4
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 6b508919-d14a-4008-8dbe-5e46b5e9f379
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
