interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/wiql/253d8eb4-0bd1-4c92-adc9-d305c8b99b92
  response:
    body:
      string: '{"queryType":"flat","queryResultType":"workItem","asOf":"2025-01-03T12:22:05.2Z","columns":[{"referenceName":"System.Id","name":"ID","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.Id"},{"referenceName":"System.WorkItemType","name":"Work
        Item Type","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.WorkItemType"},{"referenceName":"System.Title","name":"Title","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.Title"},{"referenceName":"System.AssignedTo","name":"Assigned
        To","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.AssignedTo"},{"referenceName":"System.State","name":"State","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.State"},{"referenceName":"System.Tags","name":"Tags","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.Tags"}],"workItems":[{"id":40,"url":"https://dev.azure.com/v-anvashist0376/b023dc57-8bd5-493a-b139-54ae60562ae9/_apis/wit/workItems/40"},{"id":41,"url":"https://dev.azure.com/v-anvashist0376/b023dc57-8bd5-493a-b139-54ae60562ae9/_apis/wit/workItems/41"}]}'
    headers:
      activityid:
      - 6b50894d-d14a-4008-8dbe-5e46b5e9f379
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 98c229af-85ac-4aef-a1b7-bbe8a1f1ead4
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-total-count:
      - '2'
      x-vss-e2eid:
      - 6b50894d-d14a-4008-8dbe-5e46b5e9f379
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/workItems?ids=40%2C41&fields=System.Id%2CSystem.WorkItemType%2CSystem.Title%2CSystem.AssignedTo%2CSystem.State%2CSystem.Tags&asOf=2025-01-03T12%3A22%3A05.200Z
  response:
    body:
      string: '{"count":2,"value":[{"id":40,"rev":2,"fields":{"System.Id":40,"System.WorkItemType":"Issue","System.State":"To
        Do","System.Title":"Test"},"url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/40"},{"id":41,"rev":5,"fields":{"System.Id":41,"System.WorkItemType":"Task","System.State":"To
        Do","System.Title":"Test2"},"url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/41"}]}'
    headers:
      activityid:
      - 60a7645c-6499-4a88-b879-d358ae50c301
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 1ad39b29-0c88-4c30-acc2-65c06abc65e6
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 60a7645c-6499-4a88-b879-d358ae50c301
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "select [System.Id], [System.WorkItemType], [System.Title], [System.AssignedTo],
      [System.State], [System.Tags] from WorkItems where [System.TeamProject] = ''WorkItemCreateShowUpdateDeleteTests''
      and [System.WorkItemType] = ''Task''"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
  [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/workItems?ids=41&fields=System.Id%2CSystem.WorkItemType%2CSystem.Title%2CSystem.AssignedTo%2CSystem.State%2CSystem.Tags&asOf=2025-01-03T12%3A22%3A05.373Z
  response:
    body:
      string: '{"count":1,"value":[{"id":41,"rev":5,"fields":{"System.Id":41,"System.WorkItemType":"Task","System.State":"To
        Do","System.Title":"Test2"},"url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/41"}]}'
    headers:
      activityid:
      - 18b32c5b-7b57-4743-a79e-73a155db377d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 00ff2b08-bd50-434a-893e-43641bdbfe31
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 18b32c5b-7b57-4743-a79e-73a155db377d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
