interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 0570c265-ff50-438f-90f1-ec11f8baa054
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f955bfb1-3f37-4681-81bb-d7ac11abdc0f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 0570c265-ff50-438f-90f1-ec11f8baa054
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Permission_000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"b3ae775e-d472-41b7-862f-86c7c1e0031b","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/b3ae775e-d472-41b7-862f-86c7c1e0031b"}'
    headers:
      activityid:
      - 3c5c8864-ed24-4d4e-900b-a8abb3949665
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 9aaf6e99-5ba9-4c99-9331-5586cea0560d
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 3c5c8864-ed24-4d4e-900b-a8abb3949665
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/b3ae775e-d472-41b7-862f-86c7c1e0031b
  response:
    body:
      string: '{"id":"b3ae775e-d472-41b7-862f-86c7c1e0031b","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/b3ae775e-d472-41b7-862f-86c7c1e0031b","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/b3ae775e-d472-41b7-862f-86c7c1e0031b"}}}'
    headers:
      activityid:
      - 0570c2b2-ff50-438f-90f1-ec11f8baa054
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f955bfb1-3f37-4681-81bb-d7ac11abdc0f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 0570c2b2-ff50-438f-90f1-ec11f8baa054
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/Permission_000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"6bf32be5-c82c-475e-967b-de0caa35e413","name":"Permission_000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/6bf32be5-c82c-475e-967b-de0caa35e413","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":965,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/6bf32be5-c82c-475e-967b-de0caa35e413"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/Permission_000001"}},"visibility":"private","defaultTeam":{"id":"c89a7c2f-05ee-45c5-8735-461e939fbb99","name":"Permission_000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/6bf32be5-c82c-475e-967b-de0caa35e413/teams/c89a7c2f-05ee-45c5-8735-461e939fbb99"},"lastUpdateTime":"2025-01-02T12:39:20.44Z"}'
    headers:
      activityid:
      - 1a4c7743-3e8f-4275-97c7-19a163b7a8be
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - d46325bf-7121-4a39-8702-ab1ce62681a7
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1a4c7743-3e8f-4275-97c7-19a163b7a8be
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "add", "path": "", "value": {"accessLevel": {"accountLicenseType":
      "stakeholder"}, "extensions": [], "projectEntitlements": [], "user": {"subjectKind":
      "user", "principalName": "new_user_test@outlook.com"}}}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://vsaex.dev.azure.com/v-anvashist0376/_apis/UserEntitlements?doNotSendInviteForNewUsers=false
  response:
    body:
      string: '{"id":"6a80b55e-82c7-46a5-bee8-642c8d7d31df","status":"succeeded","haveResultsSucceeded":true,"completed":true,"results":[{"userId":"323989e2-d2d7-4483-9903-d20b58fa7258","isSuccess":true,"errors":[],"result":{"user":{"subjectKind":"user","directoryAlias":"new_user_test_outlook.com#EXT#","domain":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"aad","originId":"012ed025-5cc0-4f1a-a7da-a98916f8f04f","displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"memberships":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"membershipState":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/MembershipStates/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"storageKey":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/StorageKeys/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"}},"url":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4","descriptor":"aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"extensions":[],"id":"323989e2-d2d7-4483-9903-d20b58fa7258","accessLevel":{"licensingSource":"account","accountLicenseType":"earlyAdopter","msdnLicenseType":"none","licenseDisplayName":"Early
        Adopter","status":"pending","statusMessage":"","assignmentSource":"unknown"},"lastAccessedDate":"0001-01-01T00:00:00Z","dateCreated":"2025-01-02T12:28:22.2485531Z","projectEntitlements":[],"groupAssignments":[]}}]}'
    headers:
      activityid:
      - 82ae1957-43ca-4adb-a24f-fe8aeede474c
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.2
      x-tfs-processid:
      - 8dc3c208-83c1-478c-b21a-83b45e1915b9
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 82ae1957-43ca-4adb-a24f-fe8aeede474c
      x-vss-senderdeploymentid:
      - 60550036-6ed7-6a2e-3bc7-9053b0c2e866
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/SecurityNamespaces?localOnly=false
  response:
    body:
      string: "{\"count\":60,\"value\":[{\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\",\"name\":\"Analytics\",\"displayName\":\"Analytics\",\"separatorValue\":\"/\",\"elementLength\":-1,\"writePermission\":2,\"readPermission\":1,\"dataspaceCategory\":\"Default\",\"actions\":[{\"bit\":1,\"name\":\"Read\",\"displayName\":\"View
        analytics\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"},{\"bit\":2,\"name\":\"Administer\",\"displayName\":\"Manage
        analytics permissions\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"},{\"bit\":4,\"name\":\"Stage\",\"displayName\":\"Push
        the data to staging area\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"},{\"bit\":8,\"name\":\"ExecuteUnrestrictedQuery\",\"displayName\":\"Execute
        query without any restrictions on the query form\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"},{\"bit\":16,\"name\":\"ReadEuii\",\"displayName\":\"Read
        EUII data\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"}],\"structureValue\":1,\"extensionType\":null,\"isRemotable\":false,\"useTokenTranslator\":false,\"systemBitMask\":30},{\"namespaceId\":\"d34d3680-dfe5-4cc6-a949-7d9c68f73cba\",\"name\":\"AnalyticsViews\",\"displayName\":\"AnalyticsViews\",\"separatorValue\":\"/\",\"elementLength\":-1,\"writePermission\":1024,\"readPermission\":1,\"dataspaceCategory\":\"Default\",\"actions\":[{\"bit\":1,\"name\":\"Read\",\"displayName\":\"View
        shared Analytics views\",\"namespaceId\":\"d34d3680-dfe5-4cc6-a949-7d9c68f73cba\"},{\"bit\":2,\"name\":\"Edit\",\"displayName\":\"Edit
        shared Analytics views\",\"namesp[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/SecurityNamespaces/52d39943-cb85-4d7f-8fa8-c6baac873819
  response:
    body:
      string: '{"count":1,"value":[{"namespaceId":"52d39943-cb85-4d7f-8fa8-c6baac873819","name[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Identities?searchFilter=General&filterValue=new_user_test%40outlook.com
  response:
    body:
      string: '{"count":1,"value":[{"id":"323989e2-d2d7-4483-9903-d20b58fa7258","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","subjectDescriptor":"aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4","providerDisplayName":"new_user_test@outlook.com","isActive":true,"members":[],"memberOf":[],"memberIds":[],"properties":{"SchemaClassName":{"$type":"System.String","$value":"User"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"Account":{"$type":"System.String","$value":"new_user_test@outlook.com"},"DN":{"$type":"System.String","$value":""},"Mail":{"$type":"System.String","$value":"new_user_test@outlook.com"},"SpecialType":{"$type":"System.String","$value":"Generic"},"PUID":{"$type":"System.String","$value":"aad:"},"ComplianceValidated":{"$type":"System.DateTime","$value":"2025-01-02T00:00:00Z"},"http://schemas.microsoft.com/identity/claims/objectidentifier":{"$type":"System.String","$value":"012ed025-5cc0-4f1a-a7da-a98916f8f04f"},"DirectoryAlias":{"$type":"System.String","$value":"new_user_test_outlook.com#EXT#"}},"resourceVersion":2,"metaTypeId":255}]}'
    headers:
      activityid:
      - b05c0dc0-3254-44bb-9831-0a4bcc8467af
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ccf1e669-dba8-429c-bc22-e42d38df2d7c
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - b05c0dc0-3254-44bb-9831-0a4bcc8467af
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/AccessControlLists/52d39943-cb85-4d7f-8fa8-c6baac873819?descriptors=Microsoft.IdentityModel.Claims.ClaimsIdentity%3B72f988bf-86f1-41af-91ab-2d7cd011db47%5Cnew_user_test%40outlook.com&includeExtendedInfo=true&recurse=false
  response:
    body:
      string: '{"count":22,"value":[{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/TeamProject/030ccbca-1543-4d7d-bc11-8001f14fb05e","acesDictionary":{"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com":{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":0,"deny":0,"extendedInfo":{}}},"includeExtendedInfo":true},{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/TeamProject/038b46ac-29b9-4062-af82-87b52e73d7a9","acesDictionary":{"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com":{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":0,"deny":0,"extendedInfo":{}}},"includeExtendedInfo":true},{"inheritPermissions":true,"token":"$PROJECT:vstfs:/[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/AccessControlLists/52d39943-cb85-4d7f-8fa8-c6baac873819?token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F6bf32be5-c82c-475e-967b-de0caa35e413&descriptors=[...]
[...]
- request:
    body: '{"token": "$PROJECT:vstfs:///Classification/TeamProject/6bf32be5-c82c-475e-967b-de0caa35e413",
      "merge": true, "accessControlEntries": [{"allow": 65536, "deny": 0, "descriptor":
      "Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/AccessControlEntries/52d39943-cb85-4d7f-8fa8-c6baac873819
  response:
    body:
      string: '{"count":1,"value":[{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":65536,"deny":0}]}'
    headers:
      activityid:
      - 05713504-ff50-438f-90f1-ec11f8baa054
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f955bfb1-3f37-4681-81bb-d7ac11abdc0f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 05713504-ff50-438f-90f1-ec11f8baa054
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/AccessControlLists/52d39943-cb85-4d7f-8fa8-c6baac873819?token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F6bf32be5-c82c-475e-967b-de0caa35e413&descriptors=Microsoft.IdentityModel.Claims.ClaimsIdentity%3B72f988bf-86f1-41af-91ab-2d7cd011db47%5Cnew_user_test%40outlook.com&includeExtendedInfo=true&recurse=false
  response:
    body:
      string: '{"count":1,"value":[{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/TeamProject/6bf32be5-c82c-475e-967b-de0caa35e413","acesDictionary":{"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com":{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":65536,"deny":0,"extendedInfo":{"effectiveAllow":65536}}},"includeExtendedInfo":true}]}'
    headers:
      activityid:
      - f2604671-77aa-4c8d-85b5-02e2a4304438
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - a8e54f57-01b8-4585-a4b3-3b2d681ad009
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - f2604671-77aa-4c8d-85b5-02e2a4304438
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/AccessControlLists/52d39943-cb85-4d7f-8fa8-c6baac873819?token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F6bf32be5-c82c-475e-967b-de0caa35e413&descriptors=Microsoft.IdentityModel.Claims.ClaimsIdentity%3B72f988bf-86f1-41af-91ab-2d7cd011db47%5Cnew_user_test%40outlook.com&includeExtendedInfo=true&recurse=false
  response:
    body:
      string: '{"count":1,"value":[{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/TeamProject/6bf32be5-c82c-475e-967b-de0caa35e413","acesDictionary":{"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com":{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":0,"deny":65536,"extendedInfo":{"effectiveDeny":65536}}},"includeExtendedInfo":true}]}'
    headers:
      activityid:
      - 3c5cba76-ed24-4d4e-900b-a8abb3949665
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 9aaf6e99-5ba9-4c99-9331-5586cea0560d
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 3c5cba76-ed24-4d4e-900b-a8abb3949665
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/Permissions/52d39943-cb85-4d7f-8fa8-c6baac873819/65536?descriptor=Microsoft.IdentityModel.Claims.ClaimsIdentity%3B72f988bf-86f1-41af-91ab-2d7cd011db47%5Cnew_user_test%40outlook.com&token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F6bf32be5-c82c-475e-967b-de0caa35e413
  response:
    body:
      string: '{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":0,"deny":0}'
    headers:
      activityid:
      - f26044bc-77aa-4c8d-85b5-02e2a4304438
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - a8e54f57-01b8-4585-a4b3-3b2d681ad009
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - f26044bc-77aa-4c8d-85b5-02e2a4304438
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/AccessControlEntries/52d39943-cb85-4d7f-8fa8-c6baac873819?token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F6bf32be5-c82c-475e-967b-de0caa35e413&descriptors=Microsoft.IdentityModel.Claims.ClaimsIdentity%3B72f988bf-86f1-41af-91ab-2d7cd011db47%5Cnew_user_test%40outlook.com
  response:
    body:
      string: 'true'
    headers:
      activityid:
      - 982b0013-c4af-4065-bdbc-45d9dbf373b4
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5894399e-e0b1-4e67-969a-1bb96dd83c83
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 982b0013-c4af-4065-bdbc-45d9dbf373b4
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/6bf32be5-c82c-475e-967b-de0caa35e413
  response:
    body:
      string: '{"id":"844476ec-65fd-4578-bd4a-6906b1e14990","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/844476ec-65fd-4578-bd4a-6906b1e14990"}'
    headers:
      activityid:
      - 1a4c791b-3e8f-4275-97c7-19a163b7a8be
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - d46325bf-7121-4a39-8702-ab1ce62681a7
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1a4c791b-3e8f-4275-97c7-19a163b7a8be
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/844476ec-65fd-4578-bd4a-6906b1e14990
  response:
    body:
      string: '{"id":"844476ec-65fd-4578-bd4a-6906b1e14990","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/844476ec-65fd-4578-bd4a-6906b1e14990","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/844476ec-65fd-4578-bd4a-6906b1e14990"}}}'
    headers:
      activityid:
      - 1a4c7b18-3e8f-4275-97c7-19a163b7a8be
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - d46325bf-7121-4a39-8702-ab1ce62681a7
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1a4c7b18-3e8f-4275-97c7-19a163b7a8be
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
