interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vsaex.dev.azure.com/v-anvashist0376/_apis/UserEntitlements?top=100
  response:
    body:
      string: '{"members":[{"user":{"subjectKind":"user","metaType":"member","directoryAlias":"v-anvashist","domain":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalName":"v-anvashist@microsoft.com","mailAddress":"v-anvashist@microsoft.com","origin":"aad","originId":"ae9ada11-e6f0-41ba-8136-a4597491c5a0","displayName":"Anjali
        Vashist (MINDTREE LIMITED)","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad.OTA3YzVmNGQtYjRmMi03ZDk2LWIyZmUtMzEyMjc1YjU1Njc0"},"memberships":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/aad.OTA3YzVmNGQtYjRmMi03ZDk2LWIyZmUtMzEyMjc1YjU1Njc0"},"membershipState":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/MembershipStates/aad.OTA3YzVmNGQtYjRmMi03ZDk2LWIyZmUtMzEyMjc1YjU1Njc0"},"storageKey":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/StorageKeys/aad.OTA3YzVmNGQtYjRmMi03ZDk2LWIyZmUtMzEyMjc1YjU1Njc0"},"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.OTA3YzVmNGQtYjRmMi03ZDk2LWIyZmUtMzEyMjc1YjU1Njc0"}},"url":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad.OTA3YzVmNGQtYjRmMi03ZDk2LWIyZmUtMzEyMjc1YjU1Njc0","descriptor":"aad.OTA3YzVmNGQtYjRmMi03ZDk2LWIyZmUtMzEyMjc1YjU1Njc0"},"extensions":[],"id":"907c5f4d-b4f2-6d96-b2fe-312275b55674","accessLevel":{"licensingSource":"account","accountLicenseType":"earlyAdopter","msdnLicenseType":"none","licenseDisplayName":"Early
        Adopter","status":"active","statusMessage":"","assignmentSource":"unknown"},"lastAccessedDate":"2024-12-20T09:41:25.2457552Z","dateCreated":"2023-07-06T08:54:16.4174545Z","projectEntitlements":[],"groupAssignments":[]},{"user":{"subjectKind":"user","directoryAlias":"v-agadekar","domain":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalName":"v-agadekar@microsoft.com","mailAddress":"v-agadekar@microsoft.com","origin":"aad","originId":"e8b29432-1973-4e20-aaf8-6163f07aa8bd","displayName":"Arvind
        Gadekar (MINDTREE LIMITED)","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad.YWUwODM5ZmUtMjllNC03OTcwLWI3ZGQtNjVmYjVjZmE4MWU2"},"memberships":{"href":"https://vssps.d[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Identities?searchFilter=General&filterValue=new_user_test%40outlook.com
  response:
    body:
      string: '{"count":1,"value":[{"id":"323989e2-d2d7-4483-9903-d20b58fa7258","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","subjectDescriptor":"aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4","providerDisplayName":"new_user_test@outlook.com","isActive":true,"members":[],"memberOf":[],"memberIds":[],"properties":{"SchemaClassName":{"$type":"System.String","$value":"User"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"Account":{"$type":"System.String","$value":"new_user_test@outlook.com"},"DN":{"$type":"System.String","$value":""},"Mail":{"$type":"System.String","$value":"new_user_test@outlook.com"},"SpecialType":{"$type":"System.String","$value":"Generic"},"PUID":{"$type":"System.String","$value":"aad:"},"ComplianceValidated":{"$type":"System.DateTime","$value":"2025-01-02T00:00:00Z"},"http://schemas.microsoft.com/identity/claims/objectidentifier":{"$type":"System.String","$value":"012ed025-5cc0-4f1a-a7da-a98916f8f04f"},"DirectoryAlias":{"$type":"System.String","$value":"new_user_test_outlook.com#EXT#"}},"resourceVersion":2,"metaTypeId":255}]}'
    headers:
      activityid:
      - 0c2cd89c-81fe-48cd-95bc-7a90a0fda76c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 48a6548e-9c5d-4df5-b7d3-b3221725069d
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 0c2cd89c-81fe-48cd-95bc-7a90a0fda76c
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://vsaex.dev.azure.com/v-anvashist0376/_apis/UserEntitlements/323989e2-d2d7-4483-9903-d20b58fa7258
  response:
    body:
      string: ''
    headers:
      activityid:
      - 240dde0e-676e-48c5-9bd5-441fe0720a54
      x-tfs-processid:
      - 51c4de2d-ec4e-4e2c-8a10-84587c721d9f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 240dde0e-676e-48c5-9bd5-441fe0720a54
      x-vss-senderdeploymentid:
      - 60550036-6ed7-6a2e-3bc7-9053b0c2e866
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 204
      message: No Content
- request:
    body: '[{"op": "add", "path": "", "value": {"accessLevel": {"accountLicenseType":
      "stakeholder"}, "extensions": [], "projectEntitlements": [], "user": {"subjectKind":
      "user", "principalName": "new_user_test@outlook.com"}}}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://vsaex.dev.azure.com/v-anvashist0376/_apis/UserEntitlements?doNotSendInviteForNewUsers=false
  response:
    body:
      string: '{"id":"3d988865-7668-4067-beae-e5fa365d3678","status":"succeeded","haveResultsSucceeded":true,"completed":true,"results":[{"userId":"323989e2-d2d7-4483-9903-d20b58fa7258","isSuccess":true,"errors":[],"result":{"user":{"subjectKind":"user","directoryAlias":"new_user_test_outlook.com#EXT#","domain":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"aad","originId":"012ed025-5cc0-4f1a-a7da-a98916f8f04f","displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"memberships":{"href":"https://vssps[...]
[...]
- request:
    body: '[{"op": "replace", "path": "/accessLevel", "value": {"accountLicenseType":
      "express"}}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://vsaex.dev.azure.com/v-anvashist0376/_apis/UserEntitlements/323989e2-d2d7-4483-9903-d20b58fa7258
  response:
    body:
      string: '{"operationResults":[{"userId":"323989e2-d2d7-4483-9903-d20b58fa7258","isSuccess":true,"errors":[],"result":{"user":{"subjectKind":"user","directoryAlias":"new_user_test_outlook.com#EXT#","domain":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"aad","originId":"012ed025-5cc0-4f1a-a7da-a98916f8f04f","displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad[...]
[...]
