interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 0571cb33-ff50-438f-90f1-ec11f8baa054
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f955bfb1-3f37-4681-81bb-d7ac11abdc0f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 0571cb33-ff50-438f-90f1-ec11f8baa054
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "varGroupTests000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"51276c67-1978-42ae-92c7-97f9b65bae40","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/51276c67-1978-42ae-92c7-97f9b65bae40"}'
    headers:
      activityid:
      - a51ed65f-6dba-4468-b3fe-a8111b3f4f4d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - fe83dd1d-7dd8-45d8-adce-57d7f513de62
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - a51ed65f-6dba-4468-b3fe-a8111b3f4f4d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/51276c67-1978-42ae-92c7-97f9b65bae40
  response:
    body:
      string: '{"id":"51276c67-1978-42ae-92c7-97f9b65bae40","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/51276c67-1978-42ae-92c7-97f9b65bae40","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/51276c67-1978-42ae-92c7-97f9b65bae40"}}}'
    headers:
      activityid:
      - f2615608-77aa-4c8d-85b5-02e2a4304438
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - a8e54f57-01b8-4585-a4b3-3b2d681ad009
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - f2615608-77aa-4c8d-85b5-02e2a4304438
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/varGroupTests000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"230fc406-e01b-4c18-8d96-d1eef74a2ce9","name":"varGroupTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/230fc406-e01b-4c18-8d96-d1eef74a2ce9","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1049,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/230fc406-e01b-4c18-8d96-d1eef74a2ce9"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/varGroupTests000001"}},"visibility":"private","defaultTeam":{"id":"437682aa-98d4-4a45-bdcb-b4369f48f028","name":"varGroupTests000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/230fc406-e01b-4c18-8d96-d1eef74a2ce9/teams/437682aa-98d4-4a45-bdcb-b4369f48f028"},"lastUpdateTime":"2025-01-02T12:42:23.67Z"}'
    headers:
      activityid:
      - 7b0f73d6-5839-4af0-8b46-03338f5bd43a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3e5d6de8-9a30-4743-9c4c-0d5527f3ca5f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 7b0f73d6-5839-4af0-8b46-03338f5bd43a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Sample group description", "name": "group1", "type": "Vsts",
      "variables": {"var1": {"isSecret": false, "value": "value1"}, "var2": {"isSecret":
      false, "value": "value2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"}},"id":1,"type":"Vsts","name":"group1","description":"Sample
        group description","createdBy":{"displayName":null,"id":"22157d54-1821-6536-a446-928b06348385"},"createdOn":"2025-01-02T12:42:25.4Z","modifiedBy":{"displayName":null,"id":"22157d54-1821-6536-a446-928b06348385"},"modifiedOn":"2025-01-02T12:42:25.4Z","isShared":false,"variableGroupProjectReferences":[{"projectReference":{"id":"230fc406-e01b-4c18-8d96-d1eef74a2ce9","name":"varGroupTests000001"},"name":"group1","description":"Sample
        group description"}]}'
    headers:
      activityid:
      - 0571c58e-ff50-438f-90f1-ec11f8baa054
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - f955bfb1-3f37-4681-81bb-d7ac11abdc0f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 0571c58e-ff50-438f-90f1-ec11f8baa054
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '[{"authorized": true, "id": "1", "name": "group1", "type": "variablegroup"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/build/authorizedresources
  response:
    body:
      string: '{"count":1,"value":[{"type":"variablegroup","id":"1","authorized":true}]}'
    headers:
      activityid:
      - 8ce0b7be-75b7-446a-857c-386cccb97db6
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 81515145-17e8-4d31-8df7-702b5a0ae855
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 8ce0b7be-75b7-446a-857c-386cccb97db6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups?queryOrder=idDescending
  response:
    body:
      string: '{"count":2,"value":[{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"}},"id":2,"type":"Vsts","name":"group2","description":"Sample
        group description","createdBy":{"displayName":"Soujanya Bestala (MINDTREE
        LIMITED)","id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com"},"createdOn":"2025-01-02T12:42:26.1633333Z","modifiedBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com"},"modifiedOn":"2025-01-02T12:42:26.1633333Z","isShared":false,"variableGroupProjectReferences":null},{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"}},"id":1,"type":"Vsts","name":"group1","description":"Sample
        group description","createdBy":{"dis[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups/1
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"}},"id":1,"type":"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/build/authorizedresources?type=variablegroup&id=1
  response:
    body:
      string: '{"count":1,"value":[{"type":"variablegroup","id":"1","authorized":true}]}'
    headers:
      activityid:
      - 982a33f9-c4af-4065-bdbc-45d9dbf373b4
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 5894399e-e0b1-4e67-969a-1bb96dd83c83
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 982a33f9-c4af-4065-bdbc-45d9dbf373b4
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"createdBy": {"displayName": "Soujanya Bestala (MINDTREE LIMITED)", "id":
      "22157d54-1821-6536-a446-928b06348385", "uniqueName": "v-sbestala@microsoft.com"},
      "createdOn": "2025-01-02T12:42:26.163333Z", "description": "NewDescription",
      "id": 2, "isShared": false, "modifiedBy": {"displayName": "Soujanya Bestala
      (MINDTREE LIMITED)", "id": "22157d54-1821-6536-a446-928b06348385", "uniqueName":
      "v-sbestala@microsoft.com"}, "modifiedOn": "2025-01-02T12:42:28.520Z", "name":
      "newGroup", "type": "Vsts", "variables": {"var1": {"value": "value1"}, "var2":
      {"value": "value2"}, "NewVar1": {"value": "NewVal1"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups/2
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"},"NewVar1":{"value[...]
[...]
- request:
    body: '{"createdBy": {"displayName": "Soujanya Bestala (MINDTREE LIMITED)", "id":
      "22157d54-1821-6536-a446-928b06348385", "uniqueName": "v-sbestala@microsoft.com"},
      "createdOn": "2025-01-02T12:42:26.163333Z", "description": "NewDescription",
      "id": 2, "isShared": false, "modifiedBy": {"displayName": "Soujanya Bestala
      (MINDTREE LIMITED)", "id": "22157d54-1821-6536-a446-928b06348385", "uniqueName":
      "v-sbestala@microsoft.com"}, "modifiedOn": "2025-01-02T12:42:29.410Z", "name":
      "newGroup", "type": "Vsts", "variables": {"var1": {"value": "value1"}, "var2":
      {"value": "value2"}, "NewVar1": {"value": "NewVal1"}, "NewVar2": {"isSecret":
      true, "value": "NewVal2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups/2
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"va[...]
[...]
- request:
    body: '{"createdBy": {"displayName": "Soujanya Bestala (MINDTREE LIMITED)", "id":
      "22157d54-1821-6536-a446-928b06348385", "uniqueName": "v-sbestala@microsoft.com"},
      "createdOn": "2025-01-02T12:42:26.163333Z", "description": "NewDescription",
      "id": 2, "isShared": false, "modifiedBy": {"displayName": "Soujanya Bestala
      (MINDTREE LIMITED)", "id": "22157d54-1821-6536-a446-928b06348385", "uniqueName":
      "v-sbestala@microsoft.com"}, "modifiedOn": "2025-01-02T12:42:29.830Z", "name":
      "newGroup", "type": "Vsts", "variables": {"var1": {"value": "value1"}, "var2":
      {"value": "value2"}, "NewVar2": {"isSecret": true}, "NewVar1Updated": {"isSecret":
      true, "value": "1234"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups/2
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"value[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/230fc406-e01b-4c18-8d96-d1eef74a2ce9
  response:
    body:
      string: '{"id":"7ab09334-c383-4d94-aff5-76ca5de8b6e0","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/7ab09334-c383-4d94-aff5-76ca5de8b6e0"}'
    headers:
      activityid:
      - 7b0f6be5-5839-4af0-8b46-03338f5bd43a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3e5d6de8-9a30-4743-9c4c-0d5527f3ca5f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 7b0f6be5-5839-4af0-8b46-03338f5bd43a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/7ab09334-c383-4d94-aff5-76ca5de8b6e0
  response:
    body:
      string: '{"id":"7ab09334-c383-4d94-aff5-76ca5de8b6e0","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/7ab09334-c383-4d94-aff5-76ca5de8b6e0","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/7ab09334-c383-4d94-aff5-76ca5de8b6e0"}}}'
    headers:
      activityid:
      - 1f0a258e-b63a-48d3-8586-64b86ea4c8c0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32cf7954-6736-4ade-874f-4ca9793d92cf
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1f0a258e-b63a-48d3-8586-64b86ea4c8c0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
