interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 44eec067-f79e-4dc7-9ed2-9997804bec46
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8b97cd00-92de-40cb-90b3-9f93d0941d86
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 44eec067-f79e-4dc7-9ed2-9997804bec46
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "refsTests000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"98f9b05d-c001-4ccf-bbbd-8699805ddf59","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/98f9b05d-c001-4ccf-bbbd-8699805ddf59"}'
    headers:
      activityid:
      - 982a4fc6-c4af-4065-bdbc-45d9dbf373b4
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5894399e-e0b1-4e67-969a-1bb96dd83c83
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 982a4fc6-c4af-4065-bdbc-45d9dbf373b4
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/98f9b05d-c001-4ccf-bbbd-8699805ddf59
  response:
    body:
      string: '{"id":"98f9b05d-c001-4ccf-bbbd-8699805ddf59","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/98f9b05d-c001-4ccf-bbbd-8699805ddf59","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/98f9b05d-c001-4ccf-bbbd-8699805ddf59"}}}'
    headers:
      activityid:
      - 1a4cbc68-3e8f-4275-97c7-19a163b7a8be
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - d46325bf-7121-4a39-8702-ab1ce62681a7
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1a4cbc68-3e8f-4275-97c7-19a163b7a8be
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/refsTests000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"ed899146-9e3d-4fe8-8b6b-d287eff63bf0","name":"refsTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/ed899146-9e3d-4fe8-8b6b-d287eff63bf0","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1029,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/ed899146-9e3d-4fe8-8b6b-d287eff63bf0"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/refsTests000001"}},"visibility":"private","defaultTeam":{"id":"8e5a99fc-82be-406f-8b90-b5e0f29cb2c8","name":"refsTests000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/ed899146-9e3d-4fe8-8b6b-d287eff63bf0/teams/8e5a99fc-82be-406f-8b90-b5e0f29cb2c8"},"lastUpdateTime":"2025-01-02T12:41:52.15Z"}'
    headers:
      activityid:
      - 44eec712-f79e-4dc7-9ed2-9997804bec46
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8b97cd00-92de-40cb-90b3-9f93d0941d86
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 44eec712-f79e-4dc7-9ed2-9997804bec46
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "refsTests000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/ed899146-9e3d-4fe8-8b6b-d287eff63bf0/_apis/git/repositories
  response:
    body:
      string: '{"id":"3f07c775-4ff6-4d42-88f5-1b980e2bcd5a","name":"refsTests000002","url":"https://dev.azure.com/v-anvashist0376/ed899146-9e3d-4fe8-8b6b-d287eff63bf0/_apis/git/repositories/3f07c775-4ff6-4d42-88f5-1b980e2bcd5a","project":{"id":"ed899146-9e3d-4fe8-8b6b-d287eff63bf0","name":"refsTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/ed899146-9e3d-4fe8-8b6b-d287eff63bf0","state":"wellFormed","revision":1029,"visibility":"private","lastUpdateTime":"2025-01-02T12:41:52.15Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/refsTests000001/_git/refsTests000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/refsTests000001/refsTests000002","webUrl":"https://dev.azure.com/v-anvashist0376/refsTests000001/_git/refsTests000002","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 7b0f5c59-5839-4af0-8b46-03338f5bd43a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3e5d6de8-9a30-4743-9c4c-0d5527f3ca5f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 7b0f5c59-5839-4af0-8b46-03338f5bd43a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://github.com/hkasera/snakes-and-ladders.git"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/ed899146-9e3d-4fe8-8b6b-d287eff63bf0/_apis/git/repositories/3f07c775-4ff6-4d42-88f5-1b980e2bcd5a/importRequests
  response:
    body:
      string: '{"importRequestId":32,"repository":{"id":"3f07c775-4ff6-4d42-88f5-1b980e2bcd5a","name":"refsTests000002","url":"https://dev.azure.com/v-anvashist0376/ed899146-9e3d-4fe8-8b6b-d287eff63bf0/_apis/git/repositories/3f07c775-4ff6-4d42-88f5-1b980e2bcd5a","project":{"id":"ed899146-9e3d-4fe8-8b6b-d287eff63bf0","name":"refsTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/ed899146-9e3d-4fe8-8b6b-d287eff63bf0","state":"wellFormed","revision":1029,"visibility":"private","lastUpdateTime":"2025-01-02T12:41:52.15Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/refsTests000001/_git/refsTests000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/refsTests000001/refsTests000002","webUrl":"https://dev.azure.com/v-anvashist0376/refsTests000001/_git/refsTests000002","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://github.com/hkasera/snakes-and-ladders.git","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/ed899146-9e3d-4fe8-8b6b-d287eff63bf0/_apis/git/repositories/3f07c775-4ff6-4d42-88f5-1b980e2bcd5a/importRequests/32"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/ed899146-9e3d-4fe8-8b6b-d287eff63bf0/_apis/git/repositories/3f07c775-4ff6-4d42-88f5-1b980e2bcd5a"}},"url":"https://dev.azure.com/v-anvashist0376/ed899146-9e3d-4fe8-8b6b-d287eff63bf0/_apis/git/repositories/3f07c775-4ff6-4d42-88f5-1b980e2bcd5a/importRequests/32"}'
    headers:
      activityid:
      - 1f0a62f1-b63a-48d3-8586-64b86ea4c8c0
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 32cf7954-6736-4ade-874f-4ca9793d92cf
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1f0a62f1-b63a-48d3-8586-64b86ea4c8c0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/ed899146-9e3d-4fe8-8b6b-d287eff63bf0/_apis/git/repositories/3f07c775-4ff6-4d42-88f5-1b980e2bcd5a/importRequests/32
  response:
    body:
      string: '{"importRequestId":32,"rep[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/refsTests000001/_apis/git/repositories/refsTests000002/refs
  response:
    body:
      string: '{"value":[{"name":"refs/heads/gh-pages","objectId":"e0d501db4f5a08fe212e8ed7a8e8035fbef62416","creator":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_api/_common/identityImage?id=22157d54-1821-6536-a446-928b06348385","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"url":"https://dev.azure.com/v-anvashist0376/ed899146-9e3d-4fe8-8b6b-d287eff63bf0/_apis/git/repositories/3f07c775-4ff6-4d42-88f5-1b980e2bcd5a/refs?filter=heads%2Fgh-pages"},{"name":"refs/heads/master","objectId":"c06ae011e801fea6e915d5a779f3322e6f5301a1","creator":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821[...]
- request:
    body: '[{"isLocked": false, "name": "refs/heads/branchnametocreate", "newObjectId":
      "e0d501db4f5a08fe212e8ed7a8e8035fbef62416", "oldObjectId": "0000000000000000000000000000000000000000"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/refsTests000001/_apis/git/repositories/refsTests000002/refs
  response:
    body:
      string: '{"value":[{"repositoryId":"3f07c775-4ff6-4d42-88f5-1b980e2bcd5a","name":"refs/heads/branchnametocreate","oldObjectId":"0000000000000000000000000000000000000000","newObjectId":"e0d501db4f5a08fe212e8ed7a8e8035fbef62416","isLocked":false,"updateStatus":"succeeded","success":true}],"count":1}'
    headers:
      activityid:
      - 336cb7bc-baca-454c-8c5f-d3021c79e3dd
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f77fcf17-141f-4e77-88af-43d7b2bf292a
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 336cb7bc-baca-454c-8c5f-d3021c79e3dd
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/refsTests000001/_apis/git/repositories/refsTests000002/refs?filter=heads%2Fbranchnametocreate
  response:
    body:
      string: '{"value":[{"name":"refs/heads/branchnametocreat[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/refsTests000001/_apis/git/repositories/refsTests000002/refs?filter=heads%2Funknownbranchname
  response:
    body:
      string: '{"value":[],"count":0}'
    headers:
      activityid:
      - 7b0f51e8-5839-4af0-8b46-03338f5bd43a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3e5d6de8-9a30-4743-9c4c-0d5527f3ca5f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 7b0f51e8-5839-4af0-8b46-03338f5bd43a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/ed899146-9e3d-4fe8-8b6b-d287eff63bf0
  response:
    body:
      string: '{"id":"964d51ae-4675-4fda-b7e9-b19050d4ecbd","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/964d51ae-4675-4fda-b7e9-b19050d4ecbd"}'
    headers:
      activityid:
      - 0571e71c-ff50-438f-90f1-ec11f8baa054
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f955bfb1-3f37-4681-81bb-d7ac11abdc0f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 0571e71c-ff50-438f-90f1-ec11f8baa054
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/964d51ae-4675-4fda-b7e9-b19050d4ecbd
  response:
    body:
      string: '{"id":"964d51ae-4675-4fda-b7e9-b19050d4ecbd","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/964d51ae-4675-4fda-b7e9-b19050d4ecbd","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/964d51ae-4675-4fda-b7e9-b19050d4ecbd"}}}'
    headers:
      activityid:
      - 336cb5ef-baca-454c-8c5f-d3021c79e3dd
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f77fcf17-141f-4e77-88af-43d7b2bf292a
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 336cb5ef-baca-454c-8c5f-d3021c79e3dd
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
