interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 6b50cffb-d14a-4008-8dbe-5e46b5e9f379
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 98c229af-85ac-4aef-a1b7-bbe8a1f1ead4
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 6b50cffb-d14a-4008-8dbe-5e46b5e9f379
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Area1000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"1f5c56a6-4226-412d-bfac-0131eac57a9c","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/1f5c56a6-4226-412d-bfac-0131eac57a9c"}'
    headers:
      activityid:
      - 9b9901a7-d3fb-4495-afec-f6986f9b5e8b
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 709881ea-d5e8-4d50-9f19-9f1bf3301f7f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 9b9901a7-d3fb-4495-afec-f6986f9b5e8b
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/1f5c56a6-4226-412d-bfac-0131eac57a9c
  response:
    body:
      string: '{"id":"1f5c56a6-4226-412d-bfac-0131eac57a9c","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/1f5c56a6-4226-412d-bfac-0131eac57a9c","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/1f5c56a6-4226-412d-bfac-0131eac57a9c"}}}'
    headers:
      activityid:
      - 6b50c2ba-d14a-4008-8dbe-5e46b5e9f379
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 98c229af-85ac-4aef-a1b7-bbe8a1f1ead4
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 6b50c2ba-d14a-4008-8dbe-5e46b5e9f379
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/Area1000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"a987fd71-f971-4eb2-8b11-4d14f7e4f691","name":"Area1000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/a987fd71-f971-4eb2-8b11-4d14f7e4f691","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1420,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/a987fd71-f971-4eb2-8b11-4d14f7e4f691"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/Area1000001"}},"visibility":"private","defaultTeam":{"id":"85a9d98f-d1eb-4366-85be-f0182ccfb459","name":"Area1000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/a987fd71-f971-4eb2-8b11-4d14f7e4f691/teams/85a9d98f-d1eb-4366-85be-f0182ccfb459"},"lastUpdateTime":"2025-01-03T12:21:19.273Z"}'
    headers:
      activityid:
      - 885d5c14-4992-4ec3-82cc-a21ecd0c2ba8
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - acea8c03-34bb-4ee4-a91f-cbb689df1604
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 885d5c14-4992-4ec3-82cc-a21ecd0c2ba8
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/Area1000001/_apis/wit/classificationNodes/areas?$depth=1
  response:
    body:
      string: '{"id":540,"identifier":"becc83a0-322b-4f40-ad01-64e882196043","name":"Area1000001","structureType":"area","hasChildren":false,"path":"\\Area1000001\\Area","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/a987fd71-f971-4eb2-8b11-4d14f7e4f691/_apis/wit/classificationNodes/Areas"}},"url":"https://dev.azure.com/v-anvashist0376/a987fd71-f971-4eb2-8b11-4d14f7e4f691/_apis/wit/classificationNodes/Areas"}'
    headers:
      activityid:
      - 18b2e41a-7b57-4743-a79e-73a155db377d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 00ff2b08-bd50-434a-893e-43641bdbfe31
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 18b2e41a-7b57-4743-a79e-73a155db377d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "teamArea_000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/Area1000001/teams
  response:
    body:
      string: '{"id":"7af3a6bc-1d91-4821-922b-e38d9e1ca876","name":"teamArea_000002","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/a987fd71-f971-4eb2-8b11-4d14f7e4f691/teams/7af3a6bc-1d91-4821-922b-e38d9e1ca876","description":"","identityUrl":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/7af3a6bc-1d91-4821-922b-e38d9e1ca876","projectName":"Area1000001","projectId":"a987fd71-f971-4eb2-8b11-4d14f7e4f691","identity":{"id":"7af3a6bc-1d91-4821-922b-e38d9e1ca876","descriptor":"Microsoft.TeamFoundation.Identity;S-1-9-1551374245-1912440745-1912189518-2333166868-4158977681-1-3489569391-2818563140-2751467086-3646492893","subjectDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0xOTEyNDQwNzQ1LTE5MTIxODk1MTgtMjMzMzE2Njg2OC00MTU4OTc3NjgxLTEtMzQ4OTU2OTM5MS0yODE4NTYzMTQwLTI3NTE0NjcwODYtMzY0NjQ5Mjg5Mw","providerDisplayName":"[Area1000001]\\teamArea_000002","isActive":true,"isContainer":true,"members":[],"memberOf":[],"masterId":"7af3a6bc-1d91-4821-922b-e38d9e1ca876","properties":{"Microsoft.TeamFoundation.Team":{"$type":"System.Boolean","$value":true},"SchemaClassName":{"$type":"System.String","$value":"Group"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"vstfs:///Classification/TeamProject/a987fd71-f971-4eb2-8b11-4d14f7e4f691"},"Account":{"$type":"System.String","$value":"teamArea_000002"},"SecurityGroup":{"$type":"System.String","$value":"SecurityGroup"},"SpecialType":{"$type":"System.String","$value":"Generic"},"ScopeId":{"$type":"System.String","$value":"cd824772-ab49-4bf6-9969-95e2cf3424a2"},"ScopeType":{"$type":"System.String","$value":"TeamProject"},"LocalScopeId":{"$type":"System.String","$value":"a987fd71-f971-4eb2-8b11-4d14f7e4f691"},"SecuringHostId":{"$type":"System.String","$value":"a9bae0de-049f-43b5-a1ff-18f8f805fbe8"},"ScopeName":{"$type":"System.String","$value":"Area1000001"},"VirtualPlugin":{"$type":"System.String","$value":""}},"resourceVersion":2,"metaTypeId":255}}'
    headers:
      activityid:
      - ae2fcf77-38da-43fc-9c9e-b262562ee3d0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7feece6f-b60f-4985-b04b-141c1af88e11
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - ae2fcf77-38da-43fc-9c9e-b262562ee3d0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "teamArea_000002_Root_Area_000003"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/Area1000001/_apis/wit/classificationNodes/areas
  response:
    body:
      string: '{"id":541,"identifier":"2cea2d5e-0b77-4016-b42c-ad2f2447a9cf","name":"teamArea_000002_Root_Area_000003","structureType":"area","hasChildren":false,"path":"\\Area1000001\\Area\\teamArea_000002_Root_Area_000003","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/a987fd71-f971-4eb2-8b11-4d14f7e4f691/_apis/wit/classificationNodes/Areas/teamArea_000002_Root_Area_000003"},"parent":{"href":"https://dev.azure.com/v-anvashist0376/a987fd71-f971-4eb2-8b11-4d14f7e4f691/_apis/wit/classificationNodes/Areas"}},"url":"https://dev.azure.com/v-anvashist0376/a987fd71-f971-4eb2-8b11-4d14f7e4f691/_apis/wit/classificationNodes/Areas/teamArea_000002_Root_Area_000003"}'
    headers:
      activityid:
      - 6b50c5b5-d14a-4008-8dbe-5e46b5e9f379
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      location:
      - https://dev.azure.com/v-anvashist0376/a987fd71-f971-4eb2-8b11-4d14f7e4f691/_apis/wit/classificationNodes/Areas/teamArea_000002_Root_Area_000003
      x-tfs-processid:
      - 98c229af-85ac-4aef-a1b7-bbe8a1f1ead4
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 6b50c5b5-d14a-4008-8dbe-5e46b5e9f379
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/Area1000001/_apis/wit/classificationNodes/areas?$depth=1
  response:
    body:
      string: '{"id":540,"identifier":"becc83a0-322b-4f40-ad01-64e882196043","name":"Area1000001","structureType":"area","hasChildren":true,"children":[{"id":541,"identifier":"2cea2d5e-0b77-4016-b42c-ad2f2447a9cf","name":"teamArea_000002_Root_Area_000003","structureType":"area","hasChildren":false,"path":"\\Area1000001\\Area\\teamArea_000002_Root_Area_000003","url":"https://dev.azure.com/v-anvashist0376/a987fd71-f971-4eb2-8b11-4d14f7e4f691/_apis/wit/classificationNodes/Areas/teamArea_000002_Root_Area_000003"}],"path":"\\Area1000001\\Area","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/a987fd71-f971-4eb2-8b11-4d14f7e4f691/_apis/wit/classificationNodes/Areas"}},"url":"https://dev.azure.com/v-anvashist0376/a987fd71-f971-4eb2-8b11-4d14f7e4f691/_apis/wit/classificationNodes/Areas"}'
    headers:
      activityid:
      - 52aff65e-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52aff65e-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/Area1000001/_apis/wit/classificationNodes?$depth=0
  response:
    body:
      string: '{"count":2,"value":[{"id":540,"identifier":"becc83a0-322b-4f40-ad01-64e882196043","name":"[...]
- request:
    body: '{"name": "ChildArea000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/Area1000001/_apis/wit/classificationNodes/areas/%5CteamArea_000002_Root_Area_000003
  response:
    body:
      string: '{"id":542,"identifier":"62f0f61[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/Area1000001/_apis/wit/classificationNodes?ids=542
  response:
    body:
      string: '{"count":1,"value":[{"id":542,"identifier":"62f0f610-9e52-401c-951e-d4e54f8f8782","name":"C[...]
[...]
- request:
    body: '{"id": 543}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/Area1000001/_apis/wit/classificationNodes/areas/%5CteamArea_000002_Root_Area_000003%5CChildArea000004
  response:
    body:
      string: '{"id":543,"identifier":"ca7e3[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/Area1000001/teamArea_000002/_apis/work/teamsettings/teamfieldvalues
  response:
    body:
      string: '{"field":{"referenceName":"System.AreaPath","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.AreaPath"},"defaultValue":null,"values":[],"url":"https://dev.azure.com/v-anvashist0376/a987fd71-f971-4eb2-8b11-4d14f7e4f691/7af3a6bc-1d91-4821-922b-e38d9e1ca876/_apis/work/teamsettings/teamfieldvalues","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/a987fd71-f971-4eb2-8b11-4d14f7e4f691/7af3a6bc-1d91-4821-922b-e38d9e1ca876/_apis/work/teamsettings/teamfieldvalues"},"project":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/a987fd71-f971-4eb2-8b11-4d14f7e4f691"},"team":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/a987fd71-f971-4eb2-8b11-4d14f7e4f691/teams/7af3a6bc-1d91-4821-922b-e38d9e1ca876"},"teamSettings":{"href":"https://dev.azure.com/v-anvashist0376/a987fd71-f971-4eb2-8b11-4d14f7e4f691/7af3a6bc-1d91-4821-922b-e38d9e1ca876/_apis/work/teamsettings"},"areaPathClassificationNodes":{"href":"https://dev.azure.com/v-anvashist0376/a987fd71-f971-4eb2-8b11-4d14f7e4f691/_apis/wit/classificationNodes/Areas"}}}'
    headers:
      activityid:
      - ae2fcc0c-38da-43fc-9c9e-b262562ee3d0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7feece6f-b60f-4985-b04b-141c1af88e11
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - ae2fcc0c-38da-43fc-9c9e-b262562ee3d0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"values": [{"includeChildren": false, "value": "\\Area1000001\\teamArea_000002_Root_Area_000003"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/v-anvashist0376/Area1000001/teamArea_000002/_apis/work/teamsettings/teamfieldvalues
  response:
    body:
      string: '{"$id":"1","innerException":null,"message":"DefaultValue","typeName":"Microsoft.TeamFoundation.Work.WebApi.Exceptions.TeamFieldArgumentNullException,
        Microsoft.TeamFoundation.Work.WebApi","typeKey":"TeamFieldArgumentNullException","errorCode":0,"eventId":0}'
    headers:
      activityid:
      - 60a71430-6499-4a88-b879-d358ae50c301
      content-type:
      - application/json; charset=utf-8
      x-tfs-processid:
      - 1ad39b29-0c88-4c30-acc2-65c06abc65e6
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 60a71430-6499-4a88-b879-d358ae50c301
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/a987fd71-f971-4eb2-8b11-4d14f7e4f691
  response:
    body:
      string: '{"id":"8a09bd7e-8af2-4bc0-b5f4-1f85602745c4","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/8a09bd7e-8af2-4bc0-b5f4-1f85602745c4"}'
    headers:
      activityid:
      - 52affbf9-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52affbf9-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/8a09bd7e-8af2-4bc0-b5f4-1f85602745c4
  response:
    body:
      string: '{"id":"8a09bd7e-8af2-4bc0-b5f4-1f85602745c4","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/8a09bd7e-8af2-4bc0-b5f4-1f85602745c4","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/8a09bd7e-8af2-4bc0-b5f4-1f85602745c4"}}}'
    headers:
      activityid:
      - 5355eab4-4abe-47a2-82a0-8110aac68309
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - b97ff233-9513-4ce7-8a9b-cbb5938dff9f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 5355eab4-4abe-47a2-82a0-8110aac68309
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
