interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/buildtests/_apis/build/Definitions?queryOrder=DefinitionNameAscending
  response:
    body:
      string: '{"count":2,"value":[{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/Definitions/22?revision=3"},"web":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_build/definition?definitionId=22"},"editor":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_build/designer?id=22&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/status/22"}},"quality":"definition","authoredBy":{"displayName":"MerlinBot","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/56b0f042-b05e-86d9-b0f7-c5ddb1e76385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/svc.MmFkMzhkMWUtM2VhZi00NzY5LTkzMWMtM2EyZGE2N2JiYjAxOkFwcGxpY2F0aW9uOjU2YjBmMDQyLWIwNWUtODZkOS1iMGY3LWM1ZGRiMWU3NjM4NQ"}},"id":"56b0f042-b05e-86d9-b0f7-c5ddb1e76385","uniqueName":"Application\\56b0f042-b05e-86d9-b0f7-c5ddb1e76385","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/svc.MmFkMzhkMWUtM2VhZi00NzY5LTkzMWMtM2EyZGE2N2JiYjAxOkFwcGxpY2F0aW9uOjU2YjBmMDQyLWIwNWUtODZkOS1iMGY3LWM1ZGRiMWU3NjM4NQ","descriptor":"svc.MmFkMzhkMWUtM2VhZi00NzY5LTkzMWMtM2EyZGE2N2JiYjAxOkFwcGxpY2F0aW9uOjU2YjBmMDQyLWIwNWUtODZkOS1iMGY3LWM1ZGRiMWU3NjM4NQ"},"drafts":[],"queue":{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/build/Queues/72"}},"id":72,"name":"Azure
        Pipelines","url":"https://dev.azure.com/v-anvashist0376/_apis/build/Queues/72","pool":{"id":9,"name":"Azure
        Pipelines","isHosted":true}},"id":22,"name":"BuildTests Definition1 (2)","url":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/Definitions/22?revision=3","uri":"vstfs:///Build/Definition/22","path":"\\","type":"build","queueStatus":"disabled","revision":3,"createdDate":"2024-04-07T00:30:42.793Z","project":{"id":"70642ceb-5192-4e9e-8ec0-865714dc08b7","name":"buildtests","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/70642ceb-5192-4e9e-8ec0-865714dc08b7","state":"wellFormed","revision":73,"visibility":"organization","lastUpdateTime":"2023-12-26T06:21:02.863Z"}},{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/Definitions/20?revision=3"},"web":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_build/definition?definitionId=20"},"editor":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_build/designer?id=20&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/v-anvashist0376/70642c[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/buildtests/_apis/build/Definitions/20
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,"maxConcurrentBuildsPerBranch":1,"triggerType":"continuousIntegration"}],"properties":{},"tags":[],"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/Definitions/20?revision=3"},"web":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_build/definition?definitionId=20"},"editor":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_build/designer?id=20&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/status/20"}},"comment":"Disabled
        build definition due to connection to deleted or disabled repository, read
        more at aka.ms/adodecluttering","jobAuthorizationScope":"projectCollection","process":{"yamlFilename":"azure-pipelines.yml","type":2},"repository":{"properties":{"fullName":"BuildTests
        Definition1","safeRepository":"6255c947-5f27-47d6-9776-8b2478b91680","reportBuildStatus":"true"},"id":"6255c947-5f27-47d6-9776-8b2478b91680","type":"TfsGit","name":"BuildTests
        Definition1","url":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/buildtests/_git/BuildTests%20Definition1","defaultBranch":"refs/heads/main","clean":null,"checkoutSubmodules":false},"quality":"definition","authoredBy":{"displayName":"MerlinBot","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/56b0f042-b05e-86d9-b0f7-c5ddb1e76385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/svc.MmFkMzhkMWUtM2VhZi00NzY5LTkzMWMtM2EyZGE2N2JiYjAxOkFwcGxpY2F0aW9uOjU2YjBmMDQyLWIwNWUtODZkOS1iMGY3LWM1ZGRiMWU3NjM4NQ"}},"id":"56b0f042-b05e-86d9-b0f7-c5ddb1e76385","uniqueName":"Applicat[...]
