interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 1f0fe637-b63a-48d3-8586-64b86ea4c8c0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32cf7954-6736-4ade-874f-4ca9793d92cf
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1f0fe637-b63a-48d3-8586-64b86ea4c8c0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "IterationProj_000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"f0d21ac7-e1ba-407d-95a8-219fe8fd5e69","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/f0d21ac7-e1ba-407d-95a8-219fe8fd5e69"}'
    headers:
      activityid:
      - 982ff6a6-c4af-4065-bdbc-45d9dbf373b4
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5894399e-e0b1-4e67-969a-1bb96dd83c83
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 982ff6a6-c4af-4065-bdbc-45d9dbf373b4
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/f0d21ac7-e1ba-407d-95a8-219fe8fd5e69
  response:
    body:
      string: '{"id":"f0d21ac7-e1ba-407d-95a8-219fe8fd5e69","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/f0d21ac7-e1ba-407d-95a8-219fe8fd5e69","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/f0d21ac7-e1ba-407d-95a8-219fe8fd5e69"}}}'
    headers:
      activityid:
      - 3c5f6bd5-ed24-4d4e-900b-a8abb3949665
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 9aaf6e99-5ba9-4c99-9331-5586cea0560d
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 3c5f6bd5-ed24-4d4e-900b-a8abb3949665
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/IterationProj_000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"c8c7887e-4919-4303-867e-108a4a8fb0a4","name":"IterationProj_000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/c8c7887e-4919-4303-867e-108a4a8fb0a4","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":924,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/c8c7887e-4919-4303-867e-108a4a8fb0a4"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/IterationProj_000001"}},"visibility":"private","defaultTeam":{"id":"53f6bba4-08e8-4004-92e8-3fb86b24221f","name":"IterationProj_000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/c8c7887e-4919-4303-867e-108a4a8fb0a4/teams/53f6bba4-08e8-4004-92e8-3fb86b24221f"},"lastUpdateTime":"2025-01-02T12:27:07.69Z"}'
    headers:
      activityid:
      - 7b08a432-5839-4af0-8b46-03338f5bd43a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3e5d6de8-9a30-4743-9c4c-0d5527f3ca5f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 7b08a432-5839-4af0-8b46-03338f5bd43a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes/iterations?$depth=1
  response:
    body:
      string: '{"id":334,"identifier":"df09f856-ecb1-4b54-9d34-8ee2c9a1021e","name":"IterationProj_000001","structureType":"iteration","hasChildren":true,"children":[{"id":336,"identifier":"fc5d28dd-fd00-419d-8c50-08373e2e2cf8","name":"Sprint
        1","structureType":"iteration","hasChildren":false,"path":"\\IterationProj_000001\\Iteration\\Sprint
        1","url":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/_apis/wit/classificationNodes/Iterations/Sprint%201"}],"path":"\\IterationProj_000001\\Iteration","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/_apis/wit/classificationNodes/Iterations"}},"url":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/_apis/wit/classificationNodes/Iterations"}'
    headers:
      activityid:
      - 336835e2-baca-454c-8c5f-d3021c79e3dd
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f77fcf17-141f-4e77-88af-43d7b2bf292a
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 336835e2-baca-454c-8c5f-d3021c79e3dd
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "teamName1_000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/IterationProj_000001/teams
  response:
    body:
      string: '{"id":"1ee4abf8-9790-4c29-9b50-e74cf9892712","name":"teamName1_000002","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/c8c7887e-4919-4303-867e-108a4a8fb0a4/teams/1ee4abf8-9790-4c29-9b50-e74cf9892712","description":"","identityUrl":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/1ee4abf8-9790-4c29-9b50-e74cf9892712","projectName":"IterationProj_000001","projectId":"c8c7887e-4919-4303-867e-108a4a8fb0a4","identity":{"id":"1ee4abf8-9790-4c29-9b50-e74cf9892712","descriptor":"Microsoft.TeamFoundation.Identity;S-1-9-1551374245-2122893256-424215363-2256408714-1250930852-1-3236892496-765794380-3161803817-3774164906","subjectDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0yMTIyODkzMjU2LTQyNDIxNTM2My0yMjU2NDA4NzE0LTEyNTA5MzA4NTItMS0zMjM2ODkyNDk2LTc2NTc5NDM4MC0zMTYxODAzODE3LTM3NzQxNjQ5MDY","providerDisplayName":"[IterationProj_000001]\\teamName1_000002","isActive":true,"isContainer":true,"members":[],"memberOf":[],"masterId":"1ee4abf8-9790-4c29-9b50-e74cf9892712","properties":{"Microsoft.TeamFoundation.Team":{"$type":"System.Boolean","$value":true},"SchemaClassName":{"$type":"System.String","$value":"Group"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"vstfs:///Classification/TeamProject/c8c7887e-4919-4303-867e-108a4a8fb0a4"},"Account":{"$type":"System.String","$value":"teamName1_000002"},"SecurityGroup":{"$type":"System.String","$value":"SecurityGroup"},"SpecialType":{"$type":"System.String","$value":"Generic"},"ScopeId":{"$type":"System.String","$value":"367be088-39f8-41ef-9fe6-37b566e291a2"},"ScopeType":{"$type":"System.String","$value":"TeamProject"},"LocalScopeId":{"$type":"System.String","$value":"c8c7887e-4919-4303-867e-108a4a8fb0a4"},"SecuringHostId":{"$type":"System.String","$value":"a9bae0de-049f-43b5-a1ff-18f8f805fbe8"},"ScopeName":{"$type":"System.String","$value":"IterationProj_000001"},"VirtualPlugin":{"$type":"System.String","$value":""}},"resourceVersion":2,"metaTypeId":255}}'
    headers:
      activityid:
      - 1f0ffdea-b63a-48d3-8586-64b86ea4c8c0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32cf7954-6736-4ade-874f-4ca9793d92cf
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1f0ffdea-b63a-48d3-8586-64b86ea4c8c0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"attributes": {}, "name": "teamName1_000002_Root_Itr_000003"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes/iterations
  response:
    body:
      string: '{"id":338,"identifier":"3cde4d1e-0a34-41a7-81d4-f6bcec1e47de","name":"teamName1_000002_Root_Itr_000003","structureType":"iteration","hasChildren":false,"path":"\\IterationProj_000001\\Iteration\\teamName1_000002_Root_Itr_000003","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003"},"parent":{"href":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/_apis/wit/classificationNodes/Iterations"}},"url":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003"}'
    headers:
      activityid:
      - 8ce5772f-75b7-446a-857c-386cccb97db6
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      location:
      - https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003
      x-tfs-processid:
      - 81515145-17e8-4d31-8df7-702b5a0ae855
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 8ce5772f-75b7-446a-857c-386cccb97db6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes?$depth=0
  response:
    body:
      string: '{"count":2,"value":[{"id":337,"identifier":"8675a158-a6e6-4b9c-8d6c-a79bfd1f5c3f"[...]
- request:
    body: '{"attributes": {}, "name": "Child_Itr_000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes/iterations/%5CteamName1_000002_Root_Itr_000003
  response:
    body:
      string:[...]
[...]
- request:
    body: '{"attributes": {"startDate": "2019-06-17T00:00:00", "finishDate": "2019-06-28T00:00:00"},
      "name": "Child_Itr_000005"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes/iterations/%5CteamName1_000002_Root_Itr_000003
  response:
    body:
      string: '{"id":34[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes?ids=339
  response:
    body:
      string: '{"count":1,"value":[{"id":339,"identifier":"13f3987f-3255-4a16-b5b4-9ef6298d225c",[...]
[...]
- request:
    body: '{"id": 340}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes/iterations/%5CteamName1_000002_Root_Itr_000003%5CChild_Itr_000004
  response:
    body:
      string: '{"id":340,"ide[...]
[...]
- request:
    body: '{"url": "https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003/Child_Itr_000004",
      "_links": {}, "attributes": {}, "hasChildren": true, "id": 339, "identifier":
      "13f3987f-3255-4a16-b5b4-9ef6298d225c", "name": "Child_Itr_000004", "structureType":
      "iteration"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
    [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/teamName1_000002/_apis/work/teamsettings/iterations
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - f264017f-77aa-4c8d-85b5-02e2a4304438
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - a8e54f57-01b8-4585-a4b3-3b2d681ad009
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - f264017f-77aa-4c8d-85b5-02e2a4304438
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "3cde4d1e-0a34-41a7-81d4-f6bcec1e47de"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/teamName1_000002/_apis/work/teamsettings/iterations
  response:
    body:
      string: '{"$id":"1","innerException":null,"message":"TF400497: The backlog iteration
        path that you specified is no longer valid.","typeName":"Microsoft.Azure.Boards.Agile.Common.Exceptions.InvalidTeamSettingsException,
        Microsoft.Azure.Boards.Agile.Common","typeKey":"InvalidTeamSettingsException","errorCode":0,"eventId":3000}'
    headers:
      activityid:
      - 8ce5718f-75b7-446a-857c-386cccb97db6
      content-type:
      - application/json; charset=utf-8
      x-tfs-processid:
      - 81515145-17e8-4d31-8df7-702b5a0ae855
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 8ce5718f-75b7-446a-857c-386cccb97db6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/teamName1_000002/_apis/work/teamsettings
  response:
    body:
      string: '{"backlogIteration":{"id":"00000000-0000-0000-0000-000000000000"},"bugsBehavior":"off","workingDays":["monday","tuesday","wednesday","thursday","friday"],"backlogVisibilities":{"Microsoft.EpicCategory":true,"Microsoft.RequirementCategory":true},"defaultIteration":null,"defaultIterationMacro":"@currentIteration","url":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/1ee4abf8-9790-4c29-9b50-e74cf9892712/_apis/work/teamsettings","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/1ee4abf8-9790-4c29-9b50-e74cf9892712/_apis/work/teamsettings"},"project":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/c8c7887e-4919-4303-867e-108a4a8fb0a4"},"team":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/c8c7887e-4919-4303-867e-108a4a8fb0a4/teams/1ee4abf8-9790-4c29-9b50-e74cf9892712"},"teamIterations":{"href":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/1ee4abf8-9790-4c29-9b50-e74cf9892712/_apis/work/teamsettings/iterations"},"teamFieldValues":{"href":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/1ee4abf8-9790-4c29-9b50-e74cf9892712/_apis/work/teamsettings/teamfieldvalues"}}}'
    headers:
      activityid:
      - 44d55441-f79e-4dc7-9ed2-9997804bec46
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8b97cd00-92de-40cb-90b3-9f93d0941d86
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 44d55441-f79e-4dc7-9ed2-9997804bec46
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "13f3987f-3255-4a16-b5b4-9ef6298d225c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/teamName1_000002/_apis/work/teamsettings/iterations
  response:
    body:
      string: '{"id":"13f3987f-3255-4a16-b5b4-9ef6298d225c","name":"Child_Itr_000004","path":"IterationProj_000001\\teamName1_000002_Root_Itr_000003\\Child_Itr_000004","attributes":{"startDate":null,"finishDate":null,"timeFrame":"current"},"url":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/1ee4abf8-9790-4c29-9b50-e74cf9892712/_apis/work/teamsettings/iterations/13f3987f-3255-4a16-b5b4-9ef6298d225c","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/1ee4abf8-9790-4c29-9b50-e74cf9892712/_apis/work/teamsettings/iterations/13f3987f-3255-4a16-b5b4-9ef6298d225c"},"project":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/c8c7887e-4919-4303-867e-108a4a8fb0a4"},"team":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/c8c7887e-4919-4303-867e-108a4a8fb0a4/teams/1ee4abf8-9790-4c29-9b50-e74cf9892712"},"teamSettings":{"href":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/1ee4abf8-9790-4c29-9b50-e74cf9892712/_apis/work/teamsettings"},"teamIterations":{"href":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/1ee4abf8-9790-4c29-9b50-e74cf9892712/_apis/work/teamsettings/iterations"},"capacity":{"href":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/1ee4abf8-9790-4c29-9b50-e74cf9892712/_apis/work/teamsettings/iterations/13f3987f-3255-4a16-b5b4-9ef6298d225c/capacities"},"workitems":{"href":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/1ee4abf8-9790-4c29-9b50-e74cf9892712/_apis/work/teamsettings/iterations/13f3987f-3255-4a16-b5b4-9ef6298d225c/workitems"},"classificationNode":{"href":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003/Child_Itr_000004"},"teamDaysOff":{"href":"https://dev.azure.com/v-anvashist0376/c8c7887e-4919-4303-867e-108a4a8fb0a4/1ee4abf8-9790-4c29-9b50-e74cf9892712/_apis/work/teamsettings/iterations/13f3987f-3255-4a16-b5b4-9ef6298d225c/teamdaysoff"}}}'
    headers:
      activityid:
      - 1f0ff86a-b63a-48d3-8586-64b86ea4c8c0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32cf7954-6736-4ade-874f-4ca9793d92cf
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1f0ff86a-b63a-48d3-8586-64b86ea4c8c0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/teamName1_000002/_apis/work/teamsettings/iterations/13f3987f-3255-4a16-b5b4-9ef6298d225c
  response:
    body:
      string: ''
    headers:
      activityid:
      - 8ce51d34-75b7-446a-857c-386cccb97db6
      x-tfs-processid:
      - 81515145-17e8-4d31-8df7-702b5a0ae855
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 8ce51d34-75b7-446a-857c-386cccb97db6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/c8c7887e-4919-4303-867e-108a4a8fb0a4
  response:
    body:
      string: '{"id":"ab8f947e-8922-45d6-b334-505e05c89470","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/ab8f947e-8922-45d6-b334-505e05c89470"}'
    headers:
      activityid:
      - 1a48181f-3e8f-4275-97c7-19a163b7a8be
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - d46325bf-7121-4a39-8702-ab1ce62681a7
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1a48181f-3e8f-4275-97c7-19a163b7a8be
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/ab8f947e-8922-45d6-b334-505e05c89470
  response:
    body:
      string: '{"id":"ab8f947e-8922-45d6-b334-505e05c89470","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/ab8f947e-8922-45d6-b334-505e05c89470","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/ab8f947e-8922-45d6-b334-505e05c89470"}}}'
    headers:
      activityid:
      - 3368e6a7-baca-454c-8c5f-d3021c79e3dd
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f77fcf17-141f-4e77-88af-43d7b2bf292a
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 3368e6a7-baca-454c-8c5f-d3021c79e3dd
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
