interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 7b0f64c5-5839-4af0-8b46-03338f5bd43a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3e5d6de8-9a30-4743-9c4c-0d5527f3ca5f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 7b0f64c5-5839-4af0-8b46-03338f5bd43a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "WikiTests000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"94be4ead-80ab-41c4-afa3-7d37dde02ed8","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/94be4ead-80ab-41c4-afa3-7d37dde02ed8"}'
    headers:
      activityid:
      - 7b0f6497-5839-4af0-8b46-03338f5bd43a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3e5d6de8-9a30-4743-9c4c-0d5527f3ca5f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 7b0f6497-5839-4af0-8b46-03338f5bd43a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/94be4ead-80ab-41c4-afa3-7d37dde02ed8
  response:
    body:
      string: '{"id":"94be4ead-80ab-41c4-afa3-7d37dde02ed8","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/94be4ead-80ab-41c4-afa3-7d37dde02ed8","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/94be4ead-80ab-41c4-afa3-7d37dde02ed8"}}}'
    headers:
      activityid:
      - 44ee8035-f79e-4dc7-9ed2-9997804bec46
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8b97cd00-92de-40cb-90b3-9f93d0941d86
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 44ee8035-f79e-4dc7-9ed2-9997804bec46
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/WikiTests000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2","name":"WikiTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1059,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/WikiTests000001"}},"visibility":"private","defaultTeam":{"id":"c0d26c60-4398-49d8-8e01-fa41e2e71462","name":"WikiTests000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/teams/c0d26c60-4398-49d8-8e01-fa41e2e71462"},"lastUpdateTime":"2025-01-02T12:42:37.45Z"}'
    headers:
      activityid:
      - 3c5bbb43-ed24-4d4e-900b-a8abb3949665
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 9aaf6e99-5ba9-4c99-9331-5586cea0560d
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 3c5bbb43-ed24-4d4e-900b-a8abb3949665
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "WikiTests000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/git/repositories
  response:
    body:
      string: '{"id":"187a3163-df2e-45da-b9b0-8ad18583c44f","name":"WikiTests000002","url":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/git/repositories/187a3163-df2e-45da-b9b0-8ad18583c44f","project":{"id":"71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2","name":"WikiTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2","state":"wellFormed","revision":1059,"visibility":"private","lastUpdateTime":"2025-01-02T12:42:37.45Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/WikiTests000001/_git/WikiTests000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/WikiTests000001/WikiTests000002","webUrl":"https://dev.azure.com/v-anvashist0376/WikiTests000001/_git/WikiTests000002","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - f261414b-77aa-4c8d-85b5-02e2a4304438
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - a8e54f57-01b8-4585-a4b3-3b2d681ad009
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - f261414b-77aa-4c8d-85b5-02e2a4304438
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://github.com/hkasera/snakes-and-ladders.git"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/git/repositories/187a3163-df2e-45da-b9b0-8ad18583c44f/importRequests
  response:
    body:
      string: '{"importRequestId":34,"repository":{"id":"187a3163-df2e-45da-b9b0-8ad18583c44f","name":"WikiTests000002","url":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/git/repositories/187a3163-df2e-45da-b9b0-8ad18583c44f","project":{"id":"71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2","name":"WikiTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2","state":"wellFormed","revision":1059,"visibility":"private","lastUpdateTime":"2025-01-02T12:42:37.45Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/WikiTests000001/_git/WikiTests000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/WikiTests000001/WikiTests000002","webUrl":"https://dev.azure.com/v-anvashist0376/WikiTests000001/_git/WikiTests000002","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://github.com/hkasera/snakes-and-ladders.git","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/git/repositories/187a3163-df2e-45da-b9b0-8ad18583c44f/importRequests/34"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/git/repositories/187a3163-df2e-45da-b9b0-8ad18583c44f"}},"url":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/git/repositories/187a3163-df2e-45da-b9b0-8ad18583c44f/importRequests/34"}'
    headers:
      activityid:
      - 1f0a3c40-b63a-48d3-8586-64b86ea4c8c0
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 32cf7954-6736-4ade-874f-4ca9793d92cf
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1f0a3c40-b63a-48d3-8586-64b86ea4c8c0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/git/repositories/187a3163-df2e-45da-b9b0-8ad18583c44f/importRequests/34
  response:
    body:
      string: '{"importRequestId":34,"rep[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis
  response:
    body:
      string: '{"value":[],"count":0}'
    headers:
      activityid:
      - 44ee9e1b-f79e-4dc7-9ed2-9997804bec46
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8b97cd00-92de-40cb-90b3-9f93d0941d86
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 44ee9e1b-f79e-4dc7-9ed2-9997804bec46
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/WikiTests000001
  response:
    body:
      string: '{"id":"71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2","name":"WikiTests000001","url":"https://dev.azure.com/v-anvashist[...]
- request:
    body: '{"name": "myprojectwiki", "projectId": "71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2",
      "type": "projectwiki"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis
  response:
    body:
      string: '{"id":"3fbf0684-c81f-4fdc-9880-434f3dbf7591","versions":[{"version":"wikiMaster"}],"url":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/wiki/wikis/3fbf0684-c81f-4fdc-9880-434f3dbf7591","remoteUrl":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_wiki/wikis/3fbf0684-c81f-4fdc-9880-434f3dbf7591","type":"projectWiki","name":"myprojectwiki","projectId":"71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2","repositoryId":"3fbf0684-c81f-4fdc-9880-434f3dbf7591","mappedPath":"/"}'
    headers:
      activityid:
      - 1a534051-3e8f-4275-97c7-19a163b7a8be
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - d46325bf-7121-4a39-8702-ab1ce62681a7
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1a534051-3e8f-4275-97c7-19a163b7a8be
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/git/repositories/WikiTests000002
  response:
    body:
      string: '{"id":"187a3163-df2e-45da-b9b0-8ad18583c44f","name":"WikiTests000002","url":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/git/repositories/187a3163-df2e-45da-b9b0-8ad18583c44f","project":{"id":"71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2","name":"WikiTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2","state":"wellFormed","revision":1060,"visibility":"private","lastUpdateTime":"2025-01-02T12:42:46.677Z"},"defaultBranch":"refs/heads/master","size":365172,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/WikiTests000001/_git/WikiTests000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/WikiTests000001/WikiTests000002","webUrl":"https://dev.azure.com/v-anvashist0376/WikiTests000001/_git/WikiTests000002","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/git/repositories/187a3163-df2e-45da-b9b0-8ad18583c44f"},"project":{"href":"vstfs:///Classification/TeamProject/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2"},"web":{"href":"https://dev.azure.com/v-anvashist0376/WikiTests000001/_git/WikiTests000002"},"ssh":{"href":"git@ssh.dev.azure.com:v3/v-anvashist0376/WikiTests000001/WikiTests000002"},"commits":{"href":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/git/repositories/187a3163-df2e-45da-b9b0-8ad18583c44f/commits"},"refs":{"href":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/git/repositories/187a3163-df2e-45da-b9b0-8ad18583c44f/refs"},"pullRequests":{"href":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/git/repositories/187a3163-df2e-45da-b9b0-8ad18583c44f/pullRequests"},"items":{"href":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/git/repositories/187a3163-df2e-45da-b9b0-8ad18583c44f/items"},"pushes":{"href":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/git/repositories/187a3163-df2e-45da-b9b0-8ad18583c44f/pushes"}},"isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 0572296c-ff50-438f-90f1-ec11f8baa054
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f955bfb1-3f37-4681-81bb-d7ac11abdc0f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 0572296c-ff50-438f-90f1-ec11f8baa054
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"mappedPath": "/", "name": "mycodewiki", "projectId": "71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2",
      "repositoryId": "187a3163-df2e-45da-b9b0-8ad18583c44f", "type": "codewiki",
      "version": {"version": "master"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: h[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis/566d1edd-f9e9-44e1-b6df-9ff9191301a6
  response:
    body:
      string: '{"id":"566d1edd-f9e9-44e1-b6df-9ff9191301a6","versions":[{"version":[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis/myprojectwiki
  response:
    body:
      string: '{"id":"3fbf0684-c81f-4fdc-9880-434f3dbf7591","versions":[{"version":"wikiMaster"}],"url":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/wiki/wikis/3fbf0684-c81f-4fdc-9880-434f3dbf7591","remoteUrl":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_wiki/wikis/3fbf0684-c81f-4fdc-9880-434f3dbf7591","type":"projectWiki","name":"myprojectwiki","projectId":"71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2","repositoryId":"3fbf0684-c81f-4fdc-9880-434f3dbf7591","mappedPath":"/"}'
    headers:
      activityid:
      - 05722648-ff50-438f-90f1-ec11f8baa054
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f955bfb1-3f37-4681-81bb-d7ac11abdc0f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 05722648-ff50-438f-90f1-ec11f8baa054
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"content": "This is my wiki page"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis/myprojectwiki/pages?path=abc&comment=Created%20a%20wiki%20page
  response:
    body:
      string: '{"path":"/abc","order":0,"gitItemPath":"/abc.md","subPages":[],"url":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/wiki/wikis/3fbf0684-c81f-4fdc-9880-434f3dbf7591/pages/%2Fabc","remoteUrl":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_wiki/wikis/3fbf0684-c81f-4fdc-9880-434f3dbf7591?pagePath=%2Fabc","id":4,"content":"This
        is my wiki page"}'
    headers:
      activityid:
      - 1a534ede-3e8f-4275-97c7-19a163b7a8be
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      etag:
      - '"b54c50ea0e6a2e0d96d39e21a6e7e89a541e2d03"'
      x-tfs-processid:
      - d46325bf-7121-4a39-8702-ab1ce62681a7
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1a534ede-3e8f-4275-97c7-19a163b7a8be
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "New content is here now."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - b54c50ea0e6a2e0d96d39e21a6e7e89a541e2d03
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis/myprojectwiki/pages?path=abc&comment=Updated%20the%20page%20using%20Azure%20DevOps%20CLI
  response:
    body:
      string: '{"path":"/abc","order":0,"gitItemPath":"/abc.md","subPages":[],"url":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/wiki/wikis/3fbf0684-c81f-4fdc-9880-434f3dbf7591/pages/%2Fabc","remoteUrl":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_wiki/wikis/3fbf0684-c81f-4fdc-9880-434f3dbf7591?pagePath=%2Fabc","id":4,"content":"New
        content is here now."}'
    headers:
      activityid:
      - a51f0e60-6dba-4468-b3fe-a8111b3f4f4d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      etag:
      - '"15a4f8f4595215219cd9019df815929238f804a6"'
      x-tfs-processid:
      - fe83dd1d-7dd8-45d8-adce-57d7f513de62
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - a51f0e60-6dba-4468-b3fe-a8111b3f4f4d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis/myprojectwiki/pages?path=abc&includeContent=true
  response:
    body:
      string: '{"path":"/abc","order":0,"gitItemPath":"/abc.md","subPages":[],"url":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/wiki/wikis/3fbf0684-c81f-4fdc-9880-434f3dbf7591/pages/%2Fabc","remoteUrl":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_wiki/wikis/3fbf0684-c81f-4fdc-9880-434f3dbf7591?pagePath=%2Fabc","id":4,"content":"New
        content is here now."}'
    headers:
      activityid:
      - 1f0a0ddb-b63a-48d3-8586-64b86ea4c8c0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      etag:
      - '"15a4f8f4595215219cd9019df815929238f804a6"'
      x-tfs-processid:
      - 32cf7954-6736-4ade-874f-4ca9793d92cf
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1f0a0ddb-b63a-48d3-8586-64b86ea4c8c0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis/myprojectwiki/pages?path=abc&comment=Deleted%20the%20page%20using%20Azure%20DevOps%20CLI
  response:
    body:
      string: '{"path":"/abc","order":0,"gitItemPath":"/abc.md","subPages":[],"url":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_apis/wiki/wikis/3fbf0684-c81f-4fdc-9880-434f3dbf7591/pages/%2Fabc","remoteUrl":"https://dev.azure.com/v-anvashist0376/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2/_wiki/wikis/3fbf0684-c81f-4fdc-9880-434f3dbf7591?pagePath=%2Fabc","content":""}'
    headers:
      activityid:
      - 1a534899-3e8f-4275-97c7-19a163b7a8be
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      etag:
      - '""'
      x-tfs-processid:
      - d46325bf-7121-4a39-8702-ab1ce62681a7
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1a534899-3e8f-4275-97c7-19a163b7a8be
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis/myprojectwiki/pages?path=abc&includeContent=true
  response:
    body:
      string: "{\"$id\":\"1\",\"innerException\":null,\"message\":\"Wiki page \u2018/abc\u2019
        could not be found. Ensure that the path of the page is correct and the page
        exists.\",\"typeName\":\"Microsoft.TeamFoundation.Wiki.Server.WikiPageNotFoundException,
        Microsoft.TeamFoundation.Wiki.Server\",\"typeKey\":\"WikiPageNotFoundException\",\"errorCode\":0,\"eventId\":3000}"
    headers:
      activityid:
      - a51f0067-6dba-4468-b3fe-a8111b3f4f4d
      content-type:
      - application/json; charset=utf-8
      x-tfs-processid:
      - fe83dd1d-7dd8-45d8-adce-57d7f513de62
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - a51f0067-6dba-4468-b3fe-a8111b3f4f4d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/71d8cd0c-0b2b-4b3d-81d7-b6edca2cd2e2
  response:
    body:
      string: '{"id":"393213ff-9a13-4034-8f2d-586676e78439","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/393213ff-9a13-4034-8f2d-586676e78439"}'
    headers:
      activityid:
      - 8ce05d5e-75b7-446a-857c-386cccb97db6
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 81515145-17e8-4d31-8df7-702b5a0ae855
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 8ce05d5e-75b7-446a-857c-386cccb97db6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
