interactions:
- request:
    body: '{"name": "RURaEPIK"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/RepoCreateListShowDeleteTests/_apis/git/repositories
  response:
    body:
      string: '{"id":"fafb3efa-7755-42f8-be73-f086a63b6d0a","name":"RURaEPIK","url":"https://dev.azure.com/v-anvashist0376/b778afa3-eac1-4ff0-92ba-21481d5bfe63/_apis/git/repositories/fafb3efa-7755-42f8-be73-f086a63b6d0a","project":{"id":"b778afa3-eac1-4ff0-92ba-21481d5bfe63","name":"RepoCreateListShowDeleteTests","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/b778afa3-eac1-4ff0-92ba-21481d5bfe63","state":"wellFormed","revision":464,"visibility":"organization","lastUpdateTime":"2023-12-29T05:41:14.493Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/RepoCreateListShowDeleteTests/_git/RURaEPIK","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/RepoCreateListShowDeleteTests/RURaEPIK","webUrl":"https://dev.azure.com/v-anvashist0376/RepoCreateListShowDeleteTests/_git/RURaEPIK","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 3c5b9832-ed24-4d4e-900b-a8abb3949665
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 9aaf6e99-5ba9-4c99-9331-5586cea0560d
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 3c5b9832-ed24-4d4e-900b-a8abb3949665
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/RepoCreateListShowDeleteTests/_apis/git/repositories
  response:
    body:
      string: '{"value":[{"id":"152076b6-7532-4668-b51f-808194db358f","name":"ADeNKtPbUpdated","url":"https://dev.azure.com/v-anvashist0376/b778afa3-eac1-4ff0-92ba-21481d5bfe63/_apis/git/repositories/152076b6-7532-4668-b51f-808194db358f","project":{"id":"b778afa3-eac1-4ff0-92ba-21481d5bfe63","name":"RepoCreateListShowDeleteTests","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/b778afa3-eac1-4ff0-92ba-21481d5bfe63","state":"wellFormed","revision":464,"visibility":"organization","lastUpdateTime":"2023-12-29T0[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/RepoCreateListShowDeleteTests/_apis/git/repositories/fafb3efa-7755-42f8-be73-f086a63b6d0a
  response:
    body:
      string: '{"id":"fafb3efa-7755-42f8-be73-f086a63b6d0a","name":"RURaEPIK","url":"https://dev.azure.com/v-anvashist0376/b778afa3-eac1-4ff0-92ba-21481d5bfe63/_apis/git/repositories/fafb3efa-7755-42f8-be73-f086a63b6d0a","project":{"id":"b778afa3-eac1-4ff0-92ba-21481d5bfe63","name":"RepoCreateListShowDeleteTests","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/b778afa3-eac1-4ff0-92ba-21481d5bfe63","state":"wellFormed","revision":464,"visibility":"organization","lastUpdateTime":"2023-12-29T05:41:14.493Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/RepoCreateListShowDeleteTests/_git/RURaEPIK","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/RepoCreateListShowDeleteTests/RURaEPIK","webUrl":"https://dev.azure.com/v-anvashist0376/RepoCreateListShowDeleteTests/_git/RURaEPIK","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/b778afa3-eac1-4ff0-92ba-21481d5bfe63/_apis/git/repositories/fafb3efa-7755-42f8-be73-f086a63b6d0a"},"project":{"href":"vstfs:///Classification/TeamProject/b778afa3-eac1-4ff0-92ba-21481d5bfe63"},"web":{"href":"https://dev.azure.com/v-anvashist0376/RepoCreateListShowDeleteTests/_git/RURaEPIK"},"ssh":{"href":"git@ssh.dev.azure.com:v3/v-anvashist0376/RepoCreateListShowDeleteTests/RURaEPIK"},"commits":{"href":"https://dev.azure.com/v-anvashist0376/b778afa3-eac1-4ff0-92ba-21481d5bfe63/_apis/git/repositories/fafb3efa-7755-42f8-be73-f086a63b6d0a/commits"},"refs":{"href":"https://dev.azure.com/v-anvashist0376/b778afa3-eac1-4ff0-92ba-21481d5bfe63/_apis/git/repositories/fafb3efa-7755-42f8-be73-f086a63b6d0a/refs"},"pullRequests":{"href":"https://dev.azure.com/v-anvashist0376/b778afa3-eac1-4ff0-92ba-21481d5bfe63/_apis/git/repositories/fafb3efa-7755-42f8-be73-f086a63b6d0a/pullRequests"},"items":{"href":"https://dev.azure.com/v-anvashist0376/b778afa3-eac1-4ff0-92ba-21481d5bfe63/_apis/git/repositories/fafb3efa-7755-42f8-be73-f086a63b6d0a/items"},"pushes":{"href":"https://dev.azure.com/v-anvashist0376/b778afa3-eac1-4ff0-92ba-21481d5bfe63/_apis/git/repositories/fafb3efa-7755-42f8-be73-f086a63b6d0a/pushes"}},"isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 336c9cb7-baca-454c-8c5f-d3021c79e3dd
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f77fcf17-141f-4e77-88af-43d7b2bf292a
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 336c9cb7-baca-454c-8c5f-d3021c79e3dd
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"_links": {}, "id": "fafb3efa-7755-42f8-be73-f086a63b6d0a", "name": "RURaEPIKUpdated",
      "project": {"id": "b778afa3-eac1-4ff0-92ba-21481d5bfe63", "name": "RepoCreateListShowDeleteTests",
      "revision": 464, "state": "wellFormed", "url": "https://dev.azure.com/v-anvashist0376/_apis/projects/b778afa3-eac1-4ff0-92ba-21481d5bfe63",
      "visibility": "organization"}, "remoteUrl": "https://v-anvashist0376@dev.azure.com/v-anvashist0376/RepoCreateListShowDeleteTests/_git[...]
[...]
