interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 9b9a7b9c-d3fb-4495-afec-f6986f9b5e8b
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 709881ea-d5e8-4d50-9f19-9f1bf3301f7f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 9b9a7b9c-d3fb-4495-afec-f6986f9b5e8b
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "WikiTests000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"4396842e-25d7-4505-8452-2b4700c7178d","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/4396842e-25d7-4505-8452-2b4700c7178d"}'
    headers:
      activityid:
      - 42f4cc11-f5aa-489b-829b-6b935a83b968
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f0cc34b2-4918-45ae-99cc-98ed5fcaeba0
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 42f4cc11-f5aa-489b-829b-6b935a83b968
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/4396842e-25d7-4505-8452-2b4700c7178d
  response:
    body:
      string: '{"id":"4396842e-25d7-4505-8452-2b4700c7178d","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/4396842e-25d7-4505-8452-2b4700c7178d","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/4396842e-25d7-4505-8452-2b4700c7178d"}}}'
    headers:
      activityid:
      - 42f4cc5e-f5aa-489b-829b-6b935a83b968
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f0cc34b2-4918-45ae-99cc-98ed5fcaeba0
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 42f4cc5e-f5aa-489b-829b-6b935a83b968
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/WikiTests000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"2138c556-2104-4a09-8dcd-cbf2ed564eea","name":"WikiTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/2138c556-2104-4a09-8dcd-cbf2ed564eea","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1566,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/2138c556-2104-4a09-8dcd-cbf2ed564eea"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/WikiTests000001"}},"visibility":"private","defaultTeam":{"id":"3700d82a-825f-4cfb-a76f-007bec1ed2d3","name":"WikiTests000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/2138c556-2104-4a09-8dcd-cbf2ed564eea/teams/3700d82a-825f-4cfb-a76f-007bec1ed2d3"},"lastUpdateTime":"2025-01-03T12:31:22.15Z"}'
    headers:
      activityid:
      - 53588527-4abe-47a2-82a0-8110aac68309
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - b97ff233-9513-4ce7-8a9b-cbb5938dff9f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 53588527-4abe-47a2-82a0-8110aac68309
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "WikiTests000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/git/repositories
  response:
    body:
      string: '{"id":"a0730cf8-db22-48af-811a-7ad0db00f7b4","name":"WikiTests000002","url":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/git/repositories/a0730cf8-db22-48af-811a-7ad0db00f7b4","project":{"id":"2138c556-2104-4a09-8dcd-cbf2ed564eea","name":"WikiTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/2138c556-2104-4a09-8dcd-cbf2ed564eea","state":"wellFormed","revision":1566,"visibility":"private","lastUpdateTime":"2025-01-03T12:31:22.15Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/WikiTests000001/_git/WikiTests000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/WikiTests000001/WikiTests000002","webUrl":"https://dev.azure.com/v-anvashist0376/WikiTests000001/_git/WikiTests000002","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 42f4c884-f5aa-489b-829b-6b935a83b968
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f0cc34b2-4918-45ae-99cc-98ed5fcaeba0
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 42f4c884-f5aa-489b-829b-6b935a83b968
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://github.com/hkasera/snakes-and-ladders.git"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/git/repositories/a0730cf8-db22-48af-811a-7ad0db00f7b4/importRequests
  response:
    body:
      string: '{"importRequestId":57,"repository":{"id":"a0730cf8-db22-48af-811a-7ad0db00f7b4","name":"WikiTests000002","url":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/git/repositories/a0730cf8-db22-48af-811a-7ad0db00f7b4","project":{"id":"2138c556-2104-4a09-8dcd-cbf2ed564eea","name":"WikiTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/2138c556-2104-4a09-8dcd-cbf2ed564eea","state":"wellFormed","revision":1566,"visibility":"private","lastUpdateTime":"2025-01-03T12:31:22.15Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/WikiTests000001/_git/WikiTests000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/WikiTests000001/WikiTests000002","webUrl":"https://dev.azure.com/v-anvashist0376/WikiTests000001/_git/WikiTests000002","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://github.com/hkasera/snakes-and-ladders.git","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/git/repositories/a0730cf8-db22-48af-811a-7ad0db00f7b4/importRequests/57"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/git/repositories/a0730cf8-db22-48af-811a-7ad0db00f7b4"}},"url":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/git/repositories/a0730cf8-db22-48af-811a-7ad0db00f7b4/importRequests/57"}'
    headers:
      activityid:
      - 88524fa2-4992-4ec3-82cc-a21ecd0c2ba8
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - acea8c03-34bb-4ee4-a91f-cbb689df1604
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 88524fa2-4992-4ec3-82cc-a21ecd0c2ba8
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/git/repositories/a0730cf8-db22-48af-811a-7ad0db00f7b4/importRequests/57
  response:
    body:
      string: '{"importRequestId":57,"rep[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis
  response:
    body:
      string: '{"value":[],"count":0}'
    headers:
      activityid:
      - 9b9a0f0f-d3fb-4495-afec-f6986f9b5e8b
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 709881ea-d5e8-4d50-9f19-9f1bf3301f7f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 9b9a0f0f-d3fb-4495-afec-f6986f9b5e8b
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/WikiTests000001
  response:
    body:
      string: '{"id":"2138c556-2104-4a09-8dcd-cbf2ed564eea","name":"WikiTests000001","url":"https://dev.azure.com/v-anvashist[...]
- request:
    body: '{"name": "myprojectwiki", "projectId": "2138c556-2104-4a09-8dcd-cbf2ed564eea",
      "type": "projectwiki"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis
  response:
    body:
      string: '{"id":"b77a99f0-0e50-487e-bf2d-19c8932f3cde","versions":[{"version":"wikiMaster"}],"url":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/wiki/wikis/b77a99f0-0e50-487e-bf2d-19c8932f3cde","remoteUrl":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_wiki/wikis/b77a99f0-0e50-487e-bf2d-19c8932f3cde","type":"projectWiki","name":"myprojectwiki","projectId":"2138c556-2104-4a09-8dcd-cbf2ed564eea","repositoryId":"b77a99f0-0e50-487e-bf2d-19c8932f3cde","mappedPath":"/"}'
    headers:
      activityid:
      - ae2cfe89-38da-43fc-9c9e-b262562ee3d0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7feece6f-b60f-4985-b04b-141c1af88e11
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - ae2cfe89-38da-43fc-9c9e-b262562ee3d0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/git/repositories/WikiTests000002
  response:
    body:
      string: '{"id":"a0730cf8-db22-48af-811a-7ad0db00f7b4","name":"WikiTests000002","url":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/git/repositories/a0730cf8-db22-48af-811a-7ad0db00f7b4","project":{"id":"2138c556-2104-4a09-8dcd-cbf2ed564eea","name":"WikiTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/2138c556-2104-4a09-8dcd-cbf2ed564eea","state":"wellFormed","revision":1566,"visibility":"private","lastUpdateTime":"2025-01-03T12:31:22.15Z"},"defaultBranch":"refs/heads/master","size":365172,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/WikiTests000001/_git/WikiTests000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/WikiTests000001/WikiTests000002","webUrl":"https://dev.azure.com/v-anvashist0376/WikiTests000001/_git/WikiTests000002","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/git/repositories/a0730cf8-db22-48af-811a-7ad0db00f7b4"},"project":{"href":"vstfs:///Classification/TeamProject/2138c556-2104-4a09-8dcd-cbf2ed564eea"},"web":{"href":"https://dev.azure.com/v-anvashist0376/WikiTests000001/_git/WikiTests000002"},"ssh":{"href":"git@ssh.dev.azure.com:v3/v-anvashist0376/WikiTests000001/WikiTests000002"},"commits":{"href":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/git/repositories/a0730cf8-db22-48af-811a-7ad0db00f7b4/commits"},"refs":{"href":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/git/repositories/a0730cf8-db22-48af-811a-7ad0db00f7b4/refs"},"pullRequests":{"href":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/git/repositories/a0730cf8-db22-48af-811a-7ad0db00f7b4/pullRequests"},"items":{"href":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/git/repositories/a0730cf8-db22-48af-811a-7ad0db00f7b4/items"},"pushes":{"href":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/git/repositories/a0730cf8-db22-48af-811a-7ad0db00f7b4/pushes"}},"isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 60a20403-6499-4a88-b879-d358ae50c301
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 1ad39b29-0c88-4c30-acc2-65c06abc65e6
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 60a20403-6499-4a88-b879-d358ae50c301
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"mappedPath": "/", "name": "mycodewiki", "projectId": "2138c556-2104-4a09-8dcd-cbf2ed564eea",
      "repositoryId": "a0730cf8-db22-48af-811a-7ad0db00f7b4", "type": "codewiki",
      "version": {"version": "master"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: h[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis/681b5dea-052e-450b-a6ce-a40d67c00b7d
  response:
    body:
      string: '{"id":"681b5dea-052e-450b-a6ce-a40d67c00b7d","versions":[{"version":[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis/myprojectwiki
  response:
    body:
      string: '{"id":"b77a99f0-0e50-487e-bf2d-19c8932f3cde","versions":[{"version":"wikiMaster"}],"url":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/wiki/wikis/b77a99f0-0e50-487e-bf2d-19c8932f3cde","remoteUrl":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_wiki/wikis/b77a99f0-0e50-487e-bf2d-19c8932f3cde","type":"projectWiki","name":"myprojectwiki","projectId":"2138c556-2104-4a09-8dcd-cbf2ed564eea","repositoryId":"b77a99f0-0e50-487e-bf2d-19c8932f3cde","mappedPath":"/"}'
    headers:
      activityid:
      - ae2cfc4d-38da-43fc-9c9e-b262562ee3d0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7feece6f-b60f-4985-b04b-141c1af88e11
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - ae2cfc4d-38da-43fc-9c9e-b262562ee3d0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"content": "This is my wiki page"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis/myprojectwiki/pages?path=abc&comment=Created%20a%20wiki%20page
  response:
    body:
      string: '{"path":"/abc","order":0,"gitItemPath":"/abc.md","subPages":[],"url":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/wiki/wikis/b77a99f0-0e50-487e-bf2d-19c8932f3cde/pages/%2Fabc","remoteUrl":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_wiki/wikis/b77a99f0-0e50-487e-bf2d-19c8932f3cde?pagePath=%2Fabc","id":15,"content":"This
        is my wiki page"}'
    headers:
      activityid:
      - ae2cf3b7-38da-43fc-9c9e-b262562ee3d0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      etag:
      - '"b54c50ea0e6a2e0d96d39e21a6e7e89a541e2d03"'
      x-tfs-processid:
      - 7feece6f-b60f-4985-b04b-141c1af88e11
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - ae2cf3b7-38da-43fc-9c9e-b262562ee3d0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "New content is here now."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - b54c50ea0e6a2e0d96d39e21a6e7e89a541e2d03
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis/myprojectwiki/pages?path=abc&comment=Updated%20the%20page%20using%20Azure%20DevOps%20CLI
  response:
    body:
      string: '{"path":"/abc","order":0,"gitItemPath":"/abc.md","subPages":[],"url":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/wiki/wikis/b77a99f0-0e50-487e-bf2d-19c8932f3cde/pages/%2Fabc","remoteUrl":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_wiki/wikis/b77a99f0-0e50-487e-bf2d-19c8932f3cde?pagePath=%2Fabc","id":15,"content":"New
        content is here now."}'
    headers:
      activityid:
      - 60a20642-6499-4a88-b879-d358ae50c301
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      etag:
      - '"15a4f8f4595215219cd9019df815929238f804a6"'
      x-tfs-processid:
      - 1ad39b29-0c88-4c30-acc2-65c06abc65e6
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 60a20642-6499-4a88-b879-d358ae50c301
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis/myprojectwiki/pages?path=abc&includeContent=true
  response:
    body:
      string: '{"path":"/abc","order":0,"gitItemPath":"/abc.md","subPages":[],"url":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/wiki/wikis/b77a99f0-0e50-487e-bf2d-19c8932f3cde/pages/%2Fabc","remoteUrl":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_wiki/wikis/b77a99f0-0e50-487e-bf2d-19c8932f3cde?pagePath=%2Fabc","id":15,"content":"New
        content is here now."}'
    headers:
      activityid:
      - ae2cf22b-38da-43fc-9c9e-b262562ee3d0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      etag:
      - '"15a4f8f4595215219cd9019df815929238f804a6"'
      x-tfs-processid:
      - 7feece6f-b60f-4985-b04b-141c1af88e11
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - ae2cf22b-38da-43fc-9c9e-b262562ee3d0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis/myprojectwiki/pages?path=abc&comment=Deleted%20the%20page%20using%20Azure%20DevOps%20CLI
  response:
    body:
      string: '{"path":"/abc","order":0,"gitItemPath":"/abc.md","subPages":[],"url":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_apis/wiki/wikis/b77a99f0-0e50-487e-bf2d-19c8932f3cde/pages/%2Fabc","remoteUrl":"https://dev.azure.com/v-anvashist0376/2138c556-2104-4a09-8dcd-cbf2ed564eea/_wiki/wikis/b77a99f0-0e50-487e-bf2d-19c8932f3cde?pagePath=%2Fabc","content":""}'
    headers:
      activityid:
      - 18b1e2bd-7b57-4743-a79e-73a155db377d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      etag:
      - '""'
      x-tfs-processid:
      - 00ff2b08-bd50-434a-893e-43641bdbfe31
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 18b1e2bd-7b57-4743-a79e-73a155db377d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/WikiTests000001/_apis/wiki/wikis/myprojectwiki/pages?path=abc&includeContent=true
  response:
    body:
      string: "{\"$id\":\"1\",\"innerException\":null,\"message\":\"Wiki page \u2018/abc\u2019
        could not be found. Ensure that the path of the page is correct and the page
        exists.\",\"typeName\":\"Microsoft.TeamFoundation.Wiki.Server.WikiPageNotFoundException,
        Microsoft.TeamFoundation.Wiki.Server\",\"typeKey\":\"WikiPageNotFoundException\",\"errorCode\":0,\"eventId\":3000}"
    headers:
      activityid:
      - 1f970e0b-34de-4605-870f-0f062219ef9f
      content-type:
      - application/json; charset=utf-8
      x-tfs-processid:
      - f037019e-3fc4-4eca-8c1b-91732621702b
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 1f970e0b-34de-4605-870f-0f062219ef9f
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/2138c556-2104-4a09-8dcd-cbf2ed564eea
  response:
    body:
      string: '{"id":"35b779b9-8e35-4175-9344-8a47051c5a48","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/35b779b9-8e35-4175-9344-8a47051c5a48"}'
    headers:
      activityid:
      - 53589656-4abe-47a2-82a0-8110aac68309
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - b97ff233-9513-4ce7-8a9b-cbb5938dff9f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 53589656-4abe-47a2-82a0-8110aac68309
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
