interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 8857eb96-4992-4ec3-82cc-a21ecd0c2ba8
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - acea8c03-34bb-4ee4-a91f-cbb689df1604
      x-tfs-session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      x-vss-e2eid:
      - 8857eb96-4992-4ec3-82cc-a21ecd0c2ba8
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Permission_000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"c59053da-4f7c-4e86-b8b3-d2bc06fe52a7","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/c59053da-4f7c-4e86-b8b3-d2bc06fe52a7"}'
    headers:
      activityid:
      - b41752a2-234f-40df-bdc6-4fa11d0c1d34
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e0b5ceb9-22b3-47a0-84a1-5b4ef3fe5d5a
      x-tfs-session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      x-vss-e2eid:
      - b41752a2-234f-40df-bdc6-4fa11d0c1d34
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/c59053da-4f7c-4e86-b8b3-d2bc06fe52a7
  response:
    body:
      string: '{"id":"c59053da-4f7c-4e86-b8b3-d2bc06fe52a7","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/c59053da-4f7c-4e86-b8b3-d2bc06fe52a7","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/c59053da-4f7c-4e86-b8b3-d2bc06fe52a7"}}}'
    headers:
      activityid:
      - 60bdec18-6499-4a88-b879-d358ae50c301
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 1ad39b29-0c88-4c30-acc2-65c06abc65e6
      x-tfs-session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      x-vss-e2eid:
      - 60bdec18-6499-4a88-b879-d358ae50c301
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/Permission_000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"5c74978c-8dad-46c0-808a-5ac86184cded","name":"Permission_000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/5c74978c-8dad-46c0-808a-5ac86184cded","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1579,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/5c74978c-8dad-46c0-808a-5ac86184cded"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/Permission_000001"}},"visibility":"private","defaultTeam":{"id":"e3360a7f-c825-43ae-86e2-569a662958ca","name":"Permission_000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/5c74978c-8dad-46c0-808a-5ac86184cded/teams/e3360a7f-c825-43ae-86e2-569a662958ca"},"lastUpdateTime":"2025-01-03T12:43:38.02Z"}'
    headers:
      activityid:
      - 52a418bf-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      x-vss-e2eid:
      - 52a418bf-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "add", "path": "", "value": {"accessLevel": {"accountLicenseType":
      "stakeholder"}, "extensions": [], "projectEntitlements": [], "user": {"subjectKind":
      "user", "principalName": "new_user_test@outlook.com"}}}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://vsaex.dev.azure.com/v-anvashist0376/_apis/UserEntitlements?doNotSendInviteForNewUsers=false
  response:
    body:
      string: '{"id":"99ea2dc9-b91e-4204-90bb-611ab0a9a81f","status":"succeeded","haveResultsSucceeded":true,"completed":true,"results":[{"userId":"323989e2-d2d7-4483-9903-d20b58fa7258","isSuccess":true,"errors":[],"result":{"user":{"subjectKind":"user","directoryAlias":"new_user_test_outlook.com#EXT#","domain":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"aad","originId":"012ed025-5cc0-4f1a-a7da-a98916f8f04f","displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"memberships":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"membershipState":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/MembershipStates/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"storageKey":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/StorageKeys/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"}},"url":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4","descriptor":"aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"extensions":[],"id":"323989e2-d2d7-4483-9903-d20b58fa7258","accessLevel":{"licensingSource":"account","accountLicenseType":"earlyAdopter","msdnLicenseType":"none","licenseDisplayName":"Early
        Adopter","status":"pending","statusMessage":"","assignmentSource":"unknown"},"lastAccessedDate":"0001-01-01T00:00:00Z","dateCreated":"2025-01-03T12:43:40.4610694Z","projectEntitlements":[],"groupAssignments":[]}}]}'
    headers:
      activityid:
      - 829e97ac-43ca-4adb-a24f-fe8aeede474c
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.2
      x-tfs-processid:
      - 8dc3c208-83c1-478c-b21a-83b45e1915b9
      x-tfs-session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      x-vss-e2eid:
      - 829e97ac-43ca-4adb-a24f-fe8aeede474c
      x-vss-senderdeploymentid:
      - 60550036-6ed7-6a2e-3bc7-9053b0c2e866
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/SecurityNamespaces?localOnly=false
  response:
    body:
      string: "{\"count\":60,\"value\":[{\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\",\"name\":\"Analytics\",\"displayName\":\"Analytics\",\"separatorValue\":\"/\",\"elementLength\":-1,\"writePermission\":2,\"readPermission\":1,\"dataspaceCategory\":\"Default\",\"actions\":[{\"bit\":1,\"name\":\"Read\",\"displayName\":\"View
        analytics\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"},{\"bit\":2,\"name\":\"Administer\",\"displayName\":\"Manage
        analytics permissions\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"},{\"bit\":4,\"name\":\"Stage\",\"displayName\":\"Push
        the data to staging area\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"},{\"bit\":8,\"name\":\"ExecuteUnrestrictedQuery\",\"displayName\":\"Execute
        query without any restrictions on the query form\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"},{\"bit\":16,\"name\":\"ReadEuii\",\"displayName\":\"Read
        EUII data\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"}],\"structureValue\":1,\"extensionType\":null,\"isRemotable\":false,\"useTokenTranslator\":false,\"systemBitMask\":30},{\"namespaceId\":\"d34d3680-dfe5-4cc6-a949-7d9c68f73cba\",\"name\":\"AnalyticsViews\",\"displayName\":\"AnalyticsViews\",\"separatorValue\":\"/\",\"elementLength\":-1,\"writePermission\":1024,\"readPermission\":1,\"dataspaceCategory\":\"Default\",\"actions\":[{\"bit\":1,\"name\":\"Read\",\"displayName\":\"View
        shared Analytics views\",\"namespaceId\":\"d34d3680-dfe5-4cc6-a949-7d9c68f73cba\"},{\"bit\":2,\"name\":\"Edit\",\"displayName\":\"Edit
        shared Analytics views\",\"namesp[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/SecurityNamespaces/52d39943-cb85-4d7f-8fa8-c6baac873819
  response:
    body:
      string: '{"count":1,"value":[{"namespaceId":"52d39943-cb85-4d7f-8fa8-c6baac873819","name[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Identities?searchFilter=General&filterValue=new_user_test%40outlook.com
  response:
    body:
      string: '{"count":1,"value":[{"id":"323989e2-d2d7-4483-9903-d20b58fa7258","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","subjectDescriptor":"aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4","providerDisplayName":"new_user_test@outlook.com","members":[],"memberOf":[],"memberIds":[],"properties":{"SchemaClassName":{"$type":"System.String","$value":"User"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"Account":{"$type":"System.String","$value":"new_user_test@outlook.com"},"DN":{"$type":"System.String","$value":""},"Mail":{"$type":"System.String","$value":"new_user_test@outlook.com"},"SpecialType":{"$type":"System.String","$value":"Generic"},"PUID":{"$type":"System.String","$value":"aad:"},"ComplianceValidated":{"$type":"System.DateTime","$value":"2025-01-03T00:00:00Z"},"http://schemas.microsoft.com/identity/claims/objectidentifier":{"$type":"System.String","$value":"012ed025-5cc0-4f1a-a7da-a98916f8f04f"},"DirectoryAlias":{"$type":"System.String","$value":"new_user_test_outlook.com#EXT#"}},"resourceVersion":2,"metaTypeId":255}]}'
    headers:
      activityid:
      - 0dce8b6b-81fe-48cd-95bc-7a90a0fda76c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 48a6548e-9c5d-4df5-b7d3-b3221725069d
      x-tfs-session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      x-vss-e2eid:
      - 0dce8b6b-81fe-48cd-95bc-7a90a0fda76c
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/AccessControlLists/52d39943-cb85-4d7f-8fa8-c6baac873819?descriptors=Microsoft.IdentityModel.Claims.ClaimsIdentity%3B72f988bf-86f1-41af-91ab-2d7cd011db47%5Cnew_user_test%40outlook.com&includeExtendedInfo=true&recurse=false
  response:
    body:
      string: '{"count":80,"value":[{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/TeamProject/030ccbca-1543-4d7d-bc11-8001f14fb05e","acesDictionary":{"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com":{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":0,"deny":0,"extendedInfo":{}}},"includeExtendedInfo":true},{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/TeamProject/038b46ac-29b9-4062-af82-87b52e73d7a9","acesDictionary":{"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com":{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":0,"deny":0,"extendedInfo":{}}},"includeExtendedInfo":true},{"inheritPermissions":true,"token":"$PROJECT:vstfs:/[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Identities?searchFilter=General&filterValue=new_user_test%40outlook.com
  response:
    body:
      string: '{"count":1,"value":[{"id":"323989e2-d2d7-4483-9903-d20b58fa7258","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","subjectDescriptor":"aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4","providerDisplayName":"new_user_test@outlook.com","isActive":true,"members":[],"memberOf":[],"memberIds":[],"properties":{"SchemaClassName":{"$type":"System.String","$value":"User"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"Account":{"$type":"System.String","$value":"new_user_test@outlook.com"},"DN":{"$type":"System.String","$value":""},"Mail":{"$type":"System.String","$value":"new_user_test@outlook.com"},"SpecialType":{"$type":"System.String","$value":"Generic"},"PUID":{"$type":"System.String","$value":"aad:"},"ComplianceValidated":{"$type":"System.DateTime","$value":"2025-01-03T00:00:00Z"},"http://schemas.microsoft.com/identity/claims/objectidentifier":{"$type":"System.String","$value":"012ed025-5cc0-4f1a-a7da-a98916f8f04f"},"DirectoryAlias":{"$type":"System.String","$value":"new_user_test_outlook.com#EXT#"}},"resourceVersion":2,"metaTypeId":255}]}'
    headers:
      activityid:
      - 0c4c7b7e-3e82-4517-a231-36614183154a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f6aa352d-1efa-4423-9089-50850973afbe
      x-tfs-session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      x-vss-e2eid:
      - 0c4c7b7e-3e82-4517-a231-36614183154a
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/AccessControlLists/52d39943-cb85-4d7f-8fa8-c6baac873819?token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F5c74978c-8dad-46c0-808a-5ac86184cded&descriptors=[...]
[...]
- request:
    body: '{"token": "$PROJECT:vstfs:///Classification/TeamProject/5c74978c-8dad-46c0-808a-5ac86184cded",
      "merge": true, "accessControlEntries": [{"allow": 65536, "deny": 0, "descriptor":
      "Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/AccessControlEntries/52d39943-cb85-4d7f-8fa8-c6baac873819
  response:
    body:
      string: '{"count":1,"value":[{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":65536,"deny":0}]}'
    headers:
      activityid:
      - b4174bb8-234f-40df-bdc6-4fa11d0c1d34
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e0b5ceb9-22b3-47a0-84a1-5b4ef3fe5d5a
      x-tfs-session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      x-vss-e2eid:
      - b4174bb8-234f-40df-bdc6-4fa11d0c1d34
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/AccessControlLists/52d39943-cb85-4d7f-8fa8-c6baac873819?token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F5c74978c-8dad-46c0-808a-5ac86184cded&descriptors=Microsoft.IdentityModel.Claims.ClaimsIdentity%3B72f988bf-86f1-41af-91ab-2d7cd011db47%5Cnew_user_test%40outlook.com&includeExtendedInfo=true&recurse=false
  response:
    body:
      string: '{"count":1,"value":[{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/TeamProject/5c74978c-8dad-46c0-808a-5ac86184cded","acesDictionary":{"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com":{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":65536,"deny":0,"extendedInfo":{"effectiveAllow":65536}}},"includeExtendedInfo":true}]}'
    headers:
      activityid:
      - 60bde656-6499-4a88-b879-d358ae50c301
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 1ad39b29-0c88-4c30-acc2-65c06abc65e6
      x-tfs-session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      x-vss-e2eid:
      - 60bde656-6499-4a88-b879-d358ae50c301
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/AccessControlLists/52d39943-cb85-4d7f-8fa8-c6baac873819?token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F5c74978c-8dad-46c0-808a-5ac86184cded&descriptors=Microsoft.IdentityModel.Claims.ClaimsIdentity%3B72f988bf-86f1-41af-91ab-2d7cd011db47%5Cnew_user_test%40outlook.com&includeExtendedInfo=true&recurse=false
  response:
    body:
      string: '{"count":1,"value":[{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/TeamProject/5c74978c-8dad-46c0-808a-5ac86184cded","acesDictionary":{"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com":{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":0,"deny":65536,"extendedInfo":{"effectiveDeny":65536}}},"includeExtendedInfo":true}]}'
    headers:
      activityid:
      - 535c6239-4abe-47a2-82a0-8110aac68309
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - b97ff233-9513-4ce7-8a9b-cbb5938dff9f
      x-tfs-session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      x-vss-e2eid:
      - 535c6239-4abe-47a2-82a0-8110aac68309
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/Permissions/52d39943-cb85-4d7f-8fa8-c6baac873819/65536?descriptor=Microsoft.IdentityModel.Claims.ClaimsIdentity%3B72f988bf-86f1-41af-91ab-2d7cd011db47%5Cnew_user_test%40outlook.com&token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F5c74978c-8dad-46c0-808a-5ac86184cded
  response:
    body:
      string: '{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":0,"deny":0}'
    headers:
      activityid:
      - 1f938499-34de-4605-870f-0f062219ef9f
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f037019e-3fc4-4eca-8c1b-91732621702b
      x-tfs-session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      x-vss-e2eid:
      - 1f938499-34de-4605-870f-0f062219ef9f
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/AccessControlEntries/52d39943-cb85-4d7f-8fa8-c6baac873819?token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F5c74978c-8dad-46c0-808a-5ac86184cded&descriptors=Microsoft.IdentityModel.Claims.ClaimsIdentity%3B72f988bf-86f1-41af-91ab-2d7cd011db47%5Cnew_user_test%40outlook.com
  response:
    body:
      string: 'true'
    headers:
      activityid:
      - 1f938756-34de-4605-870f-0f062219ef9f
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f037019e-3fc4-4eca-8c1b-91732621702b
      x-tfs-session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      x-vss-e2eid:
      - 1f938756-34de-4605-870f-0f062219ef9f
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/5c74978c-8dad-46c0-808a-5ac86184cded
  response:
    body:
      string: '{"id":"384f045c-f394-4744-b71e-f2a10aa9e908","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/384f045c-f394-4744-b71e-f2a10aa9e908"}'
    headers:
      activityid:
      - 18bd4527-7b57-4743-a79e-73a155db377d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 00ff2b08-bd50-434a-893e-43641bdbfe31
      x-tfs-session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      x-vss-e2eid:
      - 18bd4527-7b57-4743-a79e-73a155db377d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/384f045c-f394-4744-b71e-f2a10aa9e908
  response:
    body:
      string: '{"id":"384f045c-f394-4744-b71e-f2a10aa9e908","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/384f045c-f394-4744-b71e-f2a10aa9e908","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/384f045c-f394-4744-b71e-f2a10aa9e908"}}}'
    headers:
      activityid:
      - 535c67ac-4abe-47a2-82a0-8110aac68309
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - b97ff233-9513-4ce7-8a9b-cbb5938dff9f
      x-tfs-session:
      - 2cf2670a-e680-4093-b5ff-e2948604eb0b
      x-vss-e2eid:
      - 535c67ac-4abe-47a2-82a0-8110aac68309
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
