interactions:
- request:
    body: '{"name": "FYcDlQIN"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/TestSupportProject/_apis/git/repositories
  response:
    body:
      string: '{"id":"ced181d3-b4eb-4a94-86c2-7d55eb44b7c8","name":"FYcDlQIN","url":"https://dev.azure.com/v-anvashist0376/e7aa78d1-1ab1-494b-9cd3-fcd119962c9a/_apis/git/repositories/ced181d3-b4eb-4a94-86c2-7d55eb44b7c8","project":{"id":"e7aa78d1-1ab1-494b-9cd3-fcd119962c9a","name":"TestSupportProject","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/e7aa78d1-1ab1-494b-9cd3-fcd119962c9a","state":"wellFormed","revision":488,"visibility":"organization","lastUpdateTime":"2024-01-05T08:25:46.697Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/TestSupportProject/_git/FYcDlQIN","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/TestSupportProject/FYcDlQIN","webUrl":"https://dev.azure.com/v-anvashist0376/TestSupportProject/_git/FYcDlQIN","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 52a81a3f-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52a81a3f-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/TestSupportProject/_apis/git/repositories/ced181d3-b4eb-4a94-86c2-7d55eb44b7c8/importRequests
  response:
    body:
      string: '{"importRequestId":52,"repository":{"id":"ced181d3-b4eb-4a94-86c2-7d55eb44b7c8","name":"FYcDlQIN","url":"https://dev.azure.com/v-anvashist0376/e7aa78d1-1ab1-494b-9cd3-fcd119962c9a/_apis/git/repositories/ced181d3-b4eb-4a94-86c2-7d55eb44b7c8","project":{"id":"e7aa78d1-1ab1-494b-9cd3-fcd119962c9a","name":"TestSupportProject","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/e7aa78d1-1ab1-494b-9cd3-fcd119962c9a","state":"wellFormed","revision":488,"visibility":"organization","lastUpdateTime":"2024-01-05T08:25:46.697Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/TestSupportProject/_git/FYcDlQIN","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/TestSupportProject/FYcDlQIN","webUrl":"https://dev.azure.com/v-anvashist0376/TestSupportProject/_git/FYcDlQIN","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/TestSupportProject/_apis/git/repositories/ced181d3-b4eb-4a94-86c2-7d55eb44b7c8/importRequests/52"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/e7aa78d1-1ab1-494b-9cd3-fcd119962c9a/_apis/git/repositories/ced181d3-b4eb-4a94-86c2-7d55eb44b7c8"}},"url":"https://dev.azure.com/v-anvashist0376/TestSupportProject/_apis/git/repositories/ced181d3-b4eb-4a94-86c2-7d55eb44b7c8/importRequests/52"}'
    headers:
      activityid:
      - 60a1e89c-6499-4a88-b879-d358ae50c301
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 1ad39b29-0c88-4c30-acc2-65c06abc65e6
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 60a1e89c-6499-4a88-b879-d358ae50c301
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/TestSupportProject/_apis/git/repositories/ced181d3-b4eb-4a94-86c2-7d55eb44b7c8/importRequests/52
  response:
    body:
      string: '{"importRequestId":52,"repository":{"id":"ce[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/TestSupportProject/_apis/git/repositories
  response:
    body:
      string: '{"value":[{"id":"087f37a0-5b54-47a6-97fd-e8986fb1df2d","name":"FJABzJVY","url":"https://dev.azure.com/v-anvashist0376/e7aa78d1-1ab1-494b-9cd3-fcd119962c9a/_apis/git/repositories/087f37a0-5b54-47a6-97fd-e8986fb1df2d","project":{"id":"e7aa78d1-1ab1-494b-9cd3-fcd119962c9a","name":"TestSupportProject","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/e7aa78d1-1ab1-494b-9cd3-fcd119962c9a","state":"wellFormed","revision":488,"visibility":"organization","lastUpdateTime":"2024-01-05T08:25:46.697Z"},"defaultBranch":"refs/heads/main","size":1602,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/TestSupportProject/_git/FJABzJVY","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/TestSupportProject/FJABzJVY","webUrl":"https://dev.azure.com/v-anvashist0376/TestSupportProject/_git/FJABzJVY","isDisabled":true,"isInMaintenance":false},{"id":"ced181d3-b4eb-4a94-86c2-7d55eb44b7c8","name":"FYcDlQIN","url":"https://dev.azure.com/v-anvashist0376/e7aa78d1-1ab1-494b-9cd3-fcd119962c9a/_apis/git/repositor[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/TestSupportProject/_apis/git/repositories/ced181d3-b4eb-4a94-86c2-7d55eb44b7c8
  response:
    body:
      string: ''
    headers:
      activityid:
      - 9b9aa23e-d3fb-4495-afec-f6986f9b5e8b
      x-tfs-processid:
      - 709881ea-d5e8-4d50-9f19-9f1bf3301f7f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 9b9aa23e-d3fb-4495-afec-f6986f9b5e8b
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 204
      message: No Content
[...]
