interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/wiql/253d8eb4-0bd1-4c92-adc9-d305c8b99b92
  response:
    body:
      string: '{"queryType":"flat","queryResultType":"workItem","asOf":"2025-01-02T12:27:47.357Z","columns":[{"referenceName":"System.Id","name":"ID","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.Id"},{"referenceName":"System.WorkItemType","name":"Work
        Item Type","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.WorkItemType"},{"referenceName":"System.Title","name":"Title","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.Title"},{"referenceName":"System.AssignedTo","name":"Assigned
        To","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.AssignedTo"},{"referenceName":"System.State","name":"State","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.State"},{"referenceName":"System.Tags","name":"Tags","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.Tags"}],"workItems":[{"id":40,"url":"https://dev.azure.com/v-anvashist0376/b023dc57-8bd5-493a-b139-54ae60562ae9/_apis/wit/workItems/40"},{"id":41,"url":"https://dev.azure.com/v-anvashist0376/b023dc57-8bd5-493a-b139-54ae60562ae9/_apis/wit/workItems/41"}]}'
    headers:
      activityid:
      - 1a481a76-3e8f-4275-97c7-19a163b7a8be
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - d46325bf-7121-4a39-8702-ab1ce62681a7
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-total-count:
      - '2'
      x-vss-e2eid:
      - 1a481a76-3e8f-4275-97c7-19a163b7a8be
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/workItems?ids=40%2C41&fields=System.Id%2CSystem.WorkItemType%2CSystem.Title%2CSystem.AssignedTo%2CSystem.State%2CSystem.Tags&asOf=2025-01-02T12%3A27%3A47.357Z
  response:
    body:
      string: '{"count":2,"value":[{"id":40,"rev":2,"fields":{"System.Id":40,"System.WorkItemType":"Issue","System.State":"To
        Do","System.Title":"Test"},"url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/40"},{"id":41,"rev":5,"fields":{"System.Id":41,"System.WorkItemType":"Task","System.State":"To
        Do","System.Title":"Test2"},"url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/41"}]}'
    headers:
      activityid:
      - a51ab38d-6dba-4468-b3fe-a8111b3f4f4d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - fe83dd1d-7dd8-45d8-adce-57d7f513de62
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - a51ab38d-6dba-4468-b3fe-a8111b3f4f4d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "select [System.Id], [System.WorkItemType], [System.Title], [System.AssignedTo],
      [System.State], [System.Tags] from WorkItems where [System.TeamProject] = ''WorkItemCreateShowUpdateDeleteTests''
      and [System.WorkItemType] = ''Task''"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
  [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/workItems?ids=41&fields=System.Id%2CSystem.WorkItemType%2CSystem.Title%2CSystem.AssignedTo%2CSystem.State%2CSystem.Tags&asOf=2025-01-02T12%3A27%3A47.750Z
  response:
    body:
      string: '{"count":1,"value":[{"id":41,"rev":5,"fields":{"System.Id":41,"System.WorkItemType":"Task","System.State":"To
        Do","System.Title":"Test2"},"url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/41"}]}'
    headers:
      activityid:
      - 1a48e59a-3e8f-4275-97c7-19a163b7a8be
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - d46325bf-7121-4a39-8702-ab1ce62681a7
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1a48e59a-3e8f-4275-97c7-19a163b7a8be
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
