interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 5355dae8-4abe-47a2-82a0-8110aac68309
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - b97ff233-9513-4ce7-8a9b-cbb5938dff9f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 5355dae8-4abe-47a2-82a0-8110aac68309
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "WIRel000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"e731cc9c-a6c4-4901-8eae-c3df31a63de6","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/e731cc9c-a6c4-4901-8eae-c3df31a63de6"}'
    headers:
      activityid:
      - ae2fb28a-38da-43fc-9c9e-b262562ee3d0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7feece6f-b60f-4985-b04b-141c1af88e11
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - ae2fb28a-38da-43fc-9c9e-b262562ee3d0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/e731cc9c-a6c4-4901-8eae-c3df31a63de6
  response:
    body:
      string: '{"id":"e731cc9c-a6c4-4901-8eae-c3df31a63de6","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/e731cc9c-a6c4-4901-8eae-c3df31a63de6","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/e731cc9c-a6c4-4901-8eae-c3df31a63de6"}}}'
    headers:
      activityid:
      - 1f9a4d47-34de-4605-870f-0f062219ef9f
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f037019e-3fc4-4eca-8c1b-91732621702b
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 1f9a4d47-34de-4605-870f-0f062219ef9f
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/WIRel000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"aecfc356-e77a-482d-be08-32086b0a595f","name":"WIRel000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/aecfc356-e77a-482d-be08-32086b0a595f","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1442,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/aecfc356-e77a-482d-be08-32086b0a595f"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/WIRel000001"}},"visibility":"private","defaultTeam":{"id":"3307aa79-49b3-465d-8ae1-486943dfc760","name":"WIRel000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/aecfc356-e77a-482d-be08-32086b0a595f/teams/3307aa79-49b3-465d-8ae1-486943dfc760"},"lastUpdateTime":"2025-01-03T12:22:08.843Z"}'
    headers:
      activityid:
      - b41eaf6f-234f-40df-bdc6-4fa11d0c1d34
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e0b5ceb9-22b3-47a0-84a1-5b4ef3fe5d5a
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - b41eaf6f-234f-40df-bdc6-4fa11d0c1d34
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "add", "path": "/fields/System.Title", "value": "Task_0"}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/WIRel000001/_apis/wit/workItems/$Task
  response:
    body:
      string: '{"id":69,"rev":1,"fields":{"System.AreaPath":"WIRel000001","System.TeamProject":"WIRel000001","System.IterationPath":"WIRel000001","System.WorkItemType":"Task","System.State":"To
        Do","System.Reason":"Added to backlog","System.CreatedDate":"2025-01-03T12:22:10.423Z","System.CreatedBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"System.ChangedDate":"2025-01-03T12:22:10.423Z","System.ChangedBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"System.CommentCount":0,"System.Title":"Task_0","Microsoft.VSTS.Common.StateChangeDate":"2025-01-03T12:22:10.423Z","Microsoft.VSTS.Common.Priority":2},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/aecfc356-e77a-482d-be08-32086b0a595f/_apis/wit/workItems/69"},"workItemUpdates":{"href":"https://dev.azure.com/v-anvashist0376/aecfc356-e77a-482d-be08-32086b0a595f/_apis/wit/workItems/69/updates"},"workItemRevisions":{"href":"https://dev.azure.com/v-anvashist0376/aecfc356-e77a-482d-be08-32086b0a595f/_apis/wit/workItems/69/revisions"},"workItemComments":{"href":"https://dev.azure.com/v-anvashist0376/aecfc356-e77a-482d-be08-32086b0a595f/_apis/wit/workItems/69/comments"},"html":{"href":"https://dev.azure.com/v-anvashist0376/aecfc356-e77a-482d-be08-32086b0a595f/_workitems/edit/69"},"workItemType":{"href":"https://dev.azure.com/v-anvashist0376/aecfc356-e77a-482d-be08-32086b0a595f/_apis/wit/workItemTypes/Task"},"fields":{"href":"https://dev.azure.com/v-anvashist0376/aecfc356-e77a-482d-be08-32086b0a595f/_apis/wit/fields"}},"url":"https://dev.azure.com/v-anvashist0376/aecfc356-e77a-482d-be08-32086b0a595f/_apis/wit/workItems/69"}'
    headers:
      activityid:
      - 1f99b3d2-34de-4605-870f-0f062219ef9f
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f037019e-3fc4-4eca-8c1b-91732621702b
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 1f99b3d2-34de-4605-870f-0f062219ef9f
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/workItemRelationTypes
  response:
    body:
      string: '{"count":21,"value":[{"attributes":{"usage":"workItemLink","editable":true,"enabled":true,"acyclic":true,"directional":true,"singleTarget":true,"topology":"dependency","remote":false,"isForward":true,"oppositeEndReferenceName":"Microsoft.VSTS.Common.Affects-Reverse"},"referenceName":"Microsoft.VSTS.Common.Affects-Forward","name":"Affects","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItemRelationTypes/Microsoft.VSTS.Common.Affects-Forward"},{"attributes":{"usage":"workItemLink","editable":true,"enabled":true,"acyclic":true,"directional":true,"singleTarget":true,"topology":"dependency","remote":false,"isForward":false,"oppositeEndReferenceName":"Microsoft.VSTS.Common.Affects-Forward"},"referenceName":"Microsoft.VSTS.Common.Affects-Reverse","name":"Affected
     [...]
- request:
    body: '{"query": "SELECT [System.Id] FROM WorkItems WHERE ([System.Id] = 70 OR
      [System.Id] = 71 OR [System.Id] = 72)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/wiql
  response:
    body:
      string: '{"queryType":"flat","queryResultType":"workItem","asOf":"2025-01-03T12:22:11.89Z","columns":[{"referenceName":"System.Id","name":"ID","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.Id"}],"workItems":[{"id":70,"url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/70"},{"id":71,"url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/71"},{"id":72,"url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/72"}]}'
    headers:
      activityid:
      - 6b508666-d14a-4008-8dbe-5e46b5e9f379
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 98c229af-85ac-4aef-a1b7-bbe8a1f1ead4
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 6b508666-d14a-4008-8dbe-5e46b5e9f379
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "add", "path": "/relations/-", "value": {"rel": "System.LinkTypes.Hierarchy-Forward",
      "url": "https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/70"}}, {"op":
      "add", "path": "/relations/-", "value": {"rel": "System.LinkTypes.Hierarchy-Forward",
      "url": "https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/71"}}, {"op":
      "add", "path": "/relations/-", "value": {"rel": "System.LinkTypes.Hierarchy-Forward",
      "url": "https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/72"}}]'
    headers:
      Conten[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/69?$expand=All
  response:
    body:
      string: '{"id":69,"rev":1,"fields":{"System.Id":69,"System.AreaId":554,"System.AreaPath":"WIRel000001","System.TeamProject":"WIRel000001","System.NodeName":"WIRel000001","System.AreaLevel1":"WIRel000001","System.Rev":1,"System.AuthorizedDate":"2025-01-03T12:22:10.423Z","System.RevisedDate":"9999-01-01T00:00:00Z","System.IterationId":551,"System.IterationPath":"WIRel000001","System.IterationLevel1":"WIRel000001","System.WorkItemType":"Task","System.State":"To
        Do","System.Reason":"Added to backlog","System.CreatedDate":"2025-01-03T12:22:10.423Z","System.CreatedBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyM[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/69?$expand=relations
  response:
    body:
      string: '{"id":69,"rev":1,"fields":{"System.AreaPath":"WIRel000001","System.TeamProject":"WIRel000001","Syste[...]
[...]
- request:
    body: '[{"op": "remove", "path": "/relations/0"}, {"op": "remove", "path": "/relations/1"}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/69
  response:
    body:
      string: '{"id":69,"rev":1,"field[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/aecfc356-e77a-482d-be08-32086b0a595f
  response:
    body:
      string: '{"id":"a89f7ce5-4d28-4941-8bc8-f53960005117","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/a89f7ce5-4d28-4941-8bc8-f53960005117"}'
    headers:
      activityid:
      - 52afb5e7-a46d-42bf-bc06-7edffe57a89c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - bbca80b2-6a8b-47ee-9d95-d73a6c5b7782
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 52afb5e7-a46d-42bf-bc06-7edffe57a89c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/a89f7ce5-4d28-4941-8bc8-f53960005117
  response:
    body:
      string: '{"id":"a89f7ce5-4d28-4941-8bc8-f53960005117","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/a89f7ce5-4d28-4941-8bc8-f53960005117","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/a89f7ce5-4d28-4941-8bc8-f53960005117"}}}'
    headers:
      activityid:
      - 885d93cb-4992-4ec3-82cc-a21ecd0c2ba8
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - acea8c03-34bb-4ee4-a91f-cbb689df1604
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 885d93cb-4992-4ec3-82cc-a21ecd0c2ba8
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
