interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 7b0ce537-5839-4af0-8b46-03338f5bd43a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3e5d6de8-9a30-4743-9c4c-0d5527f3ca5f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 7b0ce537-5839-4af0-8b46-03338f5bd43a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "policyTest000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"79dc3eb7-d955-42be-8254-0e8cf761cdeb","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/79dc3eb7-d955-42be-8254-0e8cf761cdeb"}'
    headers:
      activityid:
      - f261d119-77aa-4c8d-85b5-02e2a4304438
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - a8e54f57-01b8-4585-a4b3-3b2d681ad009
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - f261d119-77aa-4c8d-85b5-02e2a4304438
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/79dc3eb7-d955-42be-8254-0e8cf761cdeb
  response:
    body:
      string: '{"id":"79dc3eb7-d955-42be-8254-0e8cf761cdeb","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/79dc3eb7-d955-42be-8254-0e8cf761cdeb","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/79dc3eb7-d955-42be-8254-0e8cf761cdeb"}}}'
    headers:
      activityid:
      - 0571bdb6-ff50-438f-90f1-ec11f8baa054
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f955bfb1-3f37-4681-81bb-d7ac11abdc0f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 0571bdb6-ff50-438f-90f1-ec11f8baa054
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/policyTest000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"b1a77717-9e91-4568-8881-2e5063086cf1","name":"policyTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/b1a77717-9e91-4568-8881-2e5063086cf1","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1019,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/b1a77717-9e91-4568-8881-2e5063086cf1"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/policyTest000001"}},"visibility":"private","defaultTeam":{"id":"83658ffd-fa2d-4b99-a008-85e8b9239066","name":"policyTest000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/b1a77717-9e91-4568-8881-2e5063086cf1/teams/83658ffd-fa2d-4b99-a008-85e8b9239066"},"lastUpdateTime":"2025-01-02T12:40:58.567Z"}'
    headers:
      activityid:
      - 336ce751-baca-454c-8c5f-d3021c79e3dd
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f77fcf17-141f-4e77-88af-43d7b2bf292a
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 336ce751-baca-454c-8c5f-d3021c79e3dd
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "policyTest000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/b1a77717-9e91-4568-8881-2e5063086cf1/_apis/git/repositories
  response:
    body:
      string: '{"id":"2ddbe03d-e75f-4d71-af15-6f5444b9c2f3","name":"policyTest000002","url":"https://dev.azure.com/v-anvashist0376/b1a77717-9e91-4568-8881-2e5063086cf1/_apis/git/repositories/2ddbe03d-e75f-4d71-af15-6f5444b9c2f3","project":{"id":"b1a77717-9e91-4568-8881-2e5063086cf1","name":"policyTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/b1a77717-9e91-4568-8881-2e5063086cf1","state":"wellFormed","revision":1019,"visibility":"private","lastUpdateTime":"2025-01-02T12:40:58.567Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/policyTest000001/_git/policyTest000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/policyTest000001/policyTest000002","webUrl":"https://dev.azure.com/v-anvashist0376/policyTest000001/_git/policyTest000002","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 7b0ce003-5839-4af0-8b46-03338f5bd43a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3e5d6de8-9a30-4743-9c4c-0d5527f3ca5f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 7b0ce003-5839-4af0-8b46-03338f5bd43a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://github.com/hkasera/snakes-and-ladders.git"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/b1a77717-9e91-4568-8881-2e5063086cf1/_apis/git/repositories/2ddbe03d-e75f-4d71-af15-6f5444b9c2f3/importRequests
  response:
    body:
      string: '{"importRequestId":30,"repository":{"id":"2ddbe03d-e75f-4d71-af15-6f5444b9c2f3","name":"policyTest000002","url":"https://dev.azure.com/v-anvashist0376/b1a77717-9e91-4568-8881-2e5063086cf1/_apis/git/repositories/2ddbe03d-e75f-4d71-af15-6f5444b9c2f3","project":{"id":"b1a77717-9e91-4568-8881-2e5063086cf1","name":"policyTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/b1a77717-9e91-4568-8881-2e5063086cf1","state":"wellFormed","revision":1019,"visibility":"private","lastUpdateTime":"2025-01-02T12:40:58.567Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/policyTest000001/_git/policyTest000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/policyTest000001/policyTest000002","webUrl":"https://dev.azure.com/v-anvashist0376/policyTest000001/_git/policyTest000002","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://github.com/hkasera/snakes-and-ladders.git","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/b1a77717-9e91-4568-8881-2e5063086cf1/_apis/git/repositories/2ddbe03d-e75f-4d71-af15-6f5444b9c2f3/importRequests/30"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/b1a77717-9e91-4568-8881-2e5063086cf1/_apis/git/repositories/2ddbe03d-e75f-4d71-af15-6f5444b9c2f3"}},"url":"https://dev.azure.com/v-anvashist0376/b1a77717-9e91-4568-8881-2e5063086cf1/_apis/git/repositories/2ddbe03d-e75f-4d71-af15-6f5444b9c2f3/importRequests/30"}'
    headers:
      activityid:
      - a51eba3d-6dba-4468-b3fe-a8111b3f4f4d
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - fe83dd1d-7dd8-45d8-adce-57d7f513de62
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - a51eba3d-6dba-4468-b3fe-a8111b3f4f4d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/b1a77717-9e91-4568-8881-2e5063086cf1/_apis/git/repositories/2ddbe03d-e75f-4d71-af15-6f5444b9c2f3/importRequests/30
  response:
    body:
      string: '{"importRequestId":30,"rep[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/b1a77717-9e91-4568-8881-2e5063086cf1/_apis/policy/configurations
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - 7b0f1ab9-5839-4af0-8b46-03338f5bd43a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3e5d6de8-9a30-4743-9c4c-0d5527f3ca5f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 7b0f1ab9-5839-4af0-8b46-03338f5bd43a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"type": {"id": "fa4e907d-c16b-4a4c-9dfa-4916e5d171ab"}, "isBlocking":
      true, "isEnabled": true, "settings": {"scope": [{"repositoryId": "2ddbe03d-e75f-4d71-af15-6f5444b9c2f3",
      "refName": "refs/heads/master", "matchKind": "exact"}], "useSquashMerge": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/b1a77717-9e91-4568-8881-2e5063086cf1/_apis/policy/configurations
  response:
    body:
      string: '{"createdBy":{"displayName":"Soujanya Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_api/_common/identityImage?id=22157d54-1821-6536-a446-928b06348385","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"createdDate":"2025-01-02T12:41:07.1888448","isEnabled":true,"isBlocking":true,"isDeleted":false,"settings":{"scope":[{"refName":"refs/heads/master","matchKind":"Exact","repositoryId":"2ddbe03d-e75f-4d71-af15-6f5444b9c2f3"}]},"isEnterpriseManaged":false,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/b1a77717-9e91-4568-8881-2e5063086cf1/_apis/policy/configurations/26"},"policyType":{"href":"https://dev.azure.com/v-anvashist0376/b1a77717-9e91-4568-8881-2e5063086cf1/_apis/policy/types/fa4e907d-c16b-4a4c-9dfa-4916e5d171ab"}},"revision":1,"id":26,"url":"https://dev.azure.com/v-anvashist0376/b1a77717-9e91-4568-8881-2e5063086cf1/_apis/policy/configurations/26","type":{"id":"fa4e907d-c16b-4a4c-9dfa-4916e5d171ab","url":"https://dev.azure.com/v-anvashist0376/b1a77717-9e91-4568-8881-2e5063086cf1/_apis/policy/types/fa4e907d-c16b-4a4c-9dfa-4916e5d171ab","displayName":"Require
        a merge strategy"}}'
    headers:
      activityid:
      - 7b0f1a17-5839-4af0-8b46-03338f5bd43a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3e5d6de8-9a30-4743-9c4c-0d5527f3ca5f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 7b0f1a17-5839-4af0-8b46-03338f5bd43a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/policyTest000001/_apis/policy/configurations/26
  response:
    body:
      string: '{"createdBy":{"displayName":"Soujanya Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_api/_common/identityImage?id=22157d54-1821-6536-a446-928b06348385","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"createdDate":"2025-01-02T12:41:07.1888448Z","isEnabled":true,"isBlocking":true,"isDeleted":false,"settings":[...]
{"scope": [{"repositoryId": "2ddbe03d-e75f-4d71-af15-6f5444b9c2f3",
      "refName": "refs/heads/master", "matchKind": "Exact"}], "allowSquash": false,
      "allowRebase": true, "allowRebaseMerge": false, "allowNoFastForward": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/policyTest000001/_apis/policy/configurations/26
  response:
    body:
      string: '{"createdBy":{"displayName":"Soujanya Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstud[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/b1a77717-9e91-4568-8881-2e5063086cf1
  response:
    body:
      string: '{"id":"8abc0c1a-37d2-4737-87a4-c7ff9a7ae56a","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/8abc0c1a-37d2-4737-87a4-c7ff9a7ae56a"}'
    headers:
      activityid:
      - 1f0b9d83-b63a-48d3-8586-64b86ea4c8c0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32cf7954-6736-4ade-874f-4ca9793d92cf
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1f0b9d83-b63a-48d3-8586-64b86ea4c8c0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/8abc0c1a-37d2-4737-87a4-c7ff9a7ae56a
  response:
    body:
      string: '{"id":"8abc0c1a-37d2-4737-87a4-c7ff9a7ae56a","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/8abc0c1a-37d2-4737-87a4-c7ff9a7ae56a","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/8abc0c1a-37d2-4737-87a4-c7ff9a7ae56a"}}}'
    headers:
      activityid:
      - 8ce0c328-75b7-446a-857c-386cccb97db6
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 81515145-17e8-4d31-8df7-702b5a0ae855
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 8ce0c328-75b7-446a-857c-386cccb97db6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
