interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 3c5f3d50-ed24-4d4e-900b-a8abb3949665
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 9aaf6e99-5ba9-4c99-9331-5586cea0560d
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 3c5f3d50-ed24-4d4e-900b-a8abb3949665
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "WIRel000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"56bc7cbc-8830-4de2-bc94-9a6d44cd7433","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/56bc7cbc-8830-4de2-bc94-9a6d44cd7433"}'
    headers:
      activityid:
      - 7b08f5a2-5839-4af0-8b46-03338f5bd43a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3e5d6de8-9a30-4743-9c4c-0d5527f3ca5f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 7b08f5a2-5839-4af0-8b46-03338f5bd43a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/56bc7cbc-8830-4de2-bc94-9a6d44cd7433
  response:
    body:
      string: '{"id":"56bc7cbc-8830-4de2-bc94-9a6d44cd7433","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/56bc7cbc-8830-4de2-bc94-9a6d44cd7433","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/56bc7cbc-8830-4de2-bc94-9a6d44cd7433"}}}'
    headers:
      activityid:
      - 1f0fac3a-b63a-48d3-8586-64b86ea4c8c0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32cf7954-6736-4ade-874f-4ca9793d92cf
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1f0fac3a-b63a-48d3-8586-64b86ea4c8c0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/WIRel000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"d0493053-7339-448d-9beb-375291a8eabe","name":"WIRel000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/d0493053-7339-448d-9beb-375291a8eabe","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":935,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/d0493053-7339-448d-9beb-375291a8eabe"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/WIRel000001"}},"visibility":"private","defaultTeam":{"id":"aec58e11-04e2-4131-9183-9f3edd6d4765","name":"WIRel000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/d0493053-7339-448d-9beb-375291a8eabe/teams/aec58e11-04e2-4131-9183-9f3edd6d4765"},"lastUpdateTime":"2025-01-02T12:27:54.333Z"}'
    headers:
      activityid:
      - a51a8dd8-6dba-4468-b3fe-a8111b3f4f4d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - fe83dd1d-7dd8-45d8-adce-57d7f513de62
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - a51a8dd8-6dba-4468-b3fe-a8111b3f4f4d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "add", "path": "/fields/System.Title", "value": "Task_0"}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/WIRel000001/_apis/wit/workItems/$Task
  response:
    body:
      string: '{"id":51,"rev":1,"fields":{"System.AreaPath":"WIRel000001","System.TeamProject":"WIRel000001","System.IterationPath":"WIRel000001","System.WorkItemType":"Task","System.State":"To
        Do","System.Reason":"Added to backlog","System.CreatedDate":"2025-01-02T12:27:56.063Z","System.CreatedBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"System.ChangedDate":"2025-01-02T12:27:56.063Z","System.ChangedBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"System.CommentCount":0,"System.Title":"Task_0","Microsoft.VSTS.Common.StateChangeDate":"2025-01-02T12:27:56.063Z","Microsoft.VSTS.Common.Priority":2},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/d0493053-7339-448d-9beb-375291a8eabe/_apis/wit/workItems/51"},"workItemUpdates":{"href":"https://dev.azure.com/v-anvashist0376/d0493053-7339-448d-9beb-375291a8eabe/_apis/wit/workItems/51/updates"},"workItemRevisions":{"href":"https://dev.azure.com/v-anvashist0376/d0493053-7339-448d-9beb-375291a8eabe/_apis/wit/workItems/51/revisions"},"workItemComments":{"href":"https://dev.azure.com/v-anvashist0376/d0493053-7339-448d-9beb-375291a8eabe/_apis/wit/workItems/51/comments"},"html":{"href":"https://dev.azure.com/v-anvashist0376/d0493053-7339-448d-9beb-375291a8eabe/_workitems/edit/51"},"workItemType":{"href":"https://dev.azure.com/v-anvashist0376/d0493053-7339-448d-9beb-375291a8eabe/_apis/wit/workItemTypes/Task"},"fields":{"href":"https://dev.azure.com/v-anvashist0376/d0493053-7339-448d-9beb-375291a8eabe/_apis/wit/fields"}},"url":"https://dev.azure.com/v-anvashist0376/d0493053-7339-448d-9beb-375291a8eabe/_apis/wit/workItems/51"}'
    headers:
      activityid:
      - 44d51acf-f79e-4dc7-9ed2-9997804bec46
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8b97cd00-92de-40cb-90b3-9f93d0941d86
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 44d51acf-f79e-4dc7-9ed2-9997804bec46
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/workItemRelationTypes
  response:
    body:
      string: '{"count":21,"value":[{"attributes":{"usage":"workItemLink","editable":true,"enabled":true,"acyclic":true,"directional":true,"singleTarget":true,"topology":"dependency","remote":false,"isForward":true,"oppositeEndReferenceName":"Microsoft.VSTS.Common.Affects-Reverse"},"referenceName":"Microsoft.VSTS.Common.Affects-Forward","name":"Affects","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItemRelationTypes/Microsoft.VSTS.Common.Affects-Forward"},{"attributes":{"usage":"workItemLink","editable":true,"enabled":true,"acyclic":true,"directional":true,"singleTarget":true,"topology":"dependency","remote":false,"isForward":false,"oppositeEndReferenceName":"Microsoft.VSTS.Common.Affects-Forward"},"referenceName":"Microsoft.VSTS.Common.Affects-Reverse","name":"Affected
     [...]
- request:
    body: '{"query": "SELECT [System.Id] FROM WorkItems WHERE ([System.Id] = 52 OR
      [System.Id] = 53 OR [System.Id] = 54)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/wiql
  response:
    body:
      string: '{"queryType":"flat","queryResultType":"workItem","asOf":"2025-01-02T12:27:57.67Z","columns":[{"referenceName":"System.Id","name":"ID","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.Id"}],"workItems":[{"id":52,"url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/52"},{"id":53,"url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/53"},{"id":54,"url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/54"}]}'
    headers:
      activityid:
      - 44d51cf8-f79e-4dc7-9ed2-9997804bec46
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8b97cd00-92de-40cb-90b3-9f93d0941d86
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 44d51cf8-f79e-4dc7-9ed2-9997804bec46
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "add", "path": "/relations/-", "value": {"rel": "System.LinkTypes.Hierarchy-Forward",
      "url": "https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/52"}}, {"op":
      "add", "path": "/relations/-", "value": {"rel": "System.LinkTypes.Hierarchy-Forward",
      "url": "https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/53"}}, {"op":
      "add", "path": "/relations/-", "value": {"rel": "System.LinkTypes.Hierarchy-Forward",
      "url": "https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/54"}}]'
    headers:
      Conten[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/51?$expand=All
  response:
    body:
      string: '{"id":51,"rev":1,"fields":{"System.Id":51,"System.AreaId":344,"System.AreaPath":"WIRel000001","System.TeamProject":"WIRel000001","System.NodeName":"WIRel000001","System.AreaLevel1":"WIRel000001","System.Rev":1,"System.AuthorizedDate":"2025-01-02T12:27:56.063Z","System.RevisedDate":"9999-01-01T00:00:00Z","System.IterationId":341,"System.IterationPath":"WIRel000001","System.IterationLevel1":"WIRel000001","System.WorkItemType":"Task","System.State":"To
        Do","System.Reason":"Added to backlog","System.CreatedDate":"2025-01-02T12:27:56.063Z","System.CreatedBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyM[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/51?$expand=relations
  response:
    body:
      string: '{"id":51,"rev":1,"fields":{"System.AreaPath":"WIRel000001","System.TeamProject":"WIRel000001","Syste[...]
[...]
- request:
    body: '[{"op": "remove", "path": "/relations/0"}, {"op": "remove", "path": "/relations/1"}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/51
  response:
    body:
      string: '{"id":51,"rev":1,"field[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/d0493053-7339-448d-9beb-375291a8eabe
  response:
    body:
      string: '{"id":"62e19362-4e92-4747-bbeb-5ff1f2d94fea","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/62e19362-4e92-4747-bbeb-5ff1f2d94fea"}'
    headers:
      activityid:
      - 0575b3d6-ff50-438f-90f1-ec11f8baa054
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f955bfb1-3f37-4681-81bb-d7ac11abdc0f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 0575b3d6-ff50-438f-90f1-ec11f8baa054
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/62e19362-4e92-4747-bbeb-5ff1f2d94fea
  response:
    body:
      string: '{"id":"62e19362-4e92-4747-bbeb-5ff1f2d94fea","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/62e19362-4e92-4747-bbeb-5ff1f2d94fea","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/62e19362-4e92-4747-bbeb-5ff1f2d94fea"}}}'
    headers:
      activityid:
      - 44d5160a-f79e-4dc7-9ed2-9997804bec46
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8b97cd00-92de-40cb-90b3-9f93d0941d86
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 44d5160a-f79e-4dc7-9ed2-9997804bec46
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
