interactions:
- request:
    body: '{"name": "nXrwweYi"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories
  response:
    body:
      string: '{"id":"6fdbb41a-5724-47d5-b9f5-0f228022e105","name":"nXrwweYi","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105","project":{"id":"b810b0b0-a954-403b-9795-f0c9d0c9cfe9","name":"PullRequestLiveTest","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/b810b0b0-a954-403b-9795-f0c9d0c9cfe9","state":"wellFormed","revision":717,"visibility":"organization","lastUpdateTime":"2024-01-09T16:32:42.21Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/PullRequestLiveTest/_git/nXrwweYi","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/PullRequestLiveTest/nXrwweYi","webUrl":"https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_git/nXrwweYi","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 982a67a3-c4af-4065-bdbc-45d9dbf373b4
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5894399e-e0b1-4e67-969a-1bb96dd83c83
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 982a67a3-c4af-4065-bdbc-45d9dbf373b4
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/importRequests
  response:
    body:
      string: '{"importRequestId":31,"repository":{"id":"6fdbb41a-5724-47d5-b9f5-0f228022e105","name":"nXrwweYi","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105","project":{"id":"b810b0b0-a954-403b-9795-f0c9d0c9cfe9","name":"PullRequestLiveTest","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/b810b0b0-a954-403b-9795-f0c9d0c9cfe9","state":"wellFormed","revision":717,"visibility":"organization","lastUpdateTime":"2024-01-09T16:32:42.21Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/PullRequestLiveTest/_git/nXrwweYi","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/PullRequestLiveTest/nXrwweYi","webUrl":"https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_git/nXrwweYi","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/importRequests/31"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105"}},"url":"https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/importRequests/31"}'
    headers:
      activityid:
      - 8ce0c259-75b7-446a-857c-386cccb97db6
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 81515145-17e8-4d31-8df7-702b5a0ae855
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 8ce0c259-75b7-446a-857c-386cccb97db6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/importRequests/31
  response:
    body:
      string: '{"importRequestId":31,"repository":{"id":"6[...]
[...]
- request:
    body: '{"description": "Sample PR description", "reviewers": [], "sourceRefName":
      "refs/heads/testbranch", "targetRefName": "refs/heads/main", "title": "Fixing
      a bug in cli engine"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/pullRequests
  response:
    body:
      string: '{"repository":{"id":"6fdbb41a-5724-47d5-b9f5-0f228022e105","name":"nXrwweYi","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105","project":{"id":"b810b0b0-a954-403b-9795-f0c9d0c9cfe9","name":"PullRequestLiveTest","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/b810b0b0-a954-403b-9795-f0c9d0c9cfe9","state":"wellFormed","revision":717,"visibility":"organization","lastUpdateTime":"2024-01-09T16:32:42.21Z"},"size":1602,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/PullRequestLiveTest/_git/nXrwweYi","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/PullRequestLiveTest/nXrwweYi","webUrl":"https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_git/nXrwweYi","isDisabled":false,"isInMaintenance":false},"pullRequestId":32,"codeReviewId":32,"status":"active","createdBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_api/_common/identityImage?id=22157d54-1821-6536-a446-928b06348385","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"creationDate":"2025-01-02T12:41:40.4234857Z","title":"Fixing
        a bug in cli engine","description":"Sample PR description","sourceRefName":"refs/heads/testbranch","targetRefName":"refs/heads/main","mergeStatus":"queued","isDraft":false,"mergeId":"3998821a-c2ea-4351-94d3-baf7c7a48e02","lastMergeSourceCommit":{"commitId":"994b4ee248ede8b1d046da3dfd729af05410429c","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/commits/994b4ee248ede8b1d046da3dfd729af05410429c"},"lastMergeTargetCommit":{"commitId":"6c396801caff9a262bdd7e16127365d827811a0f","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/commits/6c396801caff9a262bdd7e16127365d827811a0f"},"reviewers":[],"labels":[],"url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/pullRequests/32","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/pullRequests/32"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105"},"workItems":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/pullRequests/32/workitems"},"sourceBranch":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/refs/heads/testbranch"},"targetBranch":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/refs/heads/main"},"statuses":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/pullRequests/32/statuses"},"sourceCommit":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/commits/994b4ee248ede8b1d046da3dfd729af05410429c"},"targetCommit":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/commits/6c396801caff9a262bdd7e16127365d827811a0f"},"createdBy":{"href":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385"},"iterations":{"href":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/pullRequests/32/iterations"}},"supportsIterations":true,"artifactId":"vstfs:///Git/PullRequestId/b810b0b0-a954-403b-9795-f0c9d0c9cfe9%2f6fdbb41a-5724-47d5-b9f5-0f228022e105%2f32"}'
    headers:
      activityid:
      - 7b0f2da4-5839-4af0-8b46-03338f5bd43a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3e5d6de8-9a30-4743-9c4c-0d5527f3ca5f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 7b0f2da4-5839-4af0-8b46-03338f5bd43a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/git/pullRequests/32
  response:
    body:
      string: '{"repository":{"id":"6fdbb41a-5724-47d5-b9f5-0f228022e105","name":"nXrwweYi","url":"https://dev.azure.com/v-anvashi[...]
- request:
    body: '{"description": "This should be the pr description"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/nXrwweYi/pullRequests/32
  response:
    body:
      string: '{"repository":{"id":"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/pullRequests?searchCriteria.includeLinks=False
  response:
    body:
      string: '{"value":[{"repository":{"id":"6fdbb41a-5724-47d5-b9f5-0f228022e105","name":"nXrwweYi","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105","project":{"id":"b810b0b0-a954-403b-9795-f0c9d0c9cfe9","name":"PullRequestLiveTest","state":"unchanged","visibility":"unchanged","lastUpdateTime":"0001-01-01T00:00:00"}},"pullRequestId":32,"codeReviewId":32,"status":"active","createdBy":{"displayName":"Soujanya
        Bestala ([...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/pullRequests/32?includeCommits=false&includeWorkItemRefs=true
  response:
    bod[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Identities?searchFilter=DirectoryAlias&filterValue=v-sbestala
  response:
    body:
      string: '{"count":1,"value":[{"id":"22157d54-1821-6536-a446-928b06348385","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\v-sbestala@microsoft.com","subjectDescriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","providerDisplayName":"Soujanya
        Bestala","customDisplayName":"Soujanya Bestala (MINDTREE LIMITED)","isActive":true,"members":[],"memberOf":[],"memberIds":[],"properties":{"SchemaClassName":{"$type":"System.String","$value":"User"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"Account":{"$type":"System.String","$value":"v-sbestala@microsoft.com"},"DN":{"$type":"System.String","$value":""},"Mail":{"$type":"System.String","$value":"v-sbestala@microsoft.com"},"SpecialType":{"$type":"System.String","$value":"Generic"},"PUID":{"$type":"System.String","$value":"aad:10032001C4169387"},"ComplianceValidated":{"$type":"System.DateTime","$value":"2025-01-02T00:00:00Z"},"http://schemas.microsoft.com/identity/claims/objectidentifier":{"$type":"System.String","$value":"0cd404e1-d00c-41fe-a96d-63862e46c30b"},"MetadataUpdateDate":{"$type":"System.DateTime","$value":"2023-07-19T11:37:39Z"},"DirectoryAlias":{"$type":"System.String","$value":"v-sbestala"}},"resourceVersion":2,"metaTypeId":0}]}'
    headers:
      activityid:
      - 67570c83-6127-41fa-9076-909e50d1b61d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 06e56c8e-a863-4e1a-9b99-c98bb7d062f4
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 67570c83-6127-41fa-9076-909e50d1b61d
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '[{"id": "22157d54-1821-6536-a446-928b06348385"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/pullRequests/32/reviewers
  response:
    body:
      string: '{"count":1,"value":[{"reviewerUrl":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/pullRequests/32/reviewers/22157d54-1821-6536-a446-928b06348385","vote":0,"hasDeclined":false,"isFlagged":false,"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_api/_common/identityImage?id=22157d54-1821-6536-a446-928b06348385"}]}'
    headers:
      activityid:
      - 8ce0f33b-75b7-446a-857c-386cccb97db6
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 81515145-17e8-4d31-8df7-702b5a0ae855
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 8ce0f33b-75b7-446a-857c-386cccb97db6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/pullRequests/32/reviewers/22157d54-1821-6536-a446-928b06348385
  response:
    body:
      string: ''
    headers:
      activityid:
      - 1a4cb733-3e8f-4275-97c7-19a163b7a8be
      x-tfs-processid:
      - d46325bf-7121-4a39-8702-ab1ce62681a7
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1a4cb733-3e8f-4275-97c7-19a163b7a8be
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/ConnectionData
  response:
    body:
      string: '{"authenticatedUser":{"id":"22157d54-1821-6536-a446-928b06348385","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\v-sbestala@microsoft.com","subjectDescriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","providerDisplayName":"Soujanya
        Bestala","customDisplayName":"Soujanya Bestala (MINDTREE LIMITED)","isActive":true,"properties":{"Account":{"$type":"System.String","$value":"v-sbestala@microsoft.com"}},"resourceVersion":2,"metaTypeId":0},"authorizedUser":{"id":"22157d54-1821-6536-a446-928b06348385","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\v-sbestala@microsoft.com","subjectDescriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","providerDisplayName":"Soujanya
        Bestala","customDisplayName":"Soujanya Bestala (MINDTREE LIMITED)","isActive":true,"properties":{"Account":{"$type":"System.String","$value":"v-sbestala@microsoft.com"}},"resourceVersion":2,"metaTypeId":0},"instanceId":"2ad38d1e-3eaf-4769-931c-3a2da67bbb01","deploymentId":"ed30ce5c-9d0a-f73c-3580-4315c7f84d83","deploymentType":"hosted","locationServiceData":{"serviceOwner":"00025394-6065-48ca-87d9-7f5672854ef7","defaultAccessMappingMoniker":"PublicAccessMapping","lastChangeId":424108075,"lastChangeId64":424108075}}'
    headers:
      activityid:
      - 336ca1c3-baca-454c-8c5f-d3021c79e3dd
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - f77fcf17-141f-4e77-88af-43d7b2bf292a
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 336ca1c3-baca-454c-8c5f-d3021c79e3dd
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"lastMergeSourceCommit": {"commitId": "994b4ee248ede8b1d046da3dfd729af05410429c",
      "url": "https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105/commits/994b4ee248ede8b1d046da3dfd729af05410429c"},
      "status": "completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-49[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/6fdbb41a-5724-47d5-b9f5-0f228022e105
  response:
    body:
      string: ''
    headers:
      activityid:
      - 1f0a6b42-b63a-48d3-8586-64b86ea4c8c0
      x-tfs-processid:
      - 32cf7954-6736-4ade-874f-4ca9793d92cf
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1f0a6b42-b63a-48d3-8586-64b86ea4c8c0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories
  response:
    body:
      string: '{"value":[{"id":"4a2efa60-a068-4dcf-bd45-35c457004a3f","name":"navBuNsF","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/4a2efa60-a068-4dcf-bd45-35c457004a3f","project":{"id":"b810b0b0-a954-403b-9795-f0c9d0c9cfe9","name":"PullRequestLiveTest","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/b810b0b0-a954-403b-9795-f0c9d0c9cfe9","state":"wellFormed","revision":717,"visibility":"organization","lastUpdateTime":"2024-01-09T16:32:42.21Z"},"defaultBranch":"refs/heads/main","size":1839,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/PullRequestLiveTest/_git/navBuNsF","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/PullRequestLiveTest/navBuNsF","webUrl":"https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_git/navBuNsF","isDisabled":false,"isInMaintenance":false},{"id":"e55c17e3-5cd3-48d5-b7da-007e17f06389","name":"PullRequestLiveTest","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_api[...]
