interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/distributedtask/pools?poolName=Hosted&poolType=automation
  response:
    body:
      string: '{"count":1,"value":[{"createdOn":"2023-07-01T07:05:40.847Z","autoProvision":true,"autoUpdate":true,"autoSize":true,"targetSize":1,"agentCloudId":1,"createdBy":{"displayName":"Microsoft.VisualStudio.Services.TFS","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/00000002-0000-8888-8000-000000000000","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/s2s.MDAwMDAwMDItMDAwMC04ODg4LTgwMDAtMDAwMDAwMDAwMDAwQDJjODk1OTA4LTA0ZTAtNDk1Mi04OWZkLTU0YjAwNDZkNjI4OA"}},"id":"00000002-0000-8888-8000-000000000000","uniqueName":"00000002-0000-8888-8000-000000000000@2c895908-04e0-4952-89fd-54b0046d6288","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/s2s.MDAwMDAwMDItMDAwMC04ODg4LTgwMDAtMDAwMDAwMDAwMDAwQDJjODk1OTA4LTA0ZTAtNDk1Mi04OWZkLTU0YjAwNDZkNjI4OA","descriptor":"s2s.MDAwMDAwMDItMDAwMC04ODg4LTgwMDAtMDAwMDAwMDAwMDAwQDJjODk1OTA4LTA0ZTAtNDk1Mi04OWZkLTU0YjAwNDZkNjI4OA"},"owner":{"displayName":"Microsoft.VisualStudio.Services.TFS","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/00000002-0000-8888-8000-000000000000","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/s2s.MDAwMDAwMDItMDAwMC04ODg4LTgwMDAtMDAwMDAwMDAwMDAwQDJjODk1OTA4LTA0ZTAtNDk1Mi04OWZkLTU0YjAwNDZkNjI4OA"}},"id":"00000002-0000-8888-8000-000000000000","uniqueName":"00000002-0000-8888-8000-000000000000@2c895908-04e0-4952-89fd-54b0046d6288","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/s2s.MDAwMDAwMDItMDAwMC04ODg4LTgwMDAtMDAwMDAwMDAwMDAwQDJjODk1OTA4LTA0ZTAtNDk1Mi04OWZkLTU0YjAwNDZkNjI4OA","descriptor":"s2s.MDAwMDAwMDItMDAwMC04ODg4LTgwMDAtMDAwMDAwMDAwMDAwQDJjODk1OTA4LTA0ZTAtNDk1Mi04OWZkLTU0YjAwNDZkNjI4OA"},"id":2,"scope":"2ad38d1e-3eaf-4769-931c-3a2da67bbb01","name":"Hosted","isHosted":true,"poolType":"automation","size":1,"isLegacy":true,"options":"none"}]}'
    headers:
      activityid:
      - 982bfd98-c4af-4065-bdbc-45d9dbf373b4
      content-type:
      - application/json; charset=utf-8; api-version=5.1
      x-tfs-processid:
      - 5894399e-e0b1-4e67-969a-1bb96dd83c83
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 982bfd98-c4af-4065-bdbc-45d9dbf373b4
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/distributedtask/pools/2
  response:
    body:
      string: '{"createdOn":"2023-07-01T07:05:40.847Z","autoProvision":true,"autoUpdate":true,"autoSize":null,"targetSize":1,"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/distributedtask/pools/2/agents
  response:
    body:
      string: '{"count":1,"value":[{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/distributedtask/pools/2/agents/1"},"web":{"href":"https://dev.azure.com/v-anvashist0376/_settings/agentpools?view=jobs&poolId=2&agentId=1"}},"maxParallelism":1,"createdOn":"2023-07-01T07:05:40.867Z","authorization":{"clientId":"876a4fc2-09d5-4055-9021-2f1b5cab4423"},"id":1,"name":"Hosted
        Agent","version":"3.220.5","enabled":true,"status":"offline","provisioningState":"Deallocated"}]}'
    headers:
      activityid:
      - 3c5b5186-ed24-4d4e-900b-a8abb3949665
      content-type:
      - application/json; charset=utf-8; api-version=5.1
      x-tfs-processid:
      - 9aaf6e99-5ba9-4c99-9331-5586cea0560d
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 3c5b5186-ed24-4d4e-900b-a8abb3949665
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/distributedtask/pools/2/agents/1
  response:
    body:
      string: '{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/distributedtask/pools/2/agents/1"},"web":{"href":"https://dev.azure.com/v-anvashist0376/_settings/agentpools?view=jobs&poolId=2&agentId=1"}},"maxParallelism":1,"createdOn":"2023-07-01T07:05:40.867Z","authorization":{"clientId":"876a4fc2-09d5-4055-9021-2f1b5cab4423"},"id":1,"name":"Hosted
        Agent","version":"3.220.5","enabled":true,"status":"offline","provisioningState":"Deallocated"}'
    headers:
      activityid:
      - 1a4c23ab-3e8f-4275-97c7-19a163b7a8be
      content-type:
      - application/json; charset=utf-8; api-version=5.1
      x-tfs-processid:
      - d46325bf-7121-4a39-8702-ab1ce62681a7
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1a4c23ab-3e8f-4275-97c7-19a163b7a8be
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
