interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 7b0cd3bb-5839-4af0-8b46-03338f5bd43a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3e5d6de8-9a30-4743-9c4c-0d5527f3ca5f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 7b0cd3bb-5839-4af0-8b46-03338f5bd43a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "pipelinesTest000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"706e9d02-a6d5-4417-bb5a-080ef239e531","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/706e9d02-a6d5-4417-bb5a-080ef239e531"}'
    headers:
      activityid:
      - 336c353e-baca-454c-8c5f-d3021c79e3dd
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f77fcf17-141f-4e77-88af-43d7b2bf292a
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 336c353e-baca-454c-8c5f-d3021c79e3dd
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/706e9d02-a6d5-4417-bb5a-080ef239e531
  response:
    body:
      string: '{"id":"706e9d02-a6d5-4417-bb5a-080ef239e531","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/706e9d02-a6d5-4417-bb5a-080ef239e531","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/706e9d02-a6d5-4417-bb5a-080ef239e531"}}}'
    headers:
      activityid:
      - 1f0bf67c-b63a-48d3-8586-64b86ea4c8c0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32cf7954-6736-4ade-874f-4ca9793d92cf
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1f0bf67c-b63a-48d3-8586-64b86ea4c8c0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/pipelinesTest000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"40921de1-4c5d-4401-9037-34e4b1f51096","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/40921de1-4c5d-4401-9037-34e4b1f51096","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1009,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/40921de1-4c5d-4401-9037-34e4b1f51096"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001"}},"visibility":"private","defaultTeam":{"id":"7aab1751-25dd-4ee5-88a6-54ced18d3b63","name":"pipelinesTest000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/40921de1-4c5d-4401-9037-34e4b1f51096/teams/7aab1751-25dd-4ee5-88a6-54ced18d3b63"},"lastUpdateTime":"2025-01-02T12:40:26.697Z"}'
    headers:
      activityid:
      - 1f0bcd1e-b63a-48d3-8586-64b86ea4c8c0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32cf7954-6736-4ade-874f-4ca9793d92cf
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1f0bcd1e-b63a-48d3-8586-64b86ea4c8c0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_apis/git/repositories
  response:
    body:
      string: '{"value":[{"id":"fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_apis/git/repositories/fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d","project":{"id":"40921de1-4c5d-4401-9037-34e4b1f51096","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/40921de1-4c5d-4401-9037-34e4b1f51096","state":"wellFormed","revision":1009,"visibility":"private","lastUpdateTime":"2025-01-02T12:40:26.697Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/pipelinesTest000001/pipelinesTest000001","webUrl":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","isDisabled":false,"isInMaintenance":false}],"count":1}'
    headers:
      activityid:
      - 1f0bcc6c-b63a-48d3-8586-64b86ea4c8c0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32cf7954-6736-4ade-874f-4ca9793d92cf
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 1f0bcc6c-b63a-48d3-8586-64b86ea4c8c0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d/importRequests
  response:
    body:
      string: '{"importRequestId":28,"repository":{"id":"fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_apis/git/repositories/fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d","project":{"id":"40921de1-4c5d-4401-9037-34e4b1f51096","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/40921de1-4c5d-4401-9037-34e4b1f51096","state":"wellFormed","revision":1009,"visibility":"private","lastUpdateTime":"2025-01-02T12:40:26.697Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/pipelinesTest000001/pipelinesTest000001","webUrl":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d/importRequests/28"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_apis/git/repositories/fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d"}},"url":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d/importRequests/28"}'
    headers:
      activityid:
      - a51e4521-6dba-4468-b3fe-a8111b3f4f4d
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - fe83dd1d-7dd8-45d8-adce-57d7f513de62
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - a51e4521-6dba-4468-b3fe-a8111b3f4f4d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d/importRequests/28
  response:
    body:
      string: '{"importRequestId":28,"repository":{"id":"f[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions?name=ContosoBuild
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - f261ebd4-77aa-4c8d-85b5-02e2a4304438
      content-type:
      - application/json; charset=utf-8; api-version=5.1
      x-tfs-processid:
      - a8e54f57-01b8-4585-a4b3-3b2d681ad009
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - f261ebd4-77aa-4c8d-85b5-02e2a4304438
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/pipelinesTest000001
  response:
    body:
      string: '{"id":"fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_apis/git/repositories/fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d","project":{"id":"40921de1-4c5d-4401-9037-34e4b1f51096","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/40921de1-4c5d-4401-9037-34e4b1f51096","state":"wellFormed","revision":1009,"visibility":"private","lastUpdateTime":"2025-01-02T12:40:26.697Z"},"defaultBranch":"refs/heads/main","size":1602,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/pipelinesTest000001/pipelinesTest000001","webUrl":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_apis/git/repositories/fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d"},"project":{"href":"vstfs:///Classification/TeamProject/40921de1-4c5d-4401-9037-34e4b1f51096"},"web":{"href":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001"},"ssh":{"href":"git@ssh.dev.azure.com:v3/v-anvashist0376/pipelinesTest000001/pipelinesTest000001"},"commits":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_apis/git/repositories/fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d/commits"},"refs":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_apis/git/repositories/fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d/refs"},"pullRequests":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_apis/git/repositories/fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d/pullRequests"},"items":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_apis/git/repositories/fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d/items"},"pushes":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_apis/git/repositories/fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d/pushes"}},"isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 44d12c80-f79e-4dc7-9ed2-9997804bec46
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8b97cd00-92de-40cb-90b3-9f93d0941d86
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 44d12c80-f79e-4dc7-9ed2-9997804bec46
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/distributedtask/queues
  response:
    body:
      string: '{"count":9,"value":[{"id":793,"projectId":"40921de1-4c5d-4401-9037-34e4b1f51096","name":"Default","pool":{"id":1,"scope":"2ad38d1e-3eaf-4769-931c-3a2da67bbb01","name":"Default","isHosted":false,"poolType":"automation","size":0,"isLegacy":false,"options":"none"}},{"id":794,"projectId":"40921de1-4c5d-4401-9037-34e4b1f51096","name":"Hosted","pool":{"id":2,"scope":"2ad38d1e-3eaf-4769-931c-3a2da67bbb01","name":"Hosted","isHosted":true,"poolType":"automation","size":1,"isLegacy":true,"options":"none"}},{"id":795,"projectId":"40921de1-4c5d-4401-9037-34e4b1f51096","name":"Hosted
        VS2017","pool":{"id":3,"scope":"2ad38d1e-3eaf-4769-931c-3a2da67bbb01","name":"Hosted
        VS2017","isHosted":true,"poolType":"automation","size":1,"isLegacy":true,"o[...]
- request:
    body: '{"name": "ContosoBuild", "queue": {"id": 800}, "description": "Pipeline
      for contoso project", "process": {"yamlFilename": "azure-pipelines.yml", "type":
      2}, "repository": {"defaultBranch": "main", "id": "fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d",
      "name": "pipelinesTest000001", "type": "tfsgit"}, "triggers": [{"settingsSourceType":
      2, "triggerType": 2}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,"maxConcurrentBuildsPerBranch":1,"triggerType":"continuousIntegration"}],"properties":{},"tags":[],"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_apis/build/Definitions/30?revision=1"},"web":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_build/definition?definitionId=30"},"editor":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_build/designer?id=30&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_apis/build/status/30"}},"description":"Pipeline
        for contoso project","jobAuthorizationScope":"projectCollection","process":{"yamlFilename":"azure-pipelines.yml","type":2},"repository":{"id":"fa78c83a-a8dc-4b5c-b74c-85f2df40ce0d","type":"TfsGit","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","defaultBranch":"main","clean":null,"checkoutSubmodules":false},"quality":"definition","authoredBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"drafts":[],"queue":{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/build/Queues/800"}},"id":800,"name":"Hosted
        Ubuntu 1604","url":"https://dev.azure.com/v-anvashist0376/_apis/build/Queues/800","pool":{"id":8,"name":"Hosted
        Ubuntu 1604","isHosted":true}},"id":30,"name":"ContosoBuild","url":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_apis/build/Definitions/30?revision=1","uri":"vstfs:///Build/Definition/30","path":"\\","type":"build","queueStatus":"enabled","revision":1,"createdDate":"2025-01-02T12:40:37.48Z","project":{"id":"40921de1-4c5d-4401-9037-34e4b1f51096","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/40921de1-4c5d-4401-9037-34e4b1f51096","state":"wellFormed","revision":1009,"visibility":"private","lastUpdateTime":"2025-01-02T12:40:26.697Z"}}'
    headers:
      activityid:
      - 05715743-ff50-438f-90f1-ec11f8baa054
      content-type:
      - application/json; charset=utf-8; api-version=5.1
      x-tfs-processid:
      - f955bfb1-3f37-4681-81bb-d7ac11abdc0f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 05715743-ff50-438f-90f1-ec11f8baa054
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"createdDate": "2025-01-02T12:40:37.480Z", "id": 30, "name":
      "ContosoBuild", "path": "\\", "project": {"id": "40921de1-4c5d-4401-9037-34e4b1f51096",
      "lastUpdateTime": "2025-01-02T12:40:26.697Z", "name": "pipelinesTest000001",
      "revision": 1009, "state": "wellFormed", "url": "https://dev.azure.com/v-anvashist0376/_apis/projects/40921de1-4c5d-4401-9037-34e4b1f51096",
      "visibility": "private"}, "queueStatus": "enabled", "revision": 1, "type": "build",
      "uri": "vstfs:///[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions/30
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions/30
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,"maxConcurrentBuildsPerBranch":1,"triggerType":"continuousIntegration"}],"variables":{"var1":{"value":null,"allowOverride":true,"isSecret":true}},"properties":{},"tags":[],"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_apis/build/Definitions/30?revision=2"},"web":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_build/definition?definitionId=30"},"editor":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_build/designer?id=30&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/v-anvashist0376/409[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions/30
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,"maxConcurrentBuildsPerBranch":1,"triggerType":"continuousIntegration"}],"variables":{"var1":{"value":null,"allowOverride":true,"isSecret":true},"var2":{"value":"value2"}},"properties":{},"tags":[],"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_apis/build/Definitions/30?revision=3"},"web":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_build/definition?definitionId=30"},"editor":{"href":"https://dev.azure.com/v-anvashist0376/40921de1-4c5d-4401-9037-34e4b1f51096/_build/designer?id=30&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/v-anva[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions?queryOrder=none
  response:
    body:
      string: '{"count":1,"value":[{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/40921de1-4c5d-4401-9037-34e4b1f51096
  response:
    body:
      string: '{"id":"ae60f6c0-c420-4264-bddd-17dbf3b0d044","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/ae60f6c0-c420-4264-bddd-17dbf3b0d044"}'
    headers:
      activityid:
      - 3c5b1d17-ed24-4d4e-900b-a8abb3949665
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 9aaf6e99-5ba9-4c99-9331-5586cea0560d
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 3c5b1d17-ed24-4d4e-900b-a8abb3949665
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/ae60f6c0-c420-4264-bddd-17dbf3b0d044
  response:
    body:
      string: '{"id":"ae60f6c0-c420-4264-bddd-17dbf3b0d044","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/ae60f6c0-c420-4264-bddd-17dbf3b0d044","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/ae60f6c0-c420-4264-bddd-17dbf3b0d044"}}}'
    headers:
      activityid:
      - 0571499f-ff50-438f-90f1-ec11f8baa054
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f955bfb1-3f37-4681-81bb-d7ac11abdc0f
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 0571499f-ff50-438f-90f1-ec11f8baa054
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
