interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects?stateFilter=all&$top=1&$skip=0
  response:
    body:
      string: '{"count":1,"value":[{"id":"49d97100-fccf-4a40-90d9-fbda74b49cc0","name":"ImportRepoTest","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/49d97100-fccf-4a40-90d9-fbda74b49cc0","state":"wellFormed","revision":508,"visibility":"organization","lastUpdateTime":"2024-01-05T09:23:38.607Z"}]}'
    headers:
      activityid:
      - a51a6a2a-6dba-4468-b3fe-a8111b3f4f4d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-ms-continuationtoken:
      - '1'
      x-tfs-processid:
      - fe83dd1d-7dd8-45d8-adce-57d7f513de62
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - a51a6a2a-6dba-4468-b3fe-a8111b3f4f4d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"GlobalMessageBanners/banner-id-000001": {"message": "Sample banner message",
      "level": "warning", "expirationDate": "2025-01-02T00:00:00+05:30"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/v-anvashist0376/_apis/Settings/Entries/host
  response:
    body:
      string: ''
    headers:
      activityid:
      - f2642a06-77aa-4c8d-85b5-02e2a4304438
      x-tfs-processid:
      - a8e54f57-01b8-4585-a4b3-3b2d681ad009
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - f2642a06-77aa-4c8d-85b5-02e2a4304438
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/Settings/Entries/host/GlobalMessageBanners
  response:
    body:
      string: '{"count":2,"value":{"1es_banner_2ad38d1e-3eaf-4769-931c-3a2da67bbb01":{"level":"Warning","message":"This
        Azure DevOps organization has been identified for the Azure DevOps Footprint
        Reduction initiative, and is scheduled to be deactivated on or after December
        10, 2024. For opt out and more information please visit <a href=\"https://aka.ms/adofootprintreduction#can-i-opt-out-my-organization-from-being-deactivated\">aka.ms/adofootprintreduction</a>.","expirationDate":"12/12/2024
        00:00:00"},"banner-id-000001":{"message":"Sample banner message","level":"warning","expirationDate":"2025-01-01T18:30:00+00:00"}}}'
    headers:
      activityid:
      - 3368559b-baca-454c-8c5f-d3021c79e3dd
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - f77fcf17-141f-4e77-88af-43d7b2bf292a
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 3368559b-baca-454c-8c5f-d3021c79e3dd
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/Settings/Entries/host/GlobalMessageBanners%2Fbanner-id-000001
  response:
    body:
      string: ''
    headers:
      activityid:
      - 3c5f4759-ed24-4d4e-900b-a8abb3949665
      x-tfs-processid:
      - 9aaf6e99-5ba9-4c99-9331-5586cea0560d
      x-tfs-session:
      - 070fec7c-3d88-493b-826f-ab604b9d598a
      x-vss-e2eid:
      - 3c5f4759-ed24-4d4e-900b-a8abb3949665
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 204
      message: No Content
[...]
