interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 9b9a71f8-d3fb-4495-afec-f6986f9b5e8b
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 709881ea-d5e8-4d50-9f19-9f1bf3301f7f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 9b9a71f8-d3fb-4495-afec-f6986f9b5e8b
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "varGroupTests000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"a2414a9b-275d-439d-95cf-dbed0ff81449","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/a2414a9b-275d-439d-95cf-dbed0ff81449"}'
    headers:
      activityid:
      - 88523ea6-4992-4ec3-82cc-a21ecd0c2ba8
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - acea8c03-34bb-4ee4-a91f-cbb689df1604
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 88523ea6-4992-4ec3-82cc-a21ecd0c2ba8
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/a2414a9b-275d-439d-95cf-dbed0ff81449
  response:
    body:
      string: '{"id":"a2414a9b-275d-439d-95cf-dbed0ff81449","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/a2414a9b-275d-439d-95cf-dbed0ff81449","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/a2414a9b-275d-439d-95cf-dbed0ff81449"}}}'
    headers:
      activityid:
      - 6b53d311-d14a-4008-8dbe-5e46b5e9f379
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 98c229af-85ac-4aef-a1b7-bbe8a1f1ead4
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 6b53d311-d14a-4008-8dbe-5e46b5e9f379
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/varGroupTests000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"3bec1023-7123-4b20-a890-ec6aa81fd53b","name":"varGroupTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/3bec1023-7123-4b20-a890-ec6aa81fd53b","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":1556,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/3bec1023-7123-4b20-a890-ec6aa81fd53b"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/varGroupTests000001"}},"visibility":"private","defaultTeam":{"id":"e000b86f-72bd-4675-87e9-6de684eecb05","name":"varGroupTests000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/3bec1023-7123-4b20-a890-ec6aa81fd53b/teams/e000b86f-72bd-4675-87e9-6de684eecb05"},"lastUpdateTime":"2025-01-03T12:31:13.98Z"}'
    headers:
      activityid:
      - 42f4c2d0-f5aa-489b-829b-6b935a83b968
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f0cc34b2-4918-45ae-99cc-98ed5fcaeba0
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 42f4c2d0-f5aa-489b-829b-6b935a83b968
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Sample group description", "name": "group1", "type": "Vsts",
      "variables": {"var1": {"isSecret": false, "value": "value1"}, "var2": {"isSecret":
      false, "value": "value2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"}},"id":7,"type":"Vsts","name":"group1","description":"Sample
        group description","createdBy":{"displayName":null,"id":"22157d54-1821-6536-a446-928b06348385"},"createdOn":"2025-01-03T12:31:15.07Z","modifiedBy":{"displayName":null,"id":"22157d54-1821-6536-a446-928b06348385"},"modifiedOn":"2025-01-03T12:31:15.07Z","isShared":false,"variableGroupProjectReferences":[{"projectReference":{"id":"3bec1023-7123-4b20-a890-ec6aa81fd53b","name":"varGroupTests000001"},"name":"group1","description":"Sample
        group description"}]}'
    headers:
      activityid:
      - 53588c2d-4abe-47a2-82a0-8110aac68309
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - b97ff233-9513-4ce7-8a9b-cbb5938dff9f
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 53588c2d-4abe-47a2-82a0-8110aac68309
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '[{"authorized": true, "id": "7", "name": "group1", "type": "variablegroup"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/build/authorizedresources
  response:
    body:
      string: '{"count":1,"value":[{"type":"variablegroup","id":"7","authorized":true}]}'
    headers:
      activityid:
      - 885235c7-4992-4ec3-82cc-a21ecd0c2ba8
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - acea8c03-34bb-4ee4-a91f-cbb689df1604
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 885235c7-4992-4ec3-82cc-a21ecd0c2ba8
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups?queryOrder=idDescending
  response:
    body:
      string: '{"count":2,"value":[{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"}},"id":8,"type":"Vsts","name":"group2","description":"Sample
        group description","createdBy":{"displayName":"Soujanya Bestala (MINDTREE
        LIMITED)","id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com"},"createdOn":"2025-01-03T12:31:15.3733333Z","modifiedBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com"},"modifiedOn":"2025-01-03T12:31:15.3733333Z","isShared":false,"variableGroupProjectReferences":null},{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"}},"id":7,"type":"Vsts","name":"group1","description":"Sample
        group description","createdBy":{"dis[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups/7
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"}},"id":7,"type":"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/build/authorizedresources?type=variablegroup&id=7
  response:
    body:
      string: '{"count":1,"value":[{"type":"variablegroup","id":"7","authorized":true}]}'
    headers:
      activityid:
      - 60a213f6-6499-4a88-b879-d358ae50c301
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 1ad39b29-0c88-4c30-acc2-65c06abc65e6
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 60a213f6-6499-4a88-b879-d358ae50c301
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"createdBy": {"displayName": "Soujanya Bestala (MINDTREE LIMITED)", "id":
      "22157d54-1821-6536-a446-928b06348385", "uniqueName": "v-sbestala@microsoft.com"},
      "createdOn": "2025-01-03T12:31:15.373333Z", "description": "NewDescription",
      "id": 8, "isShared": false, "modifiedBy": {"displayName": "Soujanya Bestala
      (MINDTREE LIMITED)", "id": "22157d54-1821-6536-a446-928b06348385", "uniqueName":
      "v-sbestala@microsoft.com"}, "modifiedOn": "2025-01-03T12:31:16.316666Z", "name":
      "newGroup", "type": "Vsts", "variables": {"var1": {"value": "value1"}, "var2":
      {"value": "value2"}, "NewVar1": {"value": "NewVal1"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups/8
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"},"NewVar1":{"value[...]
[...]
- request:
    body: '{"createdBy": {"displayName": "Soujanya Bestala (MINDTREE LIMITED)", "id":
      "22157d54-1821-6536-a446-928b06348385", "uniqueName": "v-sbestala@microsoft.com"},
      "createdOn": "2025-01-03T12:31:15.373333Z", "description": "NewDescription",
      "id": 8, "isShared": false, "modifiedBy": {"displayName": "Soujanya Bestala
      (MINDTREE LIMITED)", "id": "22157d54-1821-6536-a446-928b06348385", "uniqueName":
      "v-sbestala@microsoft.com"}, "modifiedOn": "2025-01-03T12:31:16.756666Z", "name":
      "newGroup", "type": "Vsts", "variables": {"var1": {"value": "value1"}, "var2":
      {"value": "value2"}, "NewVar1": {"value": "NewVal1"}, "NewVar2": {"isSecret":
      true, "value": "NewVal2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups/8
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"va[...]
[...]
- request:
    body: '{"createdBy": {"displayName": "Soujanya Bestala (MINDTREE LIMITED)", "id":
      "22157d54-1821-6536-a446-928b06348385", "uniqueName": "v-sbestala@microsoft.com"},
      "createdOn": "2025-01-03T12:31:15.373333Z", "description": "NewDescription",
      "id": 8, "isShared": false, "modifiedBy": {"displayName": "Soujanya Bestala
      (MINDTREE LIMITED)", "id": "22157d54-1821-6536-a446-928b06348385", "uniqueName":
      "v-sbestala@microsoft.com"}, "modifiedOn": "2025-01-03T12:31:16.900Z", "name":
      "newGroup", "type": "Vsts", "variables": {"var1": {"value": "value1"}, "var2":
      {"value": "value2"}, "NewVar2": {"isSecret": true}, "NewVar1Updated": {"isSecret":
      true, "value": "1234"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups/8
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"value[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/3bec1023-7123-4b20-a890-ec6aa81fd53b
  response:
    body:
      string: '{"id":"96d0acb1-dbf4-4784-9943-3e2740c9b5bc","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/96d0acb1-dbf4-4784-9943-3e2740c9b5bc"}'
    headers:
      activityid:
      - 885236bb-4992-4ec3-82cc-a21ecd0c2ba8
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - acea8c03-34bb-4ee4-a91f-cbb689df1604
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 885236bb-4992-4ec3-82cc-a21ecd0c2ba8
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/96d0acb1-dbf4-4784-9943-3e2740c9b5bc
  response:
    body:
      string: '{"id":"96d0acb1-dbf4-4784-9943-3e2740c9b5bc","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/96d0acb1-dbf4-4784-9943-3e2740c9b5bc","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/96d0acb1-dbf4-4784-9943-3e2740c9b5bc"}}}'
    headers:
      activityid:
      - 60a217c7-6499-4a88-b879-d358ae50c301
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 1ad39b29-0c88-4c30-acc2-65c06abc65e6
      x-tfs-session:
      - 529f6bc3-3562-4a41-9e64-5650716c9174
      x-vss-e2eid:
      - 60a217c7-6499-4a88-b879-d358ae50c301
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
